[2020-04-15 21:08] Frijol opened #1 "Apply repo guidelines to this repo"
https://github.com/edgi-govdata-archiving/overview/blob/master/repo_guidelines.md

[2020-04-15 21:30] Frijol opened #2 "Set up project board"
Including automation, which is what I am making this issue to test

[2020-04-15 21:31] Frijol commented on #2
I don't really get it. Maybe you have to make the card and turn it into an issue?

[2020-04-15 21:31] Frijol opened #3 "Test automation of project board"
Does this work?

[2020-04-15 21:32] Frijol commented on #3
Appears to work in this direction. Let's see if it moves to Done if I close this.

[2020-04-15 21:32] #3 closed

[2020-04-15 21:32] Frijol commented on #3
Hooray, it does

[2020-04-15 21:32] #2 closed

[2020-04-15 21:34] Frijol commented on #2
![Screen Shot 2020-04-15 at 2 34 11 PM](https://user-images.githubusercontent.com/454690/79391335-38674c00-7f26-11ea-97ec-1b94606935b9.png)
![Screen Shot 2020-04-15 at 2 33 50 PM](https://user-images.githubusercontent.com/454690/79391336-38ffe280-7f26-11ea-8913-42f905098fd4.png)
Testing the interplay between issues and project board, not super smooth but here are some images I need for the readme

[2020-04-15 21:42] Frijol commented on #2
![Screen Shot 2020-04-15 at 2 41 43 PM](https://user-images.githubusercontent.com/454690/79391908-436eac00-7f27-11ea-97b7-84df31d2c60a.png)

[2020-04-16 19:07] Frijol opened #5 "Create slideshow for Stonybrook event"
┆Issue is synchronized with this [Trello card](https://trello.com/c/EGFiAHSh)

[2020-04-16 19:07] Frijol opened #6 "Create landing page version of website"
Prototyped on Mural https://app.mural.co/t/echoevents4112/m/echoevents4112/1584647071595/060d6b09b0d0f362c72588aada5d9de0cc99fda7

┆Issue is synchronized with this [Trello card](https://trello.com/c/hxFLCr3C)

[2020-04-16 19:13] Frijol opened #7 "Create full website for public events"
* [x] create front page
* [x] create template for other pages
* [x] post event calendar
* [x] create sub pages
* [x] Collect, edit, and write website copy
* [x] feedback meeting about website
* [x] website committee meeting/training on how to manage website

---

Should be drafted at https://www.environmentalenforcementwatch.org/

This Issue should most likely be broken out into several smaller is

[2020-04-17 14:31] lourdesvera opened #8 "Edit landing page copy"
Edit the text on the landing page to reflect the descriptions of our tracks and the goals of the events. We should tone down the language a little bit but still highlight how we are responding to white supremacy-caused environmental injustice.

┆Issue is synchronized with this [Trello card](https://trello.com/c/bC3o3dhH)

[2020-04-20 16:01] lourdesvera opened #9 "Add people to GitHub"
Make sure that everyone involved in EEW planning is on GitHub and using the project board.

┆Issue is synchronized with this [Trello card](https://trello.com/c/1rFJ8GgC)

[2020-04-20 18:11] lourdesvera opened #10 "Start Here Primer"
Link to primer here: [Start Here](https://drive.google.com/open?id=12q28CfslRCow5YxC5DHkWx3S4hemefd5TDsECz2GC3o)

┆Issue is synchronized with this [Trello card](https://trello.com/c/Un5rYznL)

[2020-04-20 18:16] lourdesvera opened #11 "Congressional District Primer"
[Congressional district primer](https://drive.google.com/open?id=17fBEiAVdTJvPmO7ZRC86vfGKkfHMVMHkQnyMJOHqMjw)

┆Issue is synchronized with this [Trello card](https://trello.com/c/wzwOGQYu)

[2020-04-20 18:58] lourdesvera opened #12 "ECHO GIS Primer"
[GIS Primer](https://drive.google.com/open?id=16jV-QIPzn_keDF_CpJtAyrvSOXy3kMwoCBjM-TUljKc)

┆Issue is synchronized with this [Trello card](https://trello.com/c/7MOad8Hv)

[2020-04-20 18:59] lourdesvera opened #13 "ECHO Parameters List"
[ECHO Parameters List](https://drive.google.com/open?id=1e7OXe3J0EnrwA7vI5isHmaKXaDxt2cMa01iDSXhMnSU)

┆Issue is synchronized with this [Trello card](https://trello.com/c/KpttVynU)

[2020-04-20 19:00] lourdesvera opened #14 "EEW Primer Template"
[Primer Template](https://drive.google.com/open?id=1RmJews3gjNYY7umZjKzg6bfhbF3auFSwcVUHzMY1ke8)

┆Issue is synchronized with this [Trello card](https://trello.com/c/fq5spTjH)

[2020-04-20 19:23] lourdesvera opened #15 "Data Science Track Primer Template"
[Data Science Track Primer](https://drive.google.com/open?id=1U5dXweG-YBBzz1FYpOJzLvh6YZWJLivTb7BuaIIFe_o)

┆Issue is synchronized with this [Trello card](https://trello.com/c/naGqTvCy)

[2020-04-20 19:23] lourdesvera opened #16 "Data Visualization Track Primer"
[Data Visualization Track Primer](https://drive.google.com/open?id=17wTMofkoImPMowXaUwodEALDny3VA5YJsE1hp72ERuM)

┆Issue is synchronized with this [Trello card](https://trello.com/c/WXuDPzFp)

[2020-04-20 19:25] lourdesvera opened #17 "Questions and Stories Track Primer"
[Questions and Stories Track](https://drive.google.com/open?id=1mnoOV7DGq5DBCxTaf3h8MMG8lGhOCFXkmoeVK-2ZkSU)

┆Issue is synchronized with this [Trello card](https://trello.com/c/HJqRiR7m)

[2020-04-20 19:25] lourdesvera opened #18 "Research and Contextualization Track Primer"
[Research and Contextualization Track](https://drive.google.com/open?id=1kKb3SBBC7988LEfceDgKld9J5mxWPse2fDz1up8MLZo)

┆Issue is synchronized with this [Trello card](https://trello.com/c/1cjdtVL1)

[2020-04-20 19:26] lourdesvera opened #19 "How to Use ECHO Document"
[How to Use ECHO Document](https://drive.google.com/open?id=1xiNk_Pce3gJCiVkecO3nu0HkxYhXMvupsonlfCS794I)

┆Issue is synchronized with this [Trello card](https://trello.com/c/1zuU99kc)

[2020-04-20 19:26] lourdesvera opened #20 "MySQL_Cheat_Sheet"
[Cheat Sheet for MySQL with popular commands](https://drive.google.com/open?id=1eH6QRstWOp0wdnbyag93jPvXLp1enbxuvWKxPzzEf5E)

┆Issue is synchronized with this [Trello card](https://trello.com/c/PCSciBut)

[2020-04-20 19:28] lourdesvera opened #21 "Description of our Database"
[Description of our Database](https://drive.google.com/open?id=19h3cnLmJShFENDAt4lbYyRM3BQ5h_qBM0C1HCrvM_38)

┆Issue is synchronized with this [Trello card](https://trello.com/c/RZfxaAW1)

[2020-04-20 19:29] lourdesvera opened #22 "Python Basic Commands"
[Python Basic Commands](https://drive.google.com/open?id=1K8yoU2C17erWQyvzY0ob_R5g8GcJutpf0G9agM2lGDI)

┆Issue is synchronized with this [Trello card](https://trello.com/c/eC89LCDj)

[2020-04-21 17:18] Frijol opened #23 "Make a template for completed reports"
┆Issue is synchronized with this [Trello card](https://trello.com/c/rBY3jAVJ)

[2020-04-21 17:25] Frijol opened #24 "Figure out where outputs from different tracks should go"
Currently thinking:

## Local info
* Each location will output a report (report template includes this instruction
* Each report has a section for outputs from each track working on that area, participants paste in content and links as they make them

## Overarching outputs
* There is also a template doc for the whole event with spaces for each track to paste into + a spot for pasting of links to

[2020-04-22 14:00] lourdesvera opened #25 "EEW planning zoom link"
Make one EEW planning zoom link and update slackbot

[2020-04-22 14:18] #25 closed, assigned to lourdesvera

[2020-04-22 14:20] lourdesvera opened #26 "Finalize track descriptions"
Finalize track descriptions and names

┆Issue is synchronized with this [Trello card](https://trello.com/c/tRQBowur)

[2020-04-22 16:27] lourdesvera opened #27 "Announce the events on the EDJ slack"
Create message for EDJ slack AFTER the landing page is finished. This message will be sent to all the members to announce the events and let them know that we will be using the slack for the public facing portion of the events.

┆Issue is synchronized with this [Trello card](https://trello.com/c/UHKAVyVr)

[2020-04-22 18:38] lourdesvera commented on #27
![](https://github.trello.services/images/mini-trello-icon.png) [Project Description Slides](https://trello.com/c/ftXD9dlM/1-project-description-slides)

[2020-04-22 18:43] lourdesvera opened #28 "Onboarding"
┆Issue is synchronized with this [Trello card](https://trello.com/c/yNdosGTS)

[2020-04-22 18:43] lourdesvera opened #29 "Graphic Design"
┆Issue is synchronized with this [Trello card](https://trello.com/c/u3OZcbDq)

[2020-04-22 18:43] lourdesvera opened #30 "Adapt Primers to Template"
┆Issue is synchronized with this [Trello card](https://trello.com/c/QTm2XX0b)

[2020-04-22 18:43] lourdesvera opened #31 "Onboarding Protocols"
┆Issue is synchronized with this [Trello card](https://trello.com/c/y1gd32mM)

[2020-04-22 18:43] lourdesvera commented on #31
➤ Kevin Nguyen commented:

This is a huge undertaking that can't be encapsulated into a single todo and is slowly being taken on by the radical org group

[2020-04-22 18:43] lourdesvera opened #32 "Blog post on citizen sci tools from EPA"
┆Issue is synchronized with this [Trello card](https://trello.com/c/9s8HG2tG)

[2020-04-22 18:43] lourdesvera opened #33 "Sunrise EDJ Project Proposal - Google Docs"
I dropped a bunch from the draft proposal in here, we could pare it down! When to Pitch: Post Earth Day for Boston & Seattle Hubs  Who we are:  The Environmental Data and G  What we’ve accomplished: EDGI created an unprecedented international effort to duplicate and make repositories of public d...

┆Issue is synchronized with this [Trello card](https://trello.com/c/IC1KyIwH)
┆Attachments: <a href

[2020-04-22 18:43] lourdesvera opened #34 "NULab Spring 2020 Call for Proposals | NULab for texts, maps and networks | Northeastern University"
The NULab is once again inviting proposals for seedling grants, travel, and co-sponsorship of events related to digital humanities and computational social science. The deadline is March 1, 2020. P…

┆Issue is synchronized with this [Trello card](https://trello.com/c/tuJMTv24)
┆Attachments: <a href="https://web.northeastern.edu/nulab/nulab-spring-2020-call-for-proposals/">https:&#x2F;&#x2F;web.nor

[2020-04-22 18:44] lourdesvera opened #35 "echo-by-zip.ipynb - Colaboratory"
┆Issue is synchronized with this [Trello card](https://trello.com/c/TF7bwagq)
┆Attachments: <a href="https://colab.research.google.com/github/edgi-govdata-archiving/ECHO-by-Zip-Code/blob/master/echo-by-zip.ipynb#scrollTo=goH-yyN6Hb3J">https:&#x2F;&#x2F;colab.research.google.com&#x2F;github&#x2F;edgi-govdata-archiving&#x2F;ECHO-by-Zip-Code&#x2F;blob&#x2F;master&#x2F;echo-by-zip.ipynb#scrollTo&#x3D;

[2020-04-22 18:44] lourdesvera opened #36 "ECHO Data Possibilities and Feasability - Google Docs"
https://docs.google.com/document/d/1rykQF5tSXKgT1Vy8otCbJcjFZeN22oozKkcdxbOcnvk/edit#heading=h.6g0c00u07g7n (Planning document)   Identify data by State Representative district (FAC_DERIVED_CD113) Census block (FAC_DERIVED_CB2010) EPA region (FAC_EPA_REGION) Watershed (FAC_DERIVED_WBD)  Filter d...

┆Issue is synchronized with this [Trello card](https://trello.com/c/2ijJWujK)
┆Attachments: <a href

[2020-04-22 18:44] lourdesvera opened #37 "NuLab Proposal Document - Google Docs"
┆Issue is synchronized with this [Trello card](https://trello.com/c/bDymLicQ)
┆Attachments: <a href="https://docs.google.com/document/d/1ZOIb2GI0fytGBmxr5n5a0z1e56JJi8HcDb4udGjE8no/edit">NuLab Proposal Document</a>

[2020-04-22 18:44] lourdesvera opened #38 "ECHO Watch Proposal"
┆Issue is synchronized with this [Trello card](https://trello.com/c/ZYZ8EF3S)
┆Attachments: <a href="https://docs.google.com/document/d/1pko4WTxj0L2LzjchuS3Tf28ybBp4IxqRUY-mNvwT3Os/edit?usp=drive_web">ECHO Watch Proposal</a>

[2020-04-22 18:44] lourdesvera opened #39 "EDJ Meeting Minutes - Google Docs"
EDJ Meeting Agenda Join the EDJ Slack Here.  All Welcome  Standing zoom link: https://edgi-video-call-landing-page.herokuapp.com/https://zoom.us/j/962905314  Please add additional agenda items below.  Please send questions or regrets to edj@envirodatagov.org   February 20th, 3030 Present: Cole, K...

┆Issue is synchronized with this [Trello card](https://trello.com/c/kdTwxMH9)
┆Attachments: <a hre

[2020-04-22 18:44] lourdesvera opened #40 "1st Draft of Project Pitch for activists"
https://docs.google.com/document/d/1qP-sh1BDWu3ZE2gAkzSBMBV671kkYszi7_u4tql4ppI/edit#

┆Issue is synchronized with this [Trello card](https://trello.com/c/lpJ4hFJx)

[2020-04-22 18:44] lourdesvera opened #41 "EDJ Zoom Link"
┆Issue is synchronized with this [Trello card](https://trello.com/c/dHNhHNPO)
┆Attachments: <a href="https://edgi-video-call-landing-page.herokuapp.com/https://zoom.us/j/962905314">https:&#x2F;&#x2F;edgi-video-call-landing-page.herokuapp.com&#x2F;https:&#x2F;&#x2F;zoom.us&#x2F;j&#x2F;962905314</a>

[2020-04-22 18:44] lourdesvera opened #42 "E-Mail Templates for Potential Partners"
┆Issue is synchronized with this [Trello card](https://trello.com/c/zMbbxtH7)

[2020-04-22 18:44] lourdesvera opened #43 "Letters of Inquiry"
┆Issue is synchronized with this [Trello card](https://trello.com/c/McDUX65D)

[2020-04-22 18:44] lourdesvera opened #44 "Planning Doc"
┆Issue is synchronized with this [Trello card](https://trello.com/c/BbqALVti)
┆Attachments: <a href="https://docs.google.com/document/d/1rykQF5tSXKgT1Vy8otCbJcjFZeN22oozKkcdxbOcnvk/edit?usp=drive_web">ECHO Hackathon Planning Doc</a>

[2020-04-22 18:44] lourdesvera opened #45 "(Potential) Partnerships"
Fill out our partner info as we connect with them

┆Issue is synchronized with this [Trello card](https://trello.com/c/uBnZAvZD)

[2020-04-22 18:44] lourdesvera opened #46 "Trello Tip: Card labels! What do they mean? (Click for more info)"
## Add labels by clicking the "Labels" button on the right -->
## What are labels?
Labels are great ways to differentiate the type of tasks your team has.

For example:

(yellow) **Copy Request:** Any doc, task, or page that needs a grammatical overview or general words in order for it to be done.

(red) **Priority:** This task needs to be finished first before anything else gets done. Communicate

[2020-04-22 18:44] lourdesvera opened #47 "Trello Tip: 💬For those in-between tasks that are almost done but also awaiting one last step."
┆Issue is synchronized with this [Trello card](https://trello.com/c/wdkSEAm9)

[2020-04-22 18:44] lourdesvera opened #48 "Abstract"
┆Issue is synchronized with this [Trello card](https://trello.com/c/xaV3FgPv)

[2020-04-22 18:44] lourdesvera opened #49 "Trello Tip: ✨ Be proud! You're done! For all your finished tasks that your team has hustled on."
┆Issue is synchronized with this [Trello card](https://trello.com/c/4ucgcSs8)

[2020-04-22 18:44] lourdesvera opened #50 "NuLab Proposal (2 pages)"
┆Issue is synchronized with this [Trello card](https://trello.com/c/84MFDrOi)

[2020-04-22 18:44] lourdesvera opened #51 "Edit email drafts"
┆Issue is synchronized with this [Trello card](https://trello.com/c/IJOOBSuc)

[2020-04-22 18:44] lourdesvera opened #52 "Project Description Slides"
Whoa! Look! It's a checklist—you can create tasks, tag your teammates, and check-off tasks as you go and achieve milestones.

┆Issue is synchronized with this [Trello card](https://trello.com/c/ftXD9dlM)

[2020-04-22 19:05] #46 closed

[2020-04-22 19:05] #47 closed

[2020-04-22 19:05] #49 closed

[2020-04-22 19:06] #28 closed

[2020-04-22 19:06] #33 closed

[2020-04-22 19:06] #34 closed

[2020-04-22 19:06] #36 closed

[2020-04-22 19:06] #37 closed

[2020-04-22 19:06] #39 closed

[2020-04-22 19:06] #40 closed

[2020-04-22 19:06] #41 closed

[2020-04-22 19:06] #50 closed

[2020-04-22 19:06] #51 closed

[2020-04-23 18:13] Frijol commented on #14
wait are we using Trello as well as a Kanban board here in Github? Seems like a lot.

Also, didn't you already make a template?

[2020-04-23 18:49] calderEDJ opened #53 "Add sign-up slide"
Add sign-up slide to slide deck and figure out who will be putting people into breakout rooms

┆Issue is synchronized with this [Trello card](https://trello.com/c/AFtUuIhF)

[2020-04-23 19:39] calderEDJ opened #54 "Add navigational headers for each primer doc"
┆Issue is synchronized with this [Trello card](https://trello.com/c/YGZoKbt0)

[2020-04-23 19:41] calderEDJ opened #55 "Naming Convention"
need naming convention for each new doc in the tracks

┆Issue is synchronized with this [Trello card](https://trello.com/c/hYqLmPFj)

[2020-04-23 19:44] calderEDJ opened #56 "Notes docs"
create notes documents (9 total) for each breakout group. Eg. notes doc for CAA inspections, violations, etc.

┆Issue is synchronized with this [Trello card](https://trello.com/c/DXAsWxnf)

[2020-04-23 19:45] calderEDJ opened #57 "Fix google drive permissions"
Fix google drive permissions for public folders

┆Issue is synchronized with this [Trello card](https://trello.com/c/glpjDaHz)

[2020-04-23 19:46] calderEDJ opened #58 "Naming conventions"
come up with naming conventions for notebooks and apply them

┆Issue is synchronized with this [Trello card](https://trello.com/c/FOcQwQOC)

[2020-04-23 19:47] calderEDJ opened #59 "Announce event"
Announce stonybrook event

┆Issue is synchronized with this [Trello card](https://trello.com/c/osjOiPVL)

[2020-04-23 20:01] ericnost commented on #24
As someone who fell behind with the development of this project, it's unclear to me what the bigger picture of outputs might look like. Currently it sounds like: a Google Drive worth of reports and copied notebooks that maybe make it onto the website at some point? I may have missed this part of the conversation...but I have some ideas about what a public-facing collation of outputs might look lik

[2020-04-23 20:37] ericnost commented on #54
added a draft of what this could look like here:

https://docs.google.com/document/d/15YLFX4-281IsexBGJrnBiCSBnIR5vX_F_BnRs-9hSSE/edit#

[2020-04-24 17:20] lourdesvera opened #60 "Notes document for each track"
┆Issue is synchronized with this [Trello card](https://trello.com/c/UNhGOClJ)

[2020-04-24 17:24] Frijol opened #61 "Add Jupyter instructions to the top of each Notebook"
Pulls some of the instructions from the [Jupyter Notebook primer](https://docs.google.com/document/d/1fAWoUbsISSV-tFZvASbTDE6KRl6Hkeu4p-N2jpQFmt0/edit#heading=h.n6h5st5yipeh) directly into the Notebooks. @lourdesvera has a prototype of this locally, I can go ahead and apply it to all of the notebooks today once she shares it

* [x] [Hazardous Waste](https://github.com/edgi-govdata-archiving/ECHO-H

[2020-04-24 17:25] lourdesvera commented on #10
We need to do another round of rejecting, responding, and editing

[2020-04-24 17:26] lourdesvera opened #62 "Step by step for breakout sessions"
Where will this list go?

List of different breakout rooms?

┆Issue is synchronized with this [Trello card](https://trello.com/c/Q4MlKoM4)

[2020-04-24 17:26] lourdesvera opened #63 "Test the links for CWA inspections and enforcements jupyter notebooks to congressional district primer"
┆Issue is synchronized with this [Trello card](https://trello.com/c/uN6kNPW8)

[2020-04-24 17:33] Frijol commented on #61
Oh it's here! I can work with this https://colab.research.google.com/drive/1iEQZaEYBZD1ji6K7ZXNNRLrPAPmAaiMb

[2020-04-24 17:49] #59 closed

[2020-04-24 18:18] Frijol commented on #61
Heads up I made an image assets repo bc the Google Drive image links were not loading for me https://github.com/edgi-govdata-archiving/EEW-Image-Assets/

[2020-04-24 18:26] lourdesvera opened #64 "Add e-mail entry to sign up sheet"
┆Issue is synchronized with this [Trello card](https://trello.com/c/OeH3XNUw)

[2020-04-24 18:28] Frijol commented on #62
Is this the same as making a primer for moderators? Or do we need a separate issue for that?

[2020-04-24 18:42] ericnost commented on #61
I can do this for Water, with a pull request, since I was also assigned the task of adding more context to the enforcement and inspection notebooks

[2020-04-24 18:51] Frijol commented on #61
I'm working on the RCRA ones

[2020-04-24 19:55] Frijol commented on #61
drafted in https://github.com/edgi-govdata-archiving/ECHO-Hazardous-Waste/pull/2

[2020-04-24 20:06] Frijol commented on #60
Suggestions for notes sections:

* Any sections that surprised you
* Anything that was confusing– what questions do you have about the information in the report? Incl. terms that need more explanation
* What questions do you wish the Notebook answered?

[2020-04-24 20:10] ericnost commented on #63
they work!

[2020-04-24 20:10] #63 closed

[2020-04-24 20:11] ericnost commented on #61
Relevant here: should we clear output before syncing with Colab? On one hand, the example output shows participants what kind of results they should get. OTOH, I find it clutters the notebook and can lead to confusion (did I run this already)?

[2020-04-24 20:21] Frijol commented on #61
Yeah, I was discussing briefly w/ @shansen5 and I think we landed on Cell > All Output > Clear before committing

[2020-04-24 20:23] Frijol commented on #61
might be a good idea to develop some contribution guidelines we can ref across all the notebook repos!

[2020-04-24 20:24] Frijol opened #65 "Make a contribution guide in this repo that applies across all the notebooks"
Current special notes:
* Clear cells before committing to reduce merge conflicts (Cell > All Output > Clear in Jupyter)

┆Issue is synchronized with this [Trello card](https://trello.com/c/a1jezSQP)

[2020-04-24 20:25] Frijol opened #66 "Add a directory in this repo's readme that points to all the notebooks"
There are 3 or maybe 4 other repos (if overall enforcements has its own repo?); modeling off of Web Monitoring, this should be the directory repo

┆Issue is synchronized with this [Trello card](https://trello.com/c/b6t9eTy7)

[2020-04-24 20:31] Frijol commented on #61
Starting on Air as well

[2020-04-24 21:35] Frijol commented on #61
cc @shansen5

[2020-04-25 14:28] ericnost opened #67 "create demo for Jupyter Notebooks"
create a video demo on the basics of using a Jupyter Notebook that can be referenced by participants as they use the notebook (alongside the How To at the top of each nb)

┆Issue is synchronized with this [Trello card](https://trello.com/c/jwRyMMSO)

[2020-04-25 14:32] saraannwylie commented on #24
For the stonybook event we decided participants should copy and save a local copy of their notebooks and drop a url for their copy into to their track note book. I also made a folder for the CSVs [folder for the CSVs:](https://drive.google.com/open?id=1RiOxrYq4TkhfOZwvBws58cP-K4GtA_iP)

[2020-04-25 14:32] #24 closed

[2020-04-25 14:34] saraannwylie commented on #5
Here's [the presentation](https://docs.google.com/presentation/d/14HrFGziF-C_hO9Ar9WwR8WAdblf6cHf0ZPtKKxcN-jQ/edit#slide=id.g739a273cc8_0_5)

[2020-04-25 14:34] #5 closed

[2020-04-25 14:36] saraannwylie commented on #60
Notes documents for each track are [in this folder](https://drive.google.com/drive/folders/1-nomDJZu7GCGv3WWQkuypdgk9zvsjXBe?usp=sharing) and linked in the [sign in sheet](https://docs.google.com/document/d/1XR2_7f6aO-NqAvlVuXCw9iBkrcgiMKevl5AIE5ed9ds/edit#) and [congressional district primer](https://docs.google.com/document/d/17fBEiAVdTJvPmO7ZRC86vfGKkfHMVMHkQnyMJOHqMjw/edit)

[2020-04-25 14:36] #60 closed

[2020-04-25 14:37] saraannwylie commented on #62
It's covered in the steps of each note document for each breakout room

[2020-04-25 14:37] #62 closed

[2020-04-25 14:38] saraannwylie commented on #64
added email sign up in the notes document for each track

[2020-04-25 14:39] #56 closed

[2020-05-05 22:25] Frijol opened #68 "Test reviewnb"
Regular diffing is not very helpful in Github for Jupyter Notebook changes, https://www.reviewnb.com/ was suggested (by the tool's author). This issue is to decide whether to use it cc @shansen5 @ericnost

┆Issue is synchronized with this [Trello card](https://trello.com/c/DCORO9lb)

[2020-05-05 22:28] Frijol commented on #68
I tested it out on one of my repos. The diff is helpful:

![Screen Shot 2020-05-05 at 3 25 43 PM](https://user-images.githubusercontent.com/454690/81121967-c65ea300-8ee4-11ea-996a-8c8ac01cc31f.png)

But I do have to go to the reviewnb site, log in, and click through to the correct repo and pull request.

I'm not sure our need is great enough to merit the extra steps.

My rec would be to not use

[2020-05-07 19:02] Frijol commented on #9
Is this resolved, or is there more we can do here? Do we need a workshop session on using the tool?

[2020-05-07 19:03] Frijol commented on #7
Low priority until after we have a finished public landing page https://github.com/edgi-govdata-archiving/EEW_Planning/issues/6

[2020-05-07 19:06] Frijol opened #69 "Organize meeting on audience/stakeholders"
┆Issue is synchronized with this [Trello card](https://trello.com/c/fenEna9m)

[2020-05-07 19:06] Frijol opened #70 "Organize vote on logo"
Logo drafts from Eli: https://drive.google.com/drive/folders/1yYjxSmp-xz_JFQMVk3GENOS1qlkyV9yQ

Logo by @calderEDJ : https://edgi.slack.com/files/UFGN2FJ85/F0138LEAYCS/eew-logo.png

┆Issue is synchronized with this [Trello card](https://trello.com/c/A9cPIOy2)

[2020-05-07 19:06] Frijol opened #71 "Finish EEW Planning repo readme"
┆Issue is synchronized with this [Trello card](https://trello.com/c/qPdCBwDh)

[2020-05-07 19:07] Frijol commented on #69
@calderEDJ @crgreenleaf are one of you organizing this? Or should I for next Tuesday's meeting?

[2020-05-07 19:08] Frijol commented on #70
Probably depends on https://github.com/edgi-govdata-archiving/EEW_Planning/issues/69

cc @calderEDJ @saraannwylie @lourdesvera @crgreenleaf

[2020-05-07 19:10] Frijol commented on #71
@lourdesvera what's needed here? Should the [tracking spreadsheet](https://docs.google.com/spreadsheets/d/1Z2rBoGqb_SXW6oAu12A6TCWEJGV1pk0YxL13P_Z5Wlw/edit#gid=1601968109) be linked?

[2020-05-07 19:13] Frijol commented on #8
Is this a sub-task of https://github.com/edgi-govdata-archiving/EEW_Planning/issues/6 ?

[2020-05-07 19:33] Frijol opened #72 "Cole/Casey work through Github 101"
Here are the slides! https://docs.google.com/presentation/d/1UsPFtVVGwu8hdp5E-eWEgMhfMigpZ2qpNCkKTdxpeVE/edit We got up to Slide 29

┆Issue is synchronized with this [Trello card](https://trello.com/c/YYRaR9IN)

[2020-05-07 19:34] Frijol commented on #6
Let me know if you want to work with somebody on this, I know I'd want to bounce ideas off of somebody if I were doing it

[2020-05-07 19:40] Frijol commented on #66
This was done by @lourdesvera at https://github.com/edgi-govdata-archiving/Environmental-Enforcement-Watch !

[2020-05-07 19:40] #66 closed

[2020-05-07 19:43] ericnost commented on #16
progress made today!

Still to do:
- Add more categories of outputs
- Add more resources
- Accept changes to the doc

[2020-05-08 20:34] lourdesvera commented on #69
➤ crgreenleaf commented:

lourdes467 @ calderEDJ kelseybreseman1 Next Tuesday works for me?

[2020-05-08 23:10] Frijol commented on #69
drafted a meeting agenda here, lmk if this seems reasonable to you! https://docs.google.com/document/d/1ZraEefQMhF1XWDrZi8Igr9gQUWD2n2LM5n26CLmxbB8/edit#heading=h.gjb62my7cszh

[2020-05-12 17:21] Frijol opened #73 "Add diagram about tracks to right sidebar of website"
On the right sidebar, where the different tracks are described, it would be helpful to have the circular diagram of all of the tracks feeding into each other (cc @lourdesvera )

┆Issue is synchronized with this [Trello card](https://trello.com/c/k1GVNGjO)

[2020-05-12 17:23] Frijol commented on #6
Now that the logo is up, is this site public? Is it ok to send people the link?

[2020-05-12 17:24] Frijol commented on #68
Closing as there's nothing we need to do here. Feel free to reopen conversation

[2020-05-12 17:24] #68 closed

[2020-05-12 17:25] Frijol commented on #43
@lourdesvera can you give more details on this? What is needed?

[2020-05-12 17:26] Frijol commented on #35
@lourdesvera what is the issue/what needs doing here?

[2020-05-12 17:27] Frijol commented on #44
@lourdesvera what is the issue/what needs doing here?

[2020-05-12 17:28] Frijol commented on #45
@lourdesvera are there more details here? Is there an associated doc and/or list of partners?

[2020-05-12 17:29] Frijol commented on #32
@lourdesvera can you give more details here? Is there a post in progress, associated doc? How does this issue get resolved?

[2020-05-12 17:30] Frijol commented on #64
@saraannwylie does the above comment mean that this issue is resolved, or is there more to do here?

[2020-05-12 17:32] Frijol commented on #30
I think I did this a long time ago. Closing, but feel free to reopen if there is more needed (or open new issues for specific primers)

[2020-05-12 17:32] #30 closed

[2020-05-12 17:33] Frijol commented on #29
What specifically needs graphic design? Issue needs more detail in order for someone to claim and/or resolve it

[2020-05-12 17:34] Frijol commented on #52
@lourdesvera the issue description doesn't seem to match the issue title. What needs doing?

[2020-05-12 17:35] Frijol commented on #53
@calderEDJ is this still relevant, or was it for the Stonybrook event?

[2020-05-12 17:36] Frijol commented on #61
I think we got them all!

[2020-05-12 17:36] #61 closed

[2020-05-12 17:36] Frijol commented on #65
Resolved in https://github.com/edgi-govdata-archiving/Environmental-Enforcement-Watch/pull/12

[2020-05-12 17:36] #65 closed

[2020-05-12 17:37] Frijol commented on #55
@calderEDJ @lourdesvera where would be an appropriate place to document naming conventions? Somewhere in this repo, or in a doc?

[2020-05-12 17:38] Frijol commented on #57
@calderEDJ can you be more specific? What needs fixing?

[2020-05-12 17:38] Frijol commented on #48
@lourdesvera what is this issue/what needs doing?

[2020-05-12 17:38] Frijol commented on #58
Is this separate from https://github.com/edgi-govdata-archiving/EEW_Planning/issues/55?

[2020-05-12 17:40] Frijol commented on #26
Did we finish this? I suspect yes (cc @lourdesvera @saraannwylie @crgreenleaf @calderEDJ )

[2020-05-12 17:40] Frijol commented on #42
@lourdesvera what needs to be done here/what is the issue?

[2020-05-12 17:40] Frijol commented on #38
@lourdesvera what needs to be done here/what is the issue?

[2020-05-12 17:41] Frijol commented on #23
Closing this for now as our vision of "completed reports" seems to be evolving/template is not really appropriate at this time

[2020-05-12 17:41] #23 closed

[2020-05-12 17:42] Frijol commented on #9
I believe this is done and I gave a tutorial [Github 101](https://docs.google.com/presentation/d/1UsPFtVVGwu8hdp5E-eWEgMhfMigpZ2qpNCkKTdxpeVE/edit#slide=id.p)

[2020-05-12 17:42] #9 closed

[2020-05-12 17:44] Frijol commented on #10
We seem to have a complete draft of this primer, so closing

[2020-05-12 17:44] #10 closed

[2020-05-12 17:47] Frijol commented on #11
Is there more that needs to be done here, or should we close this until there is a specific, resolvable need?

[2020-05-12 17:49] Frijol commented on #14
Resolving, I'm pretty sure we have a template for primers

[2020-05-12 17:49] #14 closed

[2020-05-12 17:53] Frijol commented on #21
Would be very useful to have even basic documentation of the database/how to use. Do we have anything of that type yet? @shansen5 @sunggheel @ericnost @danpascucci

[2020-05-12 19:04] ericnost commented on #21
At the very least, we have the sql code that describes the columns in each table. Could start from there. Chris also has some (EDGI) Google Docs describing the priority columns.

[2020-05-13 12:09] #32 closed

[2020-05-13 12:12] lourdesvera opened #74 "Edit Op-ed and send to AF"
https://docs.google.com/document/d/11-26gm03aCaYnZVeoARAy_apRM2QHCdHw3xC4nswSb4/edit#

┆Issue is synchronized with this [Trello card](https://trello.com/c/A2zWIaY4)

[2020-05-13 12:13] lourdesvera commented on #74
➤ Lourdes commented:

Edit this, do some more research, and send it off by Friday afternoon.

[2020-05-13 12:13] lourdesvera opened #75 "E-mail Louise about meeting again"
┆Issue is synchronized with this [Trello card](https://trello.com/c/BQMFrrPX)

[2020-05-13 12:13] lourdesvera opened #76 "Photopaper Analyses with XRF Data"
┆Issue is synchronized with this [Trello card](https://trello.com/c/dMLrFAcM)

[2020-05-13 12:13] lourdesvera opened #77 "Transcriptions"
┆Issue is synchronized with this [Trello card](https://trello.com/c/pwNm0JOm)

[2020-05-13 12:13] lourdesvera commented on #77
➤ Lourdes commented:

2nd KARE meeting audio 2

[2020-05-13 12:13] lourdesvera opened #78 "VOC Analyses"
┆Issue is synchronized with this [Trello card](https://trello.com/c/NyZUkp69)

[2020-05-13 12:13] lourdesvera opened #79 "Weather Analyses"
┆Issue is synchronized with this [Trello card](https://trello.com/c/kTg9vkya)

[2020-05-13 12:13] lourdesvera commented on #79
➤ Larissa Morikawa commented:

Who is Taylor?

[2020-05-13 12:21] #75 closed

[2020-05-13 12:21] #76 closed

[2020-05-13 12:21] #77 closed

[2020-05-13 12:21] #79 closed

[2020-05-13 12:21] #78 closed

[2020-05-13 12:21] #74 closed

[2020-05-13 12:21] #31 closed

[2020-05-13 14:58] calderEDJ commented on #72
Thanks, Kelsey, I'll try to find a time this week that works for Casey and I to review this

[2020-05-13 15:03] #73 closed

[2020-05-13 15:04] calderEDJ commented on #26
Is this referring to the track descriptions on the website? I think those are done

[2020-05-13 22:56] lourdesvera commented on #71
@Frijol Yeah, let's link the tracking spreadsheet and planning doc?

[2020-05-13 22:58] #64 closed

[2020-05-13 23:00] lourdesvera commented on #55
In a doc but copied to the Repo? We should have naming conventions for every file that might be saved throughout the course of the event? Jupyter notebooks, CSVs, slides, etc.

Maybe each question in the tracking sheet can have a code or number associated with it and all the documents related to that question will have the code in the file name.

[2020-05-13 23:01] lourdesvera commented on #57
We need to make sure all the folders in the google drive are available for anybody to edit with the link

[2020-05-13 23:03] lourdesvera commented on #52
Weird, it got messed up with the trello. These are the slides to describe each track. We did them for the Stonybrook event. Closing this issue.

[2020-05-13 23:03] #52 closed

[2020-05-13 23:03] lourdesvera commented on #48
We wrote an abstract for the proposals. Done!

[2020-05-13 23:03] #48 closed

[2020-05-13 23:04] lourdesvera commented on #45
We need to create a spreadsheet with a list of partners and their contact information. @saraannwylie who do you think should be responsible for this?

[2020-05-13 23:04] lourdesvera commented on #44
We made the planning doc. Closing this issue.

[2020-05-13 23:04] #44 closed

[2020-05-13 23:04] lourdesvera commented on #43
We wrote a letter of inquiry for Rita Allen. closing this issue.

[2020-05-13 23:04] #43 closed

[2020-05-13 23:05] lourdesvera commented on #42
We need to create e-mail templates that direct potential event partners or people interested in the event to the landing page.

[2020-05-13 23:05] lourdesvera commented on #42
Who would like to claim this?

[2020-05-13 23:06] lourdesvera commented on #38
proposal for funding- done

[2020-05-13 23:06] #38 closed

[2020-05-13 23:06] lourdesvera commented on #29
We need to change the aesthetic on the website and choose the logo. Is there another issue for this?

[2020-05-14 14:22] crgreenleaf commented on #42
We can do this in MailChimp to make it look super professional. @lourdesvera Let me know and we can tag team that

[2020-05-14 14:32] lourdesvera opened #80 "Create place in public GDrive folder to store CSV files and Jupyter notebook files"
Create general folders in environmental_enforcement_watch_public to store Jupiter notebooks and CSV outputs.

The major questions to address are:
1. What will the filename conventions be?
2. Will these jupyter notebooks, CSV outputs, related slides, research docs, and other outcomes be together in the same folder? Or should we have one folder for jupyter notebooks, another for CSV data, other for

[2020-05-14 14:40] lourdesvera opened #81 "Chart EEW Workflow"
Create a google drawing or slide of the workflow from question generating through data science, data viz, research, and storytelling.

In this workflow chart, incorporate possible materials/software that each track would use and their possible (immediate) outputs.

┆Issue is synchronized with this [Trello card](https://trello.com/c/ApCrLzou)

[2020-05-14 14:41] lourdesvera opened #82 "Chart of EEW Public GDrive"
Create a chart/map of the public Google Drive folder once we know the file naming conventions and how we will store the CSVs/Jupyter Notebooks/Etc.

Put this chart on an infographic page with the naming convention explanations for people to refer to during events.

┆Issue is synchronized with this [Trello card](https://trello.com/c/MYO1IXnf)

[2020-05-14 14:57] #72 closed

[2020-05-14 15:00] crgreenleaf commented on #29
@lourdesvera @Frijol At the moment in graphic works we have a sample reports for Louisiana 2nd c district, the congressional report card, and outreach materials. Because all of these are in Canva I think we should make separate issues for each and add the open editing links and make permission open to the whole team. I'll add these as issues.

It might be worth discussing getting Canva premium for

[2020-05-14 15:05] crgreenleaf opened #83 "EEW Report Louisiana 2nd Congressional District"
┆Issue is synchronized with this [Trello card](https://trello.com/c/pC6kwlaA)

[2020-05-14 15:07] crgreenleaf commented on #83
https://www.canva.com/design/DAD8DeOt_ds/G8Gl4K9XdLUlBrGO_-UhOw/edit

[2020-05-14 15:07] crgreenleaf opened #84 "Congressional Report Card"
https://www.canva.com/design/DAD61oZJP6o/0jJtyWCF0SnLaAxrB_QKyw/edit

┆Issue is synchronized with this [Trello card](https://trello.com/c/ykpXslcb)

[2020-05-14 15:14] lourdesvera opened #85 "Data Visualization Experiments"
Create a data visualization from ECHO data. Be creative!

┆Issue is synchronized with this [Trello card](https://trello.com/c/jiN09XJx)

[2020-05-14 15:14] crgreenleaf opened #86 "Sunrise Outreach Document"
https://www.canva.com/design/DAD1hXsRf9I/share/preview?token=ETrDGNLiP1tKG9oV-ZxelA&role=EDITOR&utm_content=DAD1hXsRf9I&utm_campaign=designshare&utm_medium=link&utm_source=sharebutton

┆Issue is synchronized with this [Trello card](https://trello.com/c/bHEf8985)

[2020-05-14 18:35] calderEDJ commented on #85
https://www.canva.com/design/DAD8DeOt_ds/7JttmhvLBLUGzhQbK8HMXA/view?utm_content=DAD8DeOt_ds&utm_campaign=designshare&utm_medium=link&utm_source=sharebutton

[2020-05-14 18:37] saraannwylie commented on #85
Here is my idea: [](https://drive.google.com/file/d/1KgSwEjHh48HVNP5q9sskPf_AttvzTxKS/view?usp=sharing)

[2020-05-14 18:37] lourdesvera commented on #85
![image](https://user-images.githubusercontent.com/23300449/81972298-622c9500-95f0-11ea-8509-f36c5a26faa7.png)

[2020-05-14 18:37] crgreenleaf commented on #85
https://www.canva.com/design/DAD61oZJP6o/share/preview?token=sRVgLq3DEGOHtSjjMAAr7g&role=EDITOR&utm_content=DAD61oZJP6o&utm_campaign=designshare&utm_medium=link&utm_source=sharebutton

[2020-05-14 18:38] ericnost commented on #85
notebook for summarizing and mapping non-compliance: https://www.youtube.com/watch?v=mGdYyj0BVyw (lives on my computer right now, updated to include watershed-level data)

interactive map to show facilities near areas of interest: https://www.youtube.com/watch?v=t8gdRIk1Alo (lives on my computer right now, updated to include watersheds)

another interactive map summarizing and mapping non-complian

[2020-05-14 18:41] Frijol commented on #85
Simple but effective:
![Screen Shot 2020-05-14 at 11 39 15 AM](https://user-images.githubusercontent.com/454690/81972555-9fd0f400-95d7-11ea-98d5-a2f477211625.png)
![Screen Shot 2020-05-14 at 11 39 02 AM](https://user-images.githubusercontent.com/454690/81972556-a0698a80-95d7-11ea-858f-88d43914231f.png)

A little more detailed:
![Screen Shot 2020-05-14 at 11 38 53 AM](https://user-images.githubuser

[2020-05-14 18:47] calderEDJ opened #87 "Canva subscriptions"
Look into the various options for Canva team/individual account pricing. Ideally we could have a few accounts/usernames for event attendees to use for data visualization and report making.

┆Issue is synchronized with this [Trello card](https://trello.com/c/fqmup3rw)

[2020-05-18 17:44] Frijol opened #88 "Create calendar for EEW Project?"
Could go in readme of this repo. Purpose is to keep us all informed. Would be nice to list:

* Any upcoming events
* When @saraannwylie 's course buyout starts/ends
* When @lourdesvera @calder @crgreenleaf official employment starts/ends
* Any events we are considering or milestone dates

┆Issue is synchronized with this [Trello card](https://trello.com/c/Vf6GaTAu)

[2020-05-18 18:38] Frijol opened #89 "Create an onboarding flow for new hires"
Let's make sure we have an explicit process for orienting each new hire to EDGI, EEW, resources, and their role.

Likely starts with materials from the [EDGI onboarding folder](https://drive.google.com/drive/folders/0B2riIxpG2GHEeWFPSjRMcHJ4NFk)

┆Issue is synchronized with this [Trello card](https://trello.com/c/irGnqsRA)

[2020-05-18 18:40] Frijol opened #90 "Set up management structures & explicit responsibilities around summer research assistants"
We can do this at least partially through [management structure design workshops](https://docs.google.com/document/d/1AGaVa6Qkdg21oTLbxSm_zEDOFnKt2tLyqvpZmeQ8TD0/edit#heading=h.9d23dis9tmfj)

* [x] Management Workshop: Orientation to purpose https://github.com/edgi-govdata-archiving/EEW_Planning/issues/137
* [x] Management Workshop: Day-to-day prioritization and collaboration https://github.com/ed

[2020-05-18 18:42] Frijol opened #91 "Determine what roles we're hiring into for the summer"
cc @lourdesvera @saraannwylie

┆Issue is synchronized with this [Trello card](https://trello.com/c/bPmiri2L)

[2020-05-18 18:44] Frijol opened #92 "Make a directory of people in the readme"
Link to readme: https://github.com/edgi-govdata-archiving/EEW_Planning

In the context of this as (a) an open source project and (b) a project with many new contributors, it would be helpful to explicitly spell out who is who, and what they're responsible for such that they can be tagged appropriately

┆Issue is synchronized with this [Trello card](https://trello.com/c/d6lO2dZ6)

[2020-05-18 19:02] Frijol opened #93 "Update the EDGI Handbook for EEW hiring"
[WIP here](https://docs.google.com/document/d/1Wg6Bw3UEwi50t2bbsQmgzaY53hafbDr_sk5Vp1IV07U/edit?pli=1#)

* [x] Org chart in [How We are Structured](https://docs.google.com/document/d/1Wg6Bw3UEwi50t2bbsQmgzaY53hafbDr_sk5Vp1IV07U/edit?pli=1#heading=h.el97iqkfvluj) should get to something that feels at least a bit complete https://github.com/edgi-govdata-archiving/EEW_Planning/issues/132
* [x] Onboar

[2020-05-18 19:02] Frijol commented on #89
https://github.com/edgi-govdata-archiving/EEW_Planning/issues/93 should be part of this

[2020-05-18 20:18] Frijol commented on #6
some notes I had on this concept from a while ago:

# ECHO Watch Website: iterative approach

Philosophy here is this:
![](https://miro.medium.com/max/828/1*qINsG4WH_BDN-viMJUH6Ng.png)

It doesn't have to be everything all at once; let's start with the most basic useful thing we can think of & build from there.

## 1. Landing page

Good for:
* People who might be interested to hear about the event

[2020-05-18 20:19] Frijol commented on #6
cc @EDGI-Comms

[2020-05-18 20:19] Frijol commented on #7
cc @EDGI-Comms

[2020-05-18 20:30] Frijol commented on #92
Here is what I'm thinking:

| Name | Github | Area of responsibility/Tag me on conversations about... |
| ------|--------|----------------------|
| Sara Wylie | @saraannwylie | (add your description) |
| Lourdes Vera | @lourdesvera | |
| EDGI Comms (Kelly) | @EDGI-Comms| |
| Cole Alder | @calderEDJ | |
| Casey Greenleaf | @crgreenleaf | |
| Steve Hansen | @shansen5 | |
| Chris Sellers | @csellers9

[2020-05-19 17:15] Frijol opened #94 "Create documentation around the SBU-hosted database"
Would be useful to document:
* How to access
* API docs
* When it gets updated

mySQL dump may be a starting point:

[code]

┆Issue is synchronized with this [Trello card](https://trello.com/c/CtovVkBV)

[2020-05-19 17:23] #26 closed

[2020-05-19 17:23] lourdesvera commented on #26
We are done, might need some edits but that has to do with website landing page copy.

[2020-05-19 17:24] lourdesvera commented on #85
Cool experiments!

[2020-05-19 17:24] #85 closed

[2020-05-19 17:28] lourdesvera commented on #57
@calderEDJ how are you doing with this?

[2020-05-19 17:32] Frijol commented on #94
Here is the database, which does in fact have some documentation in the readme https://github.com/SBUtltmedia/ECHOEPA_MYSQL

[2020-05-19 17:32] lourdesvera commented on #8
Yes, I'll close this issue and consolidate

[2020-05-19 17:32] #8 closed

[2020-05-19 17:34] lourdesvera commented on #6
We need to do final edits to landing page copy by pasting it into a google doc, editing, commenting with questions, and have people review by Thursday's meeting @calderEDJ

Edit the text on the landing page to reflect the descriptions of our tracks and the goals of the events. We should tone down the language a little bit but still highlight how we are responding to white supremacy-caused environm

[2020-05-19 17:35] Frijol opened #95 "Consider transferring SBU ECHO database scripts repo to EDGI Github organization"
The SBU repo is here: https://github.com/SBUtltmedia/ECHOEPA_MYSQL

@pstdenis has suggested potentially transferring ownership to the EDGI org. I'm happy to assist with that—is there more to discuss, any concerns?

cc @shansen5 @sunggheel

┆Issue is synchronized with this [Trello card](https://trello.com/c/XLh1o5wv)

[2020-05-19 17:36] lourdesvera commented on #6
We also need to add the logo.

[2020-05-19 17:39] lourdesvera commented on #54
I think that's good. Closing this issue.

[2020-05-19 17:39] #54 closed

[2020-05-19 17:59] lourdesvera commented on #92
I think that's a good idea. This is really where we can delineate roles too

[2020-05-19 18:02] Frijol opened #96 "Cataloguing data errors"
We've mentioned cataloguing data errors before but I don't think we have a place to list them. For now, collecting here:

* Typos creating too many "uniques" e.g. in address, "permitting agency" – ref @shansen5 what notebook were you investigating that in?
* GIS issues, have we proven any incorrect locations?
* Other disaggregations of data, @shapironick do you have a good list to add?

[2020-05-19 18:06] lourdesvera commented on #88
orr as a google calendar?

[2020-05-19 18:17] ericnost opened #97 "Feedback on COVID-19 notebook"
Here on Github, in the comments below, please provide a review of the data analysis: https://colab.research.google.com/github/edgi-govdata-archiving/ECHO-COVID19/blob/master/ECHO-COVID19.ipynb

In this Google Doc, please mark up the context: https://docs.google.com/document/d/1cBeuUaS9ORW2ZlvZwiFB9EdpI7pR314RaWfQU9RNwro/edit?usp=sharing

┆Issue is synchronized with this [Trello card](https://trell

[2020-05-19 18:23] #70 closed

[2020-05-19 18:25] csellers9 opened #98 "Preparing individual facilities notebook for public release"
Chris has to provide Steve with text for more description and explanation.  For Steve from Chris: --making possible the downloading of csv files per program/ECHO file by Zip code --differentiating between state and EPA violations, inspections, case enforcement

┆Issue is synchronized with this [Trello card](https://trello.com/c/XaZKIVud)

[2020-05-19 18:26] lourdesvera opened #99 "Spreadsheet/readme of primers"
Create a spreadshet and readme of all the primers we have been developing, a link to the primer, and a description of the primer

┆Issue is synchronized with this [Trello card](https://trello.com/c/WYSgzNRP)

[2020-05-19 18:26] crgreenleaf opened #100 "Sunrise Meeting Power Point"
https://docs.google.com/presentation/d/1PgfH3PS8TS4GTl5CEqO-tFNVIU5vZW8Riv6_CLW_X88/edit#slide=id.g86fac421e6_0_0

┆Issue is synchronized with this [Trello card](https://trello.com/c/4QlUqday)

[2020-05-19 18:26] lourdesvera opened #101 "Storytelling primer"
Based on Thursday's meeting, edit the storytelling primer with suggestions for the storytelling track

┆Issue is synchronized with this [Trello card](https://trello.com/c/TnaJQqb0)

[2020-05-19 18:27] calderEDJ commented on #57
I think this is done.

[2020-05-19 18:27] lourdesvera opened #102 "Event coordinator/web developer hire"
* [x] Post job description
* [x] Review applications
* [x] interview applicants
* [x] hire the web developer

┆Issue is synchronized with this [Trello card](https://trello.com/c/gjIA08E1)

[2020-05-19 18:27] lourdesvera opened #103 "Intern Hiring"
* [x] Review intern applications,
* [x] interview applicants
* [x] draft acceptance and rejection e-mails
* [x] hire interns #146
* [x] plan intern onboarding. https://github.com/edgi-govdata-archiving/EEW_Planning/issues/89

┆Issue is synchronized with this [Trello card](https://trello.com/c/h6sQPiA7)

[2020-05-19 18:29] crgreenleaf opened #104 "Brainstorm Congressional Report JNB outputs"
Create a list of outputs based on data and dovetail with graphic design reports

(To be brainstormed with Sunrise 6/11)

┆Issue is synchronized with this [Trello card](https://trello.com/c/aZ12IiYH)

[2020-05-19 18:30] csellers9 commented on #98
@shansen5 check out this "issue" I started on our indiv facilities notebook; a couple of notes for you!

[2020-05-19 18:32] crgreenleaf opened #105 "Send Friday Zoom link to Sunrise invitees"
┆Issue is synchronized with this [Trello card](https://trello.com/c/QlSLe4aL)

[2020-05-19 18:32] Frijol commented on #93
I think @EDGI-Comms is working on this at the moment

[2020-05-19 18:33] Frijol commented on #91
related to https://github.com/edgi-govdata-archiving/EEW_Planning/issues/103

[2020-05-19 18:36] Frijol opened #106 "Purchase Mural.ly for EDGI?"
@lourdesvera what is the cost? What discussion is necessary? cc @saraannwylie @EDGI-Comms @crgreenleaf @calderEDJ

┆Issue is synchronized with this [Trello card](https://trello.com/c/p5h56dQp)

[2020-05-19 18:36] lourdesvera opened #107 "Create EEW email in namecheap"
Create e-mail through Namecheap.

Info@Environmentalenforcementwatch.org ?

┆Issue is synchronized with this [Trello card](https://trello.com/c/Jpv5z4xs)

[2020-05-19 18:38] lourdesvera opened #108 "Give Casey Zoom account access"
Give Casey access to EDGI zoom account

┆Issue is synchronized with this [Trello card](https://trello.com/c/OW8RlEVC)

[2020-05-19 18:39] calderEDJ opened #109 "Finalize/clean up logo"
Circle back with Eli so he can clean up the winning logo (the current version is a low-res draft that I put together from the other designs

┆Issue is synchronized with this [Trello card](https://trello.com/c/pXwa9H0r)

[2020-05-19 18:46] Frijol commented on #90
For this week: schedule times for this.

[2020-05-19 18:48] crgreenleaf opened #110 "Collect and document Sunrise meeting survey responses"
┆Issue is synchronized with this [Trello card](https://trello.com/c/iAOKJA6v)

[2020-05-19 18:48] csellers9 opened #111 "COVID findings/notebook post"
Hey @ericnost this is for you, though probably repetitious of what you already have.  Just making sure we use this new label for the notebooks.

[2020-05-19 18:55] ericnost commented on #111
nice label! Got it. Going to close this because we have #97

[2020-05-19 18:55] #111 closed

[2020-05-19 19:01] csellers9 opened #112 "Preparing summary of ECHO Survey for EPA Staff"
Sorry given all the other stuff, but would really like to keep awareness of this, as we don't want to wait too long to get back to them.  Was Cole working on this?  others? @calderEDJ

┆Issue is synchronized with this [Trello card](https://trello.com/c/3gXRSnuv)

[2020-05-19 19:09] csellers9 opened #113 "Hiring Jupyter notebook writer"
As entitled, also involving @shansen5 in the loop for the interviewing process @saraannwylie

He is ready and willing.

┆Issue is synchronized with this [Trello card](https://trello.com/c/5fMHCfgH)

[2020-05-19 20:20] shapironick commented on #96
The industry-specific data: sic and NAICS does are often missing and sometimes wrong. so looking at in enforcement in a single industry is very very labor intensive.

We've found upwards of 12 FRS id numbers for a single prison. they aren't cross referenced, we just had to find them all and compile them --is that what you mean by disaggregations?

once we get the prison data retrieval from the SBU

[2020-05-19 20:52] lightandluck commented on #88
Oops, sorry, was just checking things out in the project board. Thought I was just closing the tab, not closing the issue itself!

[2020-05-19 23:42] lourdesvera opened #114 "Outline EEW Personnel and roles"
* [x] Decide who has which role
* [x] Finalize roles in this slide deck: https://docs.google.com/presentation/d/1hYUa9-09a4VlG2gEtXguSsry8Z82xQy5nwLCoi0cclA/edit
* [x] Enter roles in readme https://github.com/edgi-govdata-archiving/EEW_Planning/issues/92
* [x] add this information to onboarding process https://github.com/edgi-govdata-archiving/EEW_Planning/issues/89
* [x] Design roles and responsi

[2020-05-20 14:57] lourdesvera opened #115 "Make Zoom Link the Same for EEW Meetings"
* [x] create zoom link
* [x] update docs to have zoom link
* [x] update slackbot reminder to have zoom link

┆Issue is synchronized with this [Trello card](https://trello.com/c/kq3kwqMa)

[2020-05-20 15:04] lourdesvera commented on #115
Environmental Data Governance Initiative is inviting you to a scheduled Zoom meeting.

Topic: EEW Meetings
Time: This is a recurring meeting Meet anytime

Join Zoom Meeting
https://us02web.zoom.us/j/85087739115

Meeting ID: 850 8773 9115
One tap mobile
+16468769923,,85087739115# US (New York)
+13126266799,,85087739115# US (Chicago)

Dial by your location
        +1 646 876 9923 US (New York)

[2020-05-20 15:08] lourdesvera commented on #115
Herokuapp link: https://edgi-video-call-landing-page.herokuapp.com/https://zoom.us/j/85087739115

[2020-05-20 15:24] lourdesvera commented on #90
This also is dependent on: https://github.com/edgi-govdata-archiving/EEW_Planning/issues/91

[2020-05-20 15:27] lourdesvera commented on #114
Slides: https://docs.google.com/presentation/d/1hYUa9-09a4VlG2gEtXguSsry8Z82xQy5nwLCoi0cclA/edit

[2020-05-20 15:45] lourdesvera commented on #108
Sent user invite to @crgreenleaf

[2020-05-20 17:07] crgreenleaf opened #116 "Create partnership outreach document"
┆Issue is synchronized with this [Trello card](https://trello.com/c/73j8zjHK)

[2020-05-20 17:11] #29 closed

[2020-05-20 19:01] calderEDJ commented on #53
it was just for stonybrook. I'll close the issue

[2020-05-20 19:01] #53 closed

[2020-05-20 19:06] shansen5 commented on #20
Full tutorial:  https://www.mysqltutorial.org/
Tutorial for creating database queries with SQL:  https://www.sqltutorial.org/

[2020-05-20 19:24] lourdesvera commented on #107
trying to coordinate with Aparna to be online at the same time. I have the password but not 2FA

[2020-05-20 19:30] lourdesvera commented on #93
@EDGI-Comms do you need help with this?

[2020-05-20 19:32] lourdesvera commented on #90
@Frijol can I assign you to this too? and let's plan those management structure design workshops?

[2020-05-20 19:33] lourdesvera commented on #88
@Frijol @saraannwylie do you think a google calendar would be good?

[2020-05-20 20:00] lourdesvera opened #117 "Establish track workflow"
*  [x] complete event tracking sheet: https://docs.google.com/spreadsheets/d/1Z2rBoGqb_SXW6oAu12A6TCWEJGV1pk0YxL13P_Z5Wlw/edit?usp=drive_web&ouid=110602273190303993217
* [x] fill in event tracking sheet with outcomes from Stonybrook event
* [x] Event flowchart
* [x] make sure everyone is on board

related to issue #188
┆Issue is synchronized with this [Trello card](https://trello.com/c/h9zOhuk3)

[2020-05-20 20:03] lourdesvera commented on #117
@calderEDJ @crgreenleaf can you help with this?

[2020-05-20 20:40] Frijol commented on #90
Yep! Here's a when2meet: https://www.when2meet.com/?9152866-jyNUy

[2020-05-20 20:41] Frijol commented on #88
seems reasonable to me! Only thing I'd want to be clear on is: is this an internal calendar w/hire dates? Or a public calendar of events? Or do we want both?

cc @EDGI-Comms would play nicely with a Wordpress plugin for our site

[2020-05-20 20:44] Frijol commented on #21
related: https://github.com/edgi-govdata-archiving/EEW_Planning/issues/94

[2020-05-20 20:48] Frijol opened #118 "Make a note in the README that explains the "needs more assignees" label"
Should be in a "how to get started contributing" section. Should link to the label: https://github.com/edgi-govdata-archiving/EEW_Planning/labels/needs%20more%20assignees

[2020-05-20 22:20] Frijol commented on #96
"1" is a valid zip code according to the database

Would be interesting to create a notebook just for identifying data errors

[2020-05-21 13:55] #105 closed

[2020-05-21 17:25] lourdesvera commented on #107
Waiting for @lightandluck to come back from vaycay to get help on this issue. Namecheap server needs to be "basic DNS" to set up e-mail forwarding but it isn't, and I can't access the home page on Wordpress where I go to "mysites" and configure the e-mail forwarding.

Bigger question- where is the hosting information on wordpress?

[2020-05-21 18:22] Frijol commented on #106
Looks like it's $12/mo billed annually so $144 if we want it for the full year, or $16/month so if we want it for half a year that would be $96. I'm leaning toward annual because I suspect this tool will become useful EDGI-wide and we have $1700 budgeted EEW event supplies

[2020-05-21 18:55] lightandluck commented on #107
I've been documenting stuff about our website and how-to's in this folder: https://drive.google.com/drive/u/0/folders/13PvZjbzJkZbM9bcMwxraEQUzbD1B4-j9

[2020-05-21 19:39] EDGI-Comms commented on #106
Is Mural.ly necessary now that we're designing the site on Figma? Seems like it might be good to limit platforms. Or we can save money and use google draw if there are suggestions for layouts of other pages? I can also just take a stab at continuing to lay the pages out on Figma and then ask for feedback/edits?

[2020-05-21 19:47] EDGI-Comms commented on #88
Agree! And we should definitely at least have an external public events calendar.

[2020-05-21 19:50] EDGI-Comms commented on #88
Maybe @calderEDJ can research Google calendar plugins?

[2020-05-21 20:05] EDGI-Comms commented on #93
@lourdesvera Yes that would be great! I haven't had time to look at it. But I will add my comments today from the perspective of a person recently on-boarded.

[2020-05-22 14:35] lourdesvera commented on #107
info@environmentalenforcementwatch.org was created! All e-mails are forwarded to environmentalenforcementwatch@gmail.com. Let me know if you want access to this account.

[2020-05-22 14:35] #107 closed

[2020-05-22 14:35] #115 closed

[2020-05-22 14:35] #108 closed

[2020-05-22 16:18] Frijol commented on #106
Mural.ly is for post-it style collaboration, so kind of a different use case (planning to use for EEW events too). We have money for good tools so I think it's ok to use it!

Discusses Mural purchase in EDJ meeting yesterday & got the go-ahead but then Mural let me make a workspace for free so didn't purchase yet

[2020-05-22 17:07] #100 closed

[2020-05-22 18:12] EDGI-Comms commented on #106
Ah okay! Thought it was just for the website.

[2020-05-22 19:03] lourdesvera commented on #88
We have a nice calendar plugin, so we can put the events on one calendar and internal hiring calendar on another.

[2020-05-22 19:33] lourdesvera commented on #88
EEW planning: https://calendar.google.com/calendar?cid=czNkcmltNzRnbG05dWtsY2E4ZjlqNnZhaGdAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ

EEW events: https://calendar.google.com/calendar?cid=c280bXJsNjk5YWVhNTE5bnQxNzhwNTBwMzhAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ

[2020-05-22 23:58] EDGI-Comms commented on #93
@Frijol I've added a few comments to the Handbook. Please let me know if you need more feedback or would like me to add any sections. This doc is amazing though. I wish I knew about it when I onboarded! Well done! :-)

[2020-05-23 12:43] crgreenleaf opened #119 "Sunrise meeting Zoom recording"
- [x] Lourdes to send Casey Zoom link

- [x] Casey to send Zoom link to Sunrise people

┆Issue is synchronized with this [Trello card](https://trello.com/c/mpOFdkAu)

[2020-05-23 12:51] crgreenleaf opened #120 "Design Roles and Responsibilities document"
https://docs.google.com/presentation/d/1hYUa9-09a4VlG2gEtXguSsry8Z82xQy5nwLCoi0cclA/edit#slide=id.p

┆Issue is synchronized with this [Trello card](https://trello.com/c/2uPdPpq2)

[2020-05-23 12:54] crgreenleaf opened #121 "Greenhouse Gas Reporting Research"
- [x] List of questions for Research/Contextualization intern
- [ ] [Educational slide deck  ](https://docs.google.com/presentation/d/1ZsRVDdc5r-qNhwFz4cQjDkgIVDpzh_qooCkRTREeyl0/edit#slide=id.g884825dbd0_0_197)
- [x] from 6/23 meeting - clear knowledge of GHG reporting program

[GHGRP Reported Data
](https://www.epa.gov/ghgreporting/ghgrp-reported-data)[GHGRP and the Oil and Gas Industry
](https:

[2020-05-24 23:55] saraannwylie opened #122 "License notebooks"
Discuss licensing for notebooks and add licenses to notebooks...suggest creative commons, sticky, with attribution? Also non commerical?

---
(added later by @frijol:)

Add licensing to repos:
* [x] ECHO-CWA
* [ ] ECHO cross-program

┆Issue is synchronized with this [Trello card](https://trello.com/c/PUzS1uP1)

[2020-05-24 23:57] saraannwylie commented on #122
More to discuss here? Add authorship following edgi protcol? Add EDGI logo?

[2020-05-25 02:18] saraannwylie commented on #97
Bug in Covid notebook, cell 15. I tried the COVID notebook for the first time. It ran great until Cell 15. Encountered an error. See screenshot, thought it might have been because I initially asked of May's data but tried it again with April as the month and encountered the same thing. Seemed to make all of the other cells break too up until 18/
<img width="930" alt="Screen Shot 2020-05-24 at 10 1

[2020-05-25 02:23] saraannwylie commented on #97
Second error encountered on cell 22, probably also related to loading info. from the EJ screening tool?
<img width="976" alt="Screen Shot 2020-05-24 at 10 22 50 PM" src="https://user-images.githubusercontent.com/8268933/82772477-3b9b0500-9e0d-11ea-9235-5768f9e68a8e.png">

[2020-05-25 11:42] ericnost commented on #122
And add EEW logo.

[2020-05-25 11:49] ericnost commented on #97
Thanks for flagging this Sara! Sorry you ran into this issue. The problem is that the code tries to find data from April 1 to April 31....but April 31 doesn't exist. So it'll work for May because May has 31 days. Anyway, a stupid bug, but should be easy to fix. In the meantime - everyone - run a month, like March or May, that has 31 days.... :(

[2020-05-25 14:44] saraannwylie commented on #88
draft ideas for timeline milestone for the summer in slide 13 here. [](https://docs.google.com/presentation/d/1hYUa9-09a4VlG2gEtXguSsry8Z82xQy5nwLCoi0cclA/edit#slide=id.g85c9bd05a9_1_32)

[2020-05-25 14:48] saraannwylie commented on #116
Hi @crgreenleaf I started this document [here](https://docs.google.com/spreadsheets/d/1wsj5_c2FBynmB_tg2QUmWwDb6QzB-H3tHa5YgS81iNc/edit#gid=0)

[2020-05-25 15:47] saraannwylie commented on #116
@crgreenleaf and I converged our outreach planning docs[ here](https://docs.google.com/spreadsheets/d/1CP-1j50xlkYOmduMkDwYr3DadhKEHhtw0MGT03Dxm0k/edit#gid=0)

[2020-05-25 16:29] ericnost commented on #96
Adding this, from Leif:

"However, while increased scrutiny has been given to the quality of data in the national systems in recent years, **the data quality before November 2000 has not been assessed and should be considered unknown.**" https://echo.epa.gov/tools/data-downloads <- _We should really consider modifying the notebooks to start in 2001 ->_

"State/Local penalties were not tracked unti

[2020-05-25 19:43] #119 closed

[2020-05-25 19:43] #116 closed

[2020-05-26 00:36] Frijol opened #123 "Make a Sprint board for next week"
┆Issue is synchronized with this [Trello card](https://trello.com/c/oNCwWoOC)

[2020-05-26 13:31] ericnost commented on #122
Circling back to this. In terms of licenses, we are already using GPL-3.0 for the repositories, and I think that covers the notebooks themselves. However, we should add that language to each of the notebooks.

In addition, it appears ECHO-CWA and ECHO-CrossProgram do not currently have licenses, so we should add them.

edgi-govdata-archiving/ECHO-Cross-Program/issues/16
(Actually, the license is w

[2020-05-26 13:52] ericnost commented on #96
This is an important resource: https://echo.epa.gov/resources/echo-data/about-the-data

[2020-05-26 14:05] ericnost commented on #96
From the above ^^^
"Enforcement actions that have not been concluded are not displayed in ECHO"

[2020-05-26 14:22] ericnost commented on #96
See also: https://echo.epa.gov/resources/echo-data/known-data-problems Perhaps we are trying to add to this/make it more accessible.

[2020-05-26 14:32] calderEDJ commented on #109
Eli just responded to my email from last week. They'll clean up the version we voted on and have a few more options based on Sara's suggestions

[2020-05-26 14:41] ericnost commented on #96
Relevant to the CD LA-2 report:
"In some circumstances, Clean Air Act enforcement actions taken by the state of Louisiana have been reported to EPA in duplicate (meaning that one enforcement action and penalty will appear twice on ECHO reports). Louisiana is working to correct this information. (Updated February 2018)"

[2020-05-26 14:53] lourdesvera commented on #117
Created a track workflow here: https://docs.google.com/drawings/d/1ORr30WC9_fZWFbMLvQ6D9IKw3Y1qzGcIAwgVhQURLB0/edit
![Event_Flow](https://user-images.githubusercontent.com/23300449/82915689-11e1fb00-9f3f-11ea-81a5-44ecdd889a19.jpg)

[2020-05-26 15:43] lourdesvera commented on #82
Not really seeing this connecting with naming conventions now. I think it's best just to have a naming conventions table in the readme and primers.

[2020-05-26 15:44] lourdesvera commented on #82
Map of the folder in google draw and attached: https://docs.google.com/drawings/d/1s5a2R_HGV0iETY0tqOwf_zJc5sUQOAL0kbl0Cdphg_0/edit
![Map of this Folder](https://user-images.githubusercontent.com/23300449/82921274-342b4700-9f46-11ea-8e3a-1b47ce77bbe5.jpg)

[2020-05-26 15:44] #82 closed

[2020-05-26 15:47] lourdesvera opened #124 "Make spreadsheet of existing Jupyter notebooks including the title, description, and link to the notebook."
* [x] Create google spreadsheet within the Data Science Track in the EEW planning folder
* [x] Add columns notebook title, description, link, and notes plus any other relevant information.
* [x] Post the link to this table onto GitHub too.
* [x] fill in Jupyter notebooks so far

┆Issue is synchronized with this [Trello card](https://trello.com/c/rJh1GMmn)

[2020-05-26 15:52] lourdesvera commented on #101
Primer here: https://docs.google.com/document/d/1mnoOV7DGq5DBCxTaf3h8MMG8lGhOCFXkmoeVK-2ZkSU/edit

[2020-05-26 16:06] lourdesvera commented on #55
I need help with this

https://docs.google.com/document/d/1EpQTORiuFbbudv9MJHjIghkaAdD8zHy2kHFewswhF3M/edit#

[2020-05-26 16:30] lourdesvera commented on #7
I created the front page and it needs to be reviewed.

[2020-05-26 16:31] lourdesvera commented on #7
* [ ] create front page
* [ ] create template for other pages
* [ ] post event calendar
* [ ] create sub pages
* [ ] Collect, edit, and write website copy

[2020-05-26 16:34] lourdesvera commented on #92
This is related to https://github.com/edgi-govdata-archiving/EEW_Planning/issues/114

[2020-05-26 16:35] lourdesvera commented on #120
How does this differ from https://github.com/edgi-govdata-archiving/EEW_Planning/issues/92?

[2020-05-26 16:36] lourdesvera commented on #120
Added this as a subtask to #92 and closing :-)

[2020-05-26 16:36] #120 closed

[2020-05-26 17:37] Frijol commented on #6
I think we need to remove links to pages we're not using (obvious blank or template text) in order to go live

[2020-05-26 17:56] Frijol opened #125 "Create a single source-of-truth list of the notebooks"
Someone make one source of truth for where the list of all the notebooks lives (don’t start from scratch, there are several pieces of it) and link there from all the others.

Currently there is a list in a doc, a spreadsheet, a readme, others? (Collect links in this issue that have parts of this info)

There should be just one place that all the others link to so we don't get out of sync.

cc @lou

[2020-05-26 18:02] lourdesvera commented on #124
In tabe here: https://docs.google.com/spreadsheets/d/1Z2rBoGqb_SXW6oAu12A6TCWEJGV1pk0YxL13P_Z5Wlw/edit#gid=903191621

[2020-05-26 18:04] Frijol opened #126 "Design intern program"
This is a directory issue for designing a full intern program + discussing what components there are in the execution of an intern program. Here are components of the process I can think of

* [x] Hiring process https://github.com/edgi-govdata-archiving/EEW_Planning/issues/103
* [x] Onboarding process https://github.com/edgi-govdata-archiving/EEW_Planning/issues/89
* [x] Role definition https://gi

[2020-05-26 18:05] ericnost commented on #125
#124

See also edgi-govdata-archiving/Environmental-Enforcement-Watch

[2020-05-26 19:03] crgreenleaf opened #127 "Make list of own EEW Goals"
┆Issue is synchronized with this [Trello card](https://trello.com/c/lvhvzapz)

[2020-05-26 19:04] crgreenleaf opened #128 "Organize meeting to discuss social media guidelines for EEW events"
- [x] Start conversation with Kelly, Gabrielle, & Sara
- [x] Make list of anticipated questions
- [x] Schedule meeting

┆Issue is synchronized with this [Trello card](https://trello.com/c/cjSJsEbV)

[2020-05-26 19:07] crgreenleaf opened #129 "Make EDGI Summer Outreach Plan Slide Deck"
- [x] Outline goals
- [x] Journalists
- [x] EJ Groups
- [x] EPA
- [x] Watershed groups
- [x] Rough timeline

┆Issue is synchronized with this [Trello card](https://trello.com/c/bl2JXxld)
https://docs.google.com/presentation/d/1pY3qL1kB7wQ8GhlkCuKCdHsS56mh40VVY7NJuq_aK-8/edit#slide=id.g85ec5acec9_0_217

[2020-05-26 19:22] ericnost commented on #125
https://docs.google.com/spreadsheets/d/1Z2rBoGqb_SXW6oAu12A6TCWEJGV1pk0YxL13P_Z5Wlw/edit#gid=903191621

[2020-05-26 19:22] #125 closed

[2020-05-26 22:34] #124 closed

[2020-05-26 22:37] Frijol commented on #106
Closing issue because we discussed & decided to buy (even though I didn't need to buy it)

[2020-05-26 22:37] #106 closed

[2020-05-26 22:39] Frijol commented on #93
@lourdesvera can I ping this to you as a next reviewer during this week's sprint?

[2020-05-26 22:47] Frijol opened #130 "Template for Notebooks"
Shall we make a  template for standard layout of Notebooks? Based on current conversation, it would include:

* Title
* EEW logo and linkback to site
* Instructions on use of notebook
* Licensing block

(Anything else?)

[2020-05-26 22:49] Frijol commented on #122
I think you're 100% correct re what license they should have & I do think the licensing for the repo applies. I added checkboxes for licensing to the issue description.

Do you think it's necessary to stick a license header into the notebook itself? Sounds like we might be starting to want a template for notebooks.

I propose this issue can be closed by applying licenses to the two unlicensed repo

[2020-05-26 22:52] Frijol commented on #7
@lourdesvera I copied your checklist up into the issue description because then we get a progress bar for it when we're on the Issues page

[2020-05-28 16:07] lourdesvera commented on #93
We also need to incorporate the EDGI Protocol somehow? I'm confused that the difference between the Handbook and Protocol

https://docs.google.com/document/d/1ji0KcSpBvaxceFAsC6uMsX9A-utiyTVPQUow9v0Oq4o/edit#heading=h.em3jx42bnrkg

[2020-05-28 17:11] lourdesvera commented on #7
Meeting for this on 5/29 at 12pm EST

[2020-05-28 17:20] lourdesvera opened #132 "Make EDGI Organizational Chart"
* [x] Create a chart that has an overview of EDGI working groups, people, and roles in google [draw](https://docs.google.com/drawings/d/1ZK_jFWq6o2VG--KEu-vHUE57NLHuWJD51jZ_kLRv9t0/edit)
* [x] Copy and paste into the EDGI [organizational chart slide deck](https://docs.google.com/drawings/d/1ZK_jFWq6o2VG--KEu-vHUE57NLHuWJD51jZ_kLRv9t0/edit) so that it can be updated easily and linked to in onboardi

[2020-05-28 17:24] lourdesvera opened #133 "EDGI onboarding slide decks"
* [x] Create general [onboarding slide deck](https://docs.google.com/presentation/d/1E5yQxURKXK4cx1DVkCe-pD3B_w6O_gMn106BhqmpA74/edit#slide=id.p)
* [x] Use those slides (keep them linked) to create intern [onboarding slide deck](https://docs.google.com/presentation/d/16MDTC-lpqpeK_Z_4VZsrU_545rcz7qqS4X4AjUcCvgc/edit#slide=id.p)
* [x] link[ organizational chart](https://docs.google.com/presentation

[2020-05-28 17:26] lourdesvera commented on #126
I created a milestone that this relates to, "solid onboarding"

[2020-05-28 17:29] lourdesvera commented on #123
I made one here: https://github.com/edgi-govdata-archiving/EEW_Planning/projects/4?add_cards_query=is%3Aopen

I sort of like the review columns?

[2020-05-28 17:30] Frijol commented on #89
Use this video as part of onboarding? Covers intros w key people + hits all the big points about what we're doing and how https://youtu.be/CiNQzwBsFgs

[2020-05-28 17:30] #123 closed

[2020-05-28 17:47] lourdesvera commented on #99
https://docs.google.com/spreadsheets/d/1Z2rBoGqb_SXW6oAu12A6TCWEJGV1pk0YxL13P_Z5Wlw/edit#gid=693892879

[2020-05-28 18:23] Frijol commented on #123
Cool! Def worth trying new columns

[2020-05-28 18:29] Frijol commented on #93
The difference at least in my head is that the Protocol is more like our Constitution, vs the Handbook is more of a helpful guide. Handbook describes things but doesn't create or define any rules. It's accessible but not a source of truth. Protocol actually is the rulebook. Important, not necessarily the most accessible, shouldn't have how-to content (...which I know is itself a bit in flux) but r

[2020-05-28 18:30] Frijol commented on #126
ha, I also have a milestone for this, "Summer hires start". Should we merge?

[2020-05-28 19:04] Frijol opened #134 "Ensure graphs are not misleading across many scales"

[2020-05-28 23:09] Frijol opened #135 "Hold meeting to reflect as a group on goals"
┆Issue is synchronized with this [Trello card](https://trello.com/c/dxRcIcj2)

[2020-05-28 23:12] Frijol opened #136 "Register for ESIP summer meeting"
The usual approach is to reach out to a session coordinator and ask to talk in their session.
@saraannwylie suggests https://2020esipsummermeeting.sched.com/event/cItw/putting-air-quality-data-to-work-data-and-tools-to-understand-it

┆Issue is synchronized with this [Trello card](https://trello.com/c/4mFgwqNd)

[2020-05-28 23:14] Frijol opened #137 "Management Workshop: Orientation to purpose"
EDGI's work, by design, is primarily solo and autonomous. In order to develop intuition about priority-setting, everybody has to understand what we're trying to do and why.
In this workshop, we examine how we communicate purpose and how we develop consensus around goals & purpose over the course of a project.

Workshop
Check in: write on the following questions
How did you learn about or become in

[2020-05-28 23:15] Frijol commented on #137
Did on Friday last week

[2020-05-28 23:15] #137 closed

[2020-05-28 23:16] Frijol opened #138 "Management Workshop: Day-to-day prioritization and collaboration"
When you're working on a team, understanding the big picture is necessary but not sufficient to confidently choosing which task to do on a given day.
In this workshop, we will discuss setting medium-term goals and milestones, as well as processes and tools for task apportionment and status updates.

Workshop
Check-in: Pick a color. What are the parts of EEW you contribute to?
Group exercise: sort

[2020-05-28 23:16] Frijol commented on #138
Can do at Tuesday meeting

[2020-05-28 23:17] Frijol opened #139 "Management Workshop: Adjustment and dynamic balancing"
As projects progress, we learn about our project and goals, as well as about our teammates, ourselves, our tools, and our processes. A resilient strategy for management leaves room for growth.
In this workshop, we will explore how we update goals, make decisions about important changes, make space for the human elements of work, and adapt learnings into our processes.

Workshop
Check-in: skills an

[2020-05-28 23:17] Frijol commented on #139
Did at Tuesday meeting

[2020-05-28 23:17] #139 closed

[2020-05-28 23:18] Frijol opened #140 "Management Workshop: Bringing it all together"
Over the course of the previous three workshops, we have developed a set of ideas for how we might structure our collaboration as a distributed team working toward a large goal. Can we turn these ideas into a complete prototyped strategy?
In this workshop, we will check in on our needs as a team, select a set of practices to adopt (as well as accompanying cadences), and determine when and how we w

[2020-05-28 23:22] #135 closed

[2020-05-28 23:25] Frijol commented on #27
held up by https://github.com/edgi-govdata-archiving/EEW_Planning/issues/6

[2020-05-28 23:25] #35 closed

[2020-05-28 23:26] #57 closed

[2020-05-28 23:27] Frijol commented on #58
closing as it seems to be a duplicate of https://github.com/edgi-govdata-archiving/EEW_Planning/issues/55

[2020-05-28 23:27] #58 closed

[2020-05-28 23:28] Frijol commented on #69
We did this a while ago! Closing

[2020-05-28 23:28] #69 closed

[2020-05-28 23:29] Frijol commented on #80
held up by https://github.com/edgi-govdata-archiving/EEW_Planning/issues/55, which is currently in review

[2020-05-29 15:41] lourdesvera opened #141 "Set up and conduct Intern Interviews"
┆Issue is synchronized with this [Trello card](https://trello.com/c/mKb2fkJJ)

[2020-05-29 15:41] lourdesvera opened #142 "talk with Kevin about integrating github and slack"

[2020-06-01 19:23] Frijol commented on #93
Taking a look at this now

[2020-06-01 19:59] Frijol commented on #93
I think this doc doesn't need to be 100% polished to be usable – & in fact it is probably already better than not having it for any new members.

For summer hiring, here's what I think should get more complete:
* [ ] Org chart in [How We are Structured](https://docs.google.com/document/d/1Wg6Bw3UEwi50t2bbsQmgzaY53hafbDr_sk5Vp1IV07U/edit?pli=1#heading=h.el97iqkfvluj) should get to something that fe

[2020-06-02 15:15] calderEDJ opened #143 "Vote on EEW logo"
Please vote on the EEW logo when you get the chance: https://forms.gle/77PpXdbW4yN8A4WEA

┆Issue is synchronized with this [Trello card](https://trello.com/c/meuY7KaR)

[2020-06-02 15:23] lourdesvera commented on #91
Is this pretty much done?

[2020-06-02 15:36] lourdesvera commented on #6
@EDGI-Comms @calderEDJ how is the About and Partners copy going?

[2020-06-02 16:20] lourdesvera commented on #99
[Spreadsheet is in the "primers" tab.](https://docs.google.com/spreadsheets/d/1Z2rBoGqb_SXW6oAu12A6TCWEJGV1pk0YxL13P_Z5Wlw/edit#gid=693892879) We need to talk about how to integrate this on our GitHub repo and in primers.

[2020-06-02 16:21] Frijol commented on #91
Pretty sure we did this!
* Notebooks summer research assistant
* Research & contextualization summer research assistant
* Storytelling & community organizing summer research assistant
* Visualization for course credit

[2020-06-02 16:21] #91 closed

[2020-06-02 16:40] lourdesvera commented on #109
@calderEDJ is this done?

[2020-06-02 16:40] #109 closed

[2020-06-02 16:40] lourdesvera commented on #109
Out for vote

[2020-06-02 16:42] lourdesvera commented on #7
This is more of a milestone now. I'm going to split the checklist into issues and set this as a goal for the end of the month.

[2020-06-02 17:16] lourdesvera commented on #142
The Github and Slack are integrated through my GitHub account. We may want to think about creating an EDGI github account in the future.

[2020-06-02 17:43] lourdesvera commented on #71
Added links to planning doc and EEW tracker

[2020-06-02 17:43] #71 closed

[2020-06-02 17:44] lourdesvera commented on #114
Are these roles ready to enter into the readme?

[2020-06-02 17:47] Frijol commented on #114
I think that would be great! And this is an excellent opportunity for a pull request/review process, we should ask each person mentioned to review their role

[2020-06-02 17:49] Frijol commented on #136
I'm meeting with the ESIP data stewardship team on Monday to get a better understanding of the submission process

[2020-06-02 17:52] lourdesvera commented on #136
Let's do this. It wouldn't require much preparation on our ends. There are great folks at ESIP.

[2020-06-02 17:52] Frijol commented on #141
Last interview is scheduled for June 5

[2020-06-02 17:54] Frijol commented on #136
Adding in your thoughts from Slack @lourdesvera

[2020-06-02 17:59] Frijol commented on #93
@saraannwylie @lourdesvera @ericnost @calderEDJ @crgreenleaf what do you think of the above checklist for sufficient completeness for summer hires to start?

[2020-06-02 18:59] Frijol commented on #138
hooray!

[2020-06-02 18:59] #138 closed

[2020-06-02 19:02] #113 closed

[2020-06-02 19:11] ericnost opened #144 "Meeting with Cynthia Giles"
### Meeting

- [x] Add questions to the list: https://docs.google.com/document/d/1XNUSvmjMLAaCPh81_whmYB-RHjKwqHAstdxSLP34Lac/edit#heading=h.ln1hp8wwafqo
- [x] Finish reviewing slides: https://docs.google.com/presentation/d/1FOkH1i4nWckiotvfOyZxj06RjL7God6Eyzqe8MqLhXE/edit#slide=id.g74f3589e8b_4_4
- [x] Practice presentation
- [x] Present

┆Issue is synchronized with this [Trello card](https://tre

[2020-06-02 19:19] ericnost commented on #97
Hoping for feedback first from Cynthia Giles: https://github.com/edgi-govdata-archiving/EEW_Planning/issues/144

[2020-06-02 19:48] calderEDJ opened #145 "Develop website copy"
Landing/home page copy: https://docs.google.com/document/d/1Bde1qfxshfwk9y7S2NgJnpFm5VGLYzKuHOqucWjOdEs/edit?usp=sharing

About/partners page copy: https://docs.google.com/document/d/1y2asMEiGDwDZ5rsits1cK7W-UqVnxMNGXFIDVVWozlk/edit?usp=sharing

once copy is fully developed in the google docs -> review -> put on website -> put screenshot on [mural.ly](http://mural.ly/)

┆Issue is synchronized with

[2020-06-02 20:25] calderEDJ commented on #145
Landing/homepage copy is ready for review: https://docs.google.com/document/d/1Bde1qfxshfwk9y7S2NgJnpFm5VGLYzKuHOqucWjOdEs/edit?usp=sharing

[2020-06-02 21:31] calderEDJ commented on #145
About page copy ready is for review: https://docs.google.com/document/d/1y2asMEiGDwDZ5rsits1cK7W-UqVnxMNGXFIDVVWozlk/edit?usp=sharing

[2020-06-02 21:33] calderEDJ commented on #145
@lourdesvera @saraannwylie @EDGI-Comms could you all make edits/comments when you get a chance?

[2020-06-03 02:58] saraannwylie commented on #144
I made a notes document to share thoughts on the background readings:
https://docs.google.com/document/d/1hW-L_jCDs9IG71h6HHlk4sCC9Rk_ZmuTDWG1JGMKE4Y/edit

[2020-06-03 13:32] lourdesvera opened #146 "Contracts for all new interns"
┆Issue is synchronized with this [Trello card](https://trello.com/c/CVZhR2m2)

[2020-06-03 13:40] ericnost commented on #122
Hmm. So ECHO - Cross Program has a license, just no license file. Not sure how to add that @Frijol . I'm going to close this issue.

[2020-06-03 13:40] #122 closed

[2020-06-03 13:48] ericnost opened #147 "Add availability to calendar"
As we onboard new interns, we need to keep track of all our schedules, similar to what EDGI coordinating committee has/had.

Please use the existing EEW calendar to indicate your availability: https://calendar.google.com/calendar?cid=czNkcmltNzRnbG05dWtsY2E4ZjlqNnZhaGdAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ

┆Issue is synchronized with this [Trello card](https://trello.com/c/xMETq4n8)

[2020-06-03 14:14] lourdesvera commented on #147
We have the google calendar too: https://calendar.google.com/calendar?cid=czNkcmltNzRnbG05dWtsY2E4ZjlqNnZhaGdAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ

[2020-06-03 14:28] ericnost commented on #147
@lourdesvera Oh right! I'm sorry I forgot about that. I've changed this issue to be more about adding your availability.

[2020-06-03 22:01] saraannwylie commented on #145
@calderEDJ @lourdesvera @EDGI-Comms taking 1st responder here to review copy

[2020-06-03 23:00] Frijol commented on #147
What should this look like– hours when you're working, or more like time you're taking off? (would lean toward the latter)

[2020-06-03 23:04] Frijol commented on #89
Include current annual report as a doc they can review?

[2020-06-03 23:10] Frijol opened #148 "Design some social support structure for intern program"
Not something we've talked about a lot, but it would be really nice to give the interns some explicit social programming (minimum version would be regular happy hour type calls). Thoughts?

┆Issue is synchronized with this [Trello card](https://trello.com/c/r2d3JIoB)

[2020-06-03 23:11] ericnost commented on #147
Oh, good question @Frijol. Yea, I was thinking time you're taking off.

[2020-06-03 23:14] Frijol commented on #122
oh, I'll add one!

[2020-06-03 23:20] Frijol commented on #147
✅ done!

(process suggestion: for multi-person tasks like these, shall we comment when done & unassign ourselves?)

[2020-06-04 03:28] saraannwylie commented on #145
Reviewed both, made comments, great start--follow up tomorrow?

[2020-06-04 12:09] ericnost commented on #136
Agreed!

[2020-06-04 13:20] ericnost commented on #96
More on geocoding errors....

<sub>[View in Slack](https://edgi.slack.com/archives/CKN6FMX42/p1591275963416800)</sub>

[2020-06-04 15:05] lourdesvera opened #149 "Data Visualization kick off meeting"
* [x] Schedule meeting
* [x] @saraannwylie grab zoom link
* [x] Create mural.ly for meeting
* [x] Edit visualization primer ( #16 ) based on meeting outcomes

┆Issue is synchronized with this [Trello card](https://trello.com/c/FUj9MUcs)

[2020-06-04 15:08] #99 closed

[2020-06-04 15:09] lourdesvera commented on #55
@Frijol can you review?

[2020-06-04 15:15] lourdesvera opened #150 "Intern Onboarding Kick-off meeting"
* [x] Schedule meeting
* [x] Use Mural to brainstorm flow and requirements of onboarding
* [x] Use outcomes to create onboarding documents

┆Issue is synchronized with this [Trello card](https://trello.com/c/azhumjsk)

[2020-06-04 15:22] calderEDJ commented on #83
https://www.canva.com/design/DAD8DeOt_ds/7JttmhvLBLUGzhQbK8HMXA/view?utm_content=DAD8DeOt_ds&utm_campaign=designshare&utm_medium=link&utm_source=sharebutton
I'm at a bit of a stand still on this. All the data from the notebooks used at the Stonybrook event are in the report, and I've gotten some info in the Research and Conceptualization track regarding congressional representatives and their camp

[2020-06-04 15:34] crgreenleaf commented on #147
Done!

[2020-06-04 15:42] shansen5 commented on #147
No current plans to be unavailable.

[2020-06-04 15:44] lourdesvera commented on #92
People need to add their roles

[2020-06-04 15:46] lourdesvera commented on #92
Link to readme: https://github.com/edgi-govdata-archiving/EEW_Planning

@edgi-comms
@calderedj
@cgreenleaf
@shansen5
@csellers9
@sunggheel
@pstdenis
@danpascucci

Please fill in your roles in relation to this project. Thanks!

[2020-06-04 18:48] #143 closed

[2020-06-05 14:17] crgreenleaf opened #151 "Schedule second Sunrise meeting"
Topic: Sunrise/EEW Visioning Session
Time: Jun 11, 2020 12:00 PM Eastern Time (US and Canada)
Join Zoom Meeting
https://us02web.zoom.us/j/83927596312
Meeting ID: 839 2759 6312
One tap mobile
+16468769923,,83927596312# US (New York)
+13017158592,,83927596312# US (Germantown)
Dial by your location
        +1 646 876 9923 US (New York)
        +1 301 715 8592 US (Germantown)
        +1 312 626 6799 U

[2020-06-05 14:19] crgreenleaf opened #152 "Plan Mural flow for Sunrise meeting"
- [x] Meet with Kelsey for Mural demo
- [x] Make Mural board
- [x] Get EDGI Mural login credentials @lourdesvera

┆Issue is synchronized with this [Trello card](https://trello.com/c/73kdN3v2)

[2020-06-05 14:21] #110 closed

[2020-06-05 14:22] #128 closed

[2020-06-05 14:35] lourdesvera commented on #149
Zoom link for meeting at 12pm - 1pm EST: https://us02web.zoom.us/j/89318056696?pwd=M1owa3RWM0EwR3k5V0RheHY5ZzZ3QT09

[2020-06-05 14:53] lourdesvera commented on #149
Mural.ly here: https://app.mural.co/t/environmentalenforcementwatc0595/m/environmentalenforcementwatc0595/1591290545986/cc00700debd0ef0f9eeb62cc56c0e5c4daffbe2e

[2020-06-05 21:36] Frijol commented on #83
What's the ultimate goal/audience of this report? This is a sample report for what we're intending to make in general?

[2020-06-05 21:47] Frijol commented on #89
Should also include a set of EEW-specific docs to review, such as naming conventions (https://github.com/edgi-govdata-archiving/EEW_Planning/issues/55)

[2020-06-05 21:53] Frijol commented on #55
Yep, taking a look!

[2020-06-05 22:01] Frijol commented on #55
Commented, back to you!

[2020-06-05 22:04] Frijol commented on #97
Unblocked now?

[2020-06-05 22:07] ericnost commented on #83
Hi @calderEDJ  - This looks great!!! Some thoughts - do we need a separate data viz section? Seems to me the data viz is happening in the "report-making" section itself.

Maybe we could figure out some sort of map showing total number of violations over time? What variable of interest do you think, based on your research, would be best to map? I can help do that.

In general, it seems a little wei

[2020-06-05 22:14] ericnost commented on #83
(I might be misunderstanding something about the nature of the different tracks, but it seems like it would be valuable if they were synthesized for the report rather than separate.)

[2020-06-06 03:16] Frijol opened #153 "Use Seaborn for better graphs?"
Seaborn is a graphing library built on top of matplotlib (what we currently use). It promises color palettes including for folks w visual disabilities and for prints + easier customization. The con is that we'd have to install the library in each of our environments (and we're not using e.g. conda for package management.. maybe another conversation)

https://seaborn.pydata.org/installing.html

Doe

[2020-06-06 04:36] Frijol commented on #97
**Data science feedback:**

* Past Aprils – # of pollutants tested:
  * The very long history feels misleading & confusing (at least, without a lot more context). What if we confine it to the past 15 years? Would lean towards standardizing a history length for all of the data here
  *  I'm confused about using the metric "number of pollutants tested". Should this be "number of facilities?"
  * Wou

[2020-06-06 13:15] ericnost commented on #153
I've heard of, but never used it. I think I've seen it used in R actually.

I don't mind installing it locally. I was able to import the library into Colab without issue.

[2020-06-06 13:31] ericnost commented on #97
Thank you!!!! This itself is helpful, but I'll also look at the prettification.

Yes, we need to cut back to 2001+ (or later) because of data quality issues #96

Ok - will clarify "number of pollutants tested." Pollutants and facilities are two related, but distinct metrics here. Each facility can emit many different kinds of pollutants. They are permitted for and can be inspected for, violated, a

[2020-06-06 14:02] ericnost commented on #144
Well done all!

[2020-06-06 14:02] #144 closed

[2020-06-08 19:19] Frijol commented on #136
I don't have the space to pursue this at the moment but I think it's a bit urgent. @saraannwylie do you / do you have a suggestion for who might take concrete next steps?

[2020-06-08 21:19] #141 closed

[2020-06-09 16:44] #149 closed

[2020-06-09 17:25] Frijol commented on #153
cc @lourdesvera

[2020-06-09 17:51] Frijol opened #154 "Data & Activism Event at U Illinois Chicago"
We were invited to speak at https://uicsise.com/ July 15th, please see https://app.slack.com/client/T32U2HQG1/CKN6FMX42/thread/CKN6FMX42-1591121693.375100

cc @ericnost @csellers9

┆Issue is synchronized with this [Trello card](https://trello.com/c/XtkYD6up)

[2020-06-09 17:54] #16 closed

[2020-06-09 18:46] crgreenleaf opened #155 "Establishing weekly sprint planning meeting"
- [x] Schedule 15 minute overlap with database team
- [ ] Establish leadership schedule (everyone leads once)
- [x] Meet weekly to discuss goals of the week

┆Issue is synchronized with this [Trello card](https://trello.com/c/DzKp3k0P)

[2020-06-09 18:46] lourdesvera commented on #154
+1

[2020-06-09 18:47] crgreenleaf opened #156 "Do we want to make a specific #EEW_Planning Slack channel?"
Starting the conversation about if we need to establish a centralized EEW planning channel.

┆Issue is synchronized with this [Trello card](https://trello.com/c/TZwmCQjh)

[2020-06-09 18:50] #140 closed

[2020-06-09 18:51] #55 closed

[2020-06-09 18:54] crgreenleaf opened #157 "Create detailed EEW presentation template powerpoint"
Well designed template and speakers notes to use internally and in the future pass to organization partners.

┆Issue is synchronized with this [Trello card](https://trello.com/c/wFFWxSIE)

[2020-06-09 18:56] Frijol commented on #90
Finished workshops, would like to continue to revisit as we go

[2020-06-09 18:56] #90 closed

[2020-06-09 18:59] ericnost commented on #97
Thank you all so much for the feedback! I've incorporated into the latest version of the notebook. Still more work to be done, but am closing this issue for now.

[2020-06-09 18:59] #97 closed

[2020-06-09 18:59] Frijol opened #158 "Make a #stupid_questions channel in Slack"
┆Issue is synchronized with this [Trello card](https://trello.com/c/gFHeZPdS)

[2020-06-09 19:00] calderEDJ commented on #136
Per the June 9th EEW meeting, I can take point on this and work with Kelsey on setting it up tomorrow

[2020-06-09 19:14] Frijol commented on #156
Wondering if it makes sense just to use #echo_investigations

[2020-06-09 19:15] #158 closed

[2020-06-09 19:19] Frijol opened #159 "List the EEW Slack channels"
Would the readme of this repo make sense as a place to list these?

| Channel | Description |
|-|-|
| #data_wg | EDGI's general channel for data and archiving topics, including EEW notebook development and decentralized web work |
| #echo_projects |  The general channel for all projects related to ECHO, including EEW, ECHO classes, ECHO UX research, and others. |
| #eew_coordination | The general

[2020-06-09 19:35] Frijol commented on #154
Updating, we discussed in All-EEW meeting today & @ericnost is taking point

[2020-06-09 20:16] Frijol commented on #136
@calderEDJ short story here is, I'm super unclear what the submission process is and whether/what is possible. I just sent an email to the organizers seeking some clarity there and will let you know what I learn

[2020-06-09 20:21] Frijol commented on #132
The slide chart deck is the wrong link, where is the right one? @lourdesvera

[2020-06-10 01:59] saraannwylie commented on #83
It seems pretty difficult to collectively edit canva...Thoughts on this? Can you export a pdf that we can mark up? But in the long term should we find something that's easier for multiple people to work on? What do you think @crgreenleaf  @Frijol @calderEDJ?

I agree with Eric's big picture comments. My thoughts for this is that it's an example of what a congressional report could look like, so I

[2020-06-10 02:01] saraannwylie commented on #83
@calderEDJ can we find time tomorrow to work on a revision of this report? How about 11?

[2020-06-10 02:38] saraannwylie commented on #132
Made a draft here @lourdesvera @Frijol https://docs.google.com/drawings/d/1ZK_jFWq6o2VG--KEu-vHUE57NLHuWJD51jZ_kLRv9t0/edit

Just added to the diagram in the doc.

[2020-06-10 12:27] lourdesvera opened #161 "Complete edits to Start Here Primer"
There still are some lingering edits to be done at the Start Here Primer. https://docs.google.com/document/d/12q28CfslRCow5YxC5DHkWx3S4hemefd5TDsECz2GC3o/edit#heading=h.fccfnstpxt1

┆Issue is synchronized with this [Trello card](https://trello.com/c/sCXVXKYu)

[2020-06-10 13:10] lourdesvera opened #162 "Create Mural.Ly account with EDGI gmail"
I created a Mural.ly account through EDGI's gmail. Anybody with access to the gmail account will have access to the mural.ly account.

@lightandluck can you add it to the services inventory?

https://app.mural.co/t/edgi7967

┆Issue is synchronized with this [Trello card](https://trello.com/c/VPuQVVWz)

[2020-06-10 14:54] lourdesvera opened #163 "Make EEW Onboarding folder in google drive"
https://drive.google.com/drive/folders/1tWsDj63sBHn2xssQExrCYd39K6_AcYrA?usp=sharing

alerting this to @saraannwylie @Frijol @calderEDJ @crgreenleaf

┆Issue is synchronized with this [Trello card](https://trello.com/c/Rht1Cw5r)

[2020-06-10 14:57] lourdesvera opened #164 ":sparkles: **Welcome to GitHub Projects** :sparkles:"
We're so excited that you've decided to create a new project! Now that you're here, let's make sure you know how to get the most out of GitHub Projects.
- [x] Create a new project
- [x] Give your project a name
- [ ] Press the <kbd>?</kbd> key to see available keyboard shortcuts
- [ ] Add a new column
- [ ] Drag and drop this card to the new column
- [ ] Search for and add issues or PRs to your pr

[2020-06-10 16:17] Frijol opened #165 "Apply to speak at PyCon AU?"
https://2020.pycon.org.au/

4-6 September, virtual
CFP expected to open within the week

┆Issue is synchronized with this [Trello card](https://trello.com/c/PdxviiHp)

[2020-06-10 20:02] Frijol opened #166 "Adopt a schedule of EEW meetings"
Proposed:

| Structure | Cadence | Format & Purpose |
|-|-|-|
| 1:1 with manager | Weekly or biweekly (set up a standing time) | Open discussion call, should cover: are you learning and growing, how are you doing, what is coming up for you as you do this work |
| Sprint planning meeting (Tuesdays) | Weekly | Set a milestone goal for the next week & get a sense of who is doing what |
| Onboarding |

[2020-06-11 15:12] #156 closed

[2020-06-11 15:14] #163 closed

[2020-06-11 15:26] lourdesvera commented on #89
@Frijol can you review this onboarding doc and add any additional resources you think they would need? We also need to go through and add links.

https://docs.google.com/document/d/1ZAdmFXdK4K4VA4s7bkuPPksDJBedlGr4tDrMTZ8xch0/edit#

[2020-06-11 15:28] lourdesvera opened #168 "EEW Intern Onboarding Project Board"
Create a project board for EEW interns to work through as they onboard. Use this [onboarding document](https://docs.google.com/document/d/1ZAdmFXdK4K4VA4s7bkuPPksDJBedlGr4tDrMTZ8xch0/edit#) as a guide for their activities.

[Project board here](https://github.com/edgi-govdata-archiving/EEW_Planning/projects/8)

┆Issue is synchronized with this [Trello card](https://trello.com/c/8O8cknsg)

[2020-06-11 15:29] lourdesvera commented on #168
@Frijol can I assign you to this? This is the major task for today and I think would take about 1.5-2 hours.

[2020-06-11 15:54] ericnost commented on #152
I think we can close!? :)

[2020-06-11 17:27] ericnost opened #169 "Develop and send Sunrise notebook scoping doc"
We will send Sunrise a scoping doc that describes what an exploratory notebook would look like. Essentially, I think we want to send them an outline of this nb. Some features we discussed:

- Examine all programs/media (air, water, waste, GHG)
- Geographies: For MA, look at CDs, State House districts, and municipalities
- Metrics: Try to come up with some sort of "model" or "algorithm" that helps

[2020-06-11 17:31] lourdesvera commented on #89
slide 17 has a great list of tasks: https://docs.google.com/presentation/d/1hYUa9-09a4VlG2gEtXguSsry8Z82xQy5nwLCoi0cclA/edit#slide=id.g85c9bd05a9_1_50 combined with the mural.ly: https://app.mural.co/t/edgi7967/m/edgi7967/1591799004480/3f15dc80d1a6c210cdf5126d5a94ce0dca9b3540

[2020-06-11 17:53] #162 closed

[2020-06-11 17:54] #114 closed

[2020-06-11 17:54] lourdesvera commented on #132
charts here: https://app.mural.co/t/edgi7967/m/edgi7967/1591796344810/85038f0c63b311f8a61e25b9201e70f713657179

and here:
https://docs.google.com/drawings/d/1ZK_jFWq6o2VG--KEu-vHUE57NLHuWJD51jZ_kLRv9t0/edit

[2020-06-11 17:55] lourdesvera commented on #132
@EDGI-Comms @crgreenleaf can you review these?

[2020-06-11 17:56] lourdesvera commented on #148
How about happy hour every other thursday afternoon after EDJ?

[2020-06-11 17:59] #133 closed

[2020-06-11 18:01] lourdesvera commented on #147
@saraannwylie can you add any weeks off?

[2020-06-11 18:04] lourdesvera commented on #157
When should we have this done by?

[2020-06-11 18:05] lourdesvera commented on #92
I'm closing this as most people have added themselves.

[2020-06-11 18:05] #92 closed

[2020-06-11 18:46] ericnost commented on #153
ggplot, a popular library for visualization in R, is now available in Python: http://ggplot.yhathq.com/

[2020-06-11 18:48] ericnost commented on #121
Linking to:

https://github.com/edgi-govdata-archiving/EEW_Planning/issues/169
https://github.com/edgi-govdata-archiving/Environmental-Enforcement-Watch/issues/28
https://github.com/edgi-govdata-archiving/ECHO-Cross-Program/issues/34

[2020-06-11 20:03] Frijol commented on #166
I was thinking about how to do morning scrum when we're in different time zones and decided trying an automated asynchronous approach might be helpful. I made a scrum bot in a new channel called #eew_daily_scrum. Curious to hear what you all think of this vs trying to get face to face scrum time on a daily basis

[2020-06-11 20:09] Frijol commented on #159
@lourdesvera would you be able to add descriptions to the couple of slack channels above I'm less sure about?

[2020-06-11 21:09] Frijol commented on #148
cc @calderEDJ @crgreenleaf

[2020-06-11 21:53] Frijol commented on #148
cc @gabrielletrudo

[2020-06-11 22:28] Frijol commented on #89
took a look at the doc and added suggestions!

[2020-06-11 22:46] Frijol commented on #168
Yep! Drafted a template here: https://github.com/edgi-govdata-archiving/EEW_Planning/projects/8

I think it's pretty thorough but please take a look and make sure! Once you give thumbs up, I can copy this board over so each new intern has their own board to work through.

[2020-06-11 23:41] #152 closed

[2020-06-11 23:41] #151 closed

[2020-06-11 23:41] #146 closed

[2020-06-11 23:51] ericnost commented on #168
@Frijol I made some edits to the notebook exercise, to steer interns towards the notebooks to which we are directing our energy now (Cross-Program, GHGRP, COVID).

[2020-06-12 12:16] lourdesvera commented on #159
great idea

[2020-06-12 12:58] lourdesvera commented on #89
@Frijol @saraannwylie Did we decide on this?

[2020-06-12 12:59] lourdesvera commented on #89
This might be a good idea too?

[2020-06-12 13:01] lourdesvera commented on #166
| Structure | Cadence | Format & Purpose |
|-|-|-|
| 1:1 with manager | Weekly (set up a standing time with them) | Open discussion call, should cover: are you learning and growing, how are you doing, what is coming up for you as you do this work |
| Sprint planning meeting (Tuesdays) | Weekly | Set a milestone goal for the next week & get a sense of who is doing what |
| Onboarding | First-day or

[2020-06-12 13:02] lourdesvera commented on #168
Thank you @Frijol and @ericnost ! Should we convert these notes to issues? there are some where I want to add smaller to-dos and more links

[2020-06-12 13:08] lourdesvera opened #170 "Intro to EEW Powerpoint for All-EDGI meeting 6/12/20"
Create a 15 minute intro to EEW presentation for All-EDGI meeting on Friday the 12th. Connect to #157

┆Issue is synchronized with this [Trello card](https://trello.com/c/HmH8tHSk)

[2020-06-12 14:14] crgreenleaf commented on #169
Also layering somehow with EJ screen?

[2020-06-12 14:34] ericnost commented on #169
@crgreenleaf For sure. We work a lot with the ECHO_EXPORTER table, which already has some EJScreen metrics in it, and so it's not too much difficulty to say something about the demographics of the neighbourhoods surrounding facilities.

https://github.com/edgi-govdata-archiving/Environmental-Enforcement-Watch/issues/29

[2020-06-12 14:50] calderEDJ commented on #136
@Frijol By the look of it, they do have a full program (https://2020esipsummermeeting.sched.com/). We have until July 1st to register with the video/poster. Should we get started on that today / next week?

[2020-06-12 14:59] calderEDJ commented on #87
So, canva has a teams option and it's $12.95 a month per team member. I guess that would be financially feasible but it's not a very good platform for real-time collaboration; only one person can work on a project at a time. @lourdesvera @saraannwylie @crgreenleaf what are your thoughts on this? If we had like 3-5 accounts to use at an event, we could have break-out rooms at an event with one pers

[2020-06-12 16:42] ericnost commented on #93
FWIW, I'll be working on this Sunday...

[2020-06-12 18:37] crgreenleaf commented on #132
Made some grammatical edits in the Mural. I love the graphic - I think it's a great way of visualizing these intersections.

Some of the language in the Mural is a bit vague, can it be simplified or explained more? Would it benefit from some concrete working examples?

[2020-06-12 18:44] crgreenleaf commented on #87
I know you can make teams and collaborate that way in Canva. I wonder if we have premium whether that would allow us to add people to our team for the data viz breakout just by sending an email. Alternatively, we could design the breakout to have a "master visualizer" that screenshares? That could be frustrating for participants I suppose...

[2020-06-12 18:45] crgreenleaf commented on #87
There is also a canva for nonprofits (free!) that we could apply for. https://support.canva.com/account-basics/nonprofit-program/apply-for-nonprofit/

[2020-06-12 18:49] Frijol commented on #168
I'd rather not convert the notes to issues in this circumstance if we can avoid it; it will help keep the onboarding tasks for the individual interns from getting confused with each other & with the main issues list. But I think it's ok to make long notes

[2020-06-12 19:30] Frijol commented on #136
By "full program" I mean the leads of the particular session, in past ESIP meetings leaders have reserved space for community submissions. But I suspect all-digital is different, and the session leads have not gotten back to me, so let's proceed assuming that's not an option.

Re working on video/poster, I think that would be a good idea! Probably register ASAP (@saraannwylie what's needed for Col

[2020-06-12 19:32] Frijol commented on #89
I think we've hit the advice process stage, go ahead with whatever you think is a good idea?

[2020-06-12 19:38] Frijol commented on #166
Sounds great. I put the social on the EDGI calendar. So the only thing to resolve then is making sure managers set up weekly 1:1s with all the interns they manage! @ericnost @lourdesvera @saraannwylie

[2020-06-12 20:49] #104 closed

[2020-06-12 20:50] #170 closed

[2020-06-12 20:59] saraannwylie commented on #170
https://docs.google.com/presentation/d/1uxVjNeksFbKBkFr8cveyKA606EksfvBQL86Ur1bXZtI/edit#slide=id.g86f2c85277_1_55, here's the presentation

[2020-06-12 21:30] #159 closed

[2020-06-12 21:32] lourdesvera commented on #168
@saraannwylie do you want to review this?

[2020-06-12 21:53] saraannwylie commented on #168
This looks good to me! Two questions for @lourdesvera and @Frijol will we make a copy of this for each intern? What should I link to in the onboarding doc here: https://docs.google.com/document/d/1ZAdmFXdK4K4VA4s7bkuPPksDJBedlGr4tDrMTZ8xch0/edit#

[2020-06-12 21:55] saraannwylie commented on #89
I put the link to the above video into the onboarding doc. https://youtu.be/CiNQzwBsFgs

[2020-06-12 21:57] saraannwylie commented on #87
that seems like the right call! @crgreenleaf, I am somewhat concerned that through EEW lots of non-profits might use the account to create reports?

[2020-06-12 22:05] saraannwylie commented on #166
I'll work with Megan on this next week to figure out a time that works for her.

[2020-06-12 22:07] saraannwylie commented on #136
I sense we call concur that $40 is well worth it, so @calderEDJ go ahead and register, and we'll ask Aparna next week about reimbursing you?

[2020-06-12 22:33] saraannwylie commented on #169
Wondering how prison's fit in here? And if Nick Shapiro would want to help with that?

[2020-06-13 00:01] crgreenleaf commented on #148
@calderEDJ  and I can work on this Monday.

[2020-06-13 00:19] Frijol commented on #148
Added Thursday Socials per https://github.com/edgi-govdata-archiving/EEW_Planning/issues/166!

[2020-06-13 01:41] saraannwylie commented on #168
So I could email the interns tonight I just changed the doc to say they'd receive this on monday @lourdesvera @Frijol

[2020-06-13 17:37] Frijol commented on #168
All set! Here are boards for:

* [Megan](https://github.com/orgs/edgi-govdata-archiving/projects/6)
* [Maalvika](https://github.com/orgs/edgi-govdata-archiving/projects/7)
* [Leslie](https://github.com/orgs/edgi-govdata-archiving/projects/8)
* [Gabby](https://github.com/orgs/edgi-govdata-archiving/projects/9)

[2020-06-13 17:37] #168 closed

[2020-06-14 16:24] ericnost commented on #93
My review:

- Org chart in How We are Structured (already done)
- Onboarding Process section related: #89
- - I couldn't find much to tweak here, but happy to give it another go with more direction. It reads as if it's directed towards new volunteer members rather than interns/contractors, but that's probably fine.
- Guide to meetings
- - There is (no longer?) any Guide to meetings section. The li

[2020-06-14 16:44] ericnost opened #172 "Develop notebook-based "homework" for interns"
We had discussed the idea of asking the interns to try to answer some questions with the notebooks. Though they've already test-run at least 1 nb, and will get a walk-through this week, it might be helpful to ask them to do more targeted exercises to see what can/can't be done with the scripts. *What do you think?*

Draft (edited based on comments):

Data science
- Looking deeper into the data. Wh

[2020-06-14 18:15] shansen5 commented on #172
1.  Making more compelling visualizations of the data we already know is being imported into the notebooks.
2.  Looking deeper into the data.  What is there that we haven't exposed yet?  How can we see and then explain the data that is missing?
3.  What other data sources can be brought in to better show the context of the ECHO data?  E.g. census demographics.  (ECHO_EXPORTER has FAC_DERIVED_CB201

[2020-06-15 14:59] crgreenleaf commented on #169
Just checking because I thought this was possible,Sunrise asked on Saturday if this notebook will be able to pull out the 3 of the worst offenders for whichever geography is selected?

[2020-06-15 15:29] ericnost commented on #169
@crgreenleaf Yes, we can pull out the 3 worst offenders for whichever geography. I will write that into the outline!!! Measuring "worst offender" is not necessarily straightforward (worst in terms of emissions, violations, penalties? For CWA, CAA, or across all programs?) but we can figure this out...

[2020-06-15 15:37] ericnost commented on #169
@saraannwylie re prisons - I think Nick has expressed interest in helping out, though his lab wouldn't be able to validate the Massachusetts data they have until ~ August. The dataset of prisons, jails, and detention centers they are producing is much more comprehensive than what's easy to get out of ECHO. That said, we could use NAICS codes to pull out some of these facilities, noting that there

[2020-06-15 16:57] calderEDJ commented on #112
yes, sorry I was working on this but it got lost in the shuffle. I'll finish it up today

[2020-06-15 18:14] Frijol commented on #93
Thanks all for working on this! I think we've reached a 1.0 edition 🎊
Agreed re re-forming the conflict committee (something to bring up next all-EDGI?)

[2020-06-15 18:14] #93 closed

[2020-06-15 18:16] Frijol opened #173 "Research & context questions (collector issue)"
This issue is a temporary collector of questions we want to answer through research & contextualization. Please add!

* a list of all the chemicals that are monitored in ECHO and what is known about them re human and ecological health
* What is a “hydrocarbon basin”?
* What does “25,000 metric tons CO2e or more per year” actually amount to?
* Same question for 460,000 Mscf or more of natural gas p

[2020-06-15 20:58] calderEDJ commented on #112
Here is the UX Difficulties summary from all three classes that participated, with response codes that probably need revising: https://docs.google.com/spreadsheets/d/1O3_HPnwTzPAgpaC6HokrlYl8Haxv1CHPj5_e2FGQacs/edit#gid=1815047088

[2020-06-15 22:15] ericnost commented on #96
There are 52 EPA facilities with FAC_COUNTY listed as METROPOLITAN BOSTON and tracked in the ECHO database, but there is no METROPOLITAN BOSTON county in reality.

[2020-06-15 23:18] ericnost commented on #169
Please see here: https://github.com/edgi-govdata-archiving/ECHO-Sunrise#outline-of-the-notebook

Requesting review from @crgreenleaf and @saraannwylie but also very curious to hear from @calderEDJ @shansen5 and @Frijol

[2020-06-15 23:36] Frijol commented on #169
@ericnost love the outlining, this is excellent practice! Wondering if it would be easier to review as a PR to the readme, as that allows line by line commenting (more similar to our usual google docs thing)

[2020-06-15 23:52] ericnost commented on #169
Sounds good to me @Frijol!

[2020-06-16 00:23] shapironick commented on #96
This one made me LOL

[2020-06-16 00:46] #103 closed

[2020-06-16 00:47] Frijol opened #174 "Make a poster or video for ESIP summer meeting"
Follow-on work from https://github.com/edgi-govdata-archiving/EEW_Planning/issues/136

┆Issue is synchronized with this [Trello card](https://trello.com/c/FiYkWDKu)

[2020-06-16 00:48] Frijol commented on #136
@calderEDJ feel free to close this once you have registered! I made a new issue for the actual making of the poster or video: https://github.com/edgi-govdata-archiving/EEW_Planning/issues/174

[2020-06-16 00:49] #89 closed

[2020-06-16 00:49] #132 closed

[2020-06-16 00:52] Frijol commented on #166
pinging on this @lourdesvera @ericnost I don't think we listed the existence of these in any of the onboarding docs so making sure you see it & remember to set it up

[2020-06-16 02:27] Frijol commented on #169
Thoughts on the content:

Overall looks really great

Might be useful to explicitly adopt "exploring" vs "drilling down" sections? This could be mapping or charting of the various indicators (CWA, RCRA, CAA, GHG) and then have explicit instructions including a basis for figuring out which is most interesting, then finding worst offenders of just the one issue type.

Keep wanting to explore this in

[2020-06-16 12:57] ericnost commented on #166
@Frijol Yes, I think Steve and I have set up Tuesdays 12:30 ET before the database meeting as a weekly meeting with Maalvika!

[2020-06-16 12:57] lourdesvera commented on #126
Yeah, let's merge @Frijol . And for the offboarding, what should we make? an offboarding doc? reflections? Way to map out what's been done and next steps for the rest of the team moving forward?

[2020-06-16 13:00] lourdesvera commented on #166
@ericnost @Frijol @saraannwylie let's I'm going to add these to the EEW planning calendar, schedule to the onboarding document, and then let's close this issue?

[2020-06-16 13:55] saraannwylie commented on #169
Great start! Comments
1. Timeframe--think we should expand this to 2001 forwards but highlight the period for which the relevant congress person was in office in the polished reports as Cole has been working on. This will let them compare what happened while they are in office to times before.
2. Targets--think it's important to remember while making the naughty lists etc... that congress people h

[2020-06-16 14:03] lourdesvera commented on #157
@crgreenleaf how is this going?

[2020-06-16 14:03] lourdesvera commented on #148
Since we added the socials, let's close this issue?

[2020-06-16 14:03] #148 closed

[2020-06-16 14:48] lourdesvera commented on #7
Aiming to get this done by June 30th.

[2020-06-16 14:50] lourdesvera commented on #117
@maalvikabhat can I add you to this task? @ericnost what do you think?

[2020-06-16 14:52] lourdesvera commented on #18
Assigning @mraisle to this

[2020-06-16 14:54] lourdesvera commented on #6
@calderEDJ how is this going? Do you want to have a work session on this Thursday morning?

[2020-06-16 14:56] lourdesvera commented on #15
Hey @maalvikabhat @ericnost just tagging you in this. Do you think this is a to-do for this week or next to finish it? I think it should just be a place to link to the notebooks, EEW tracker, etc. and give it all context.

[2020-06-16 14:58] lourdesvera commented on #150
Done!

[2020-06-16 14:58] #150 closed

[2020-06-16 14:58] lourdesvera commented on #84
How's this going @crgreenleaf ?

[2020-06-16 15:05] ericnost commented on #117
@lourdesvera Can we link this to #172? They actually seem like the same thing, but it's something maybe all the interns should do given that it encompasses all 4 tracks. It's also not entirely clear to me what the ultimate purpose of the tracker is and exactly what needs to be done. At the very least, it needs to be slightly updated given that we are trying to centralize the notebooks to Cross-Pro

[2020-06-16 15:22] ericnost commented on #15
@lourdesvera I think this is feasible to complete by the end of next week.

[2020-06-16 15:29] lourdesvera opened #175 "Jupyter notebook to calculate TOSHIs"
Write a jupyter notebook to calculate environmental health impacts of pollutants.

┆Issue is synchronized with this [Trello card](https://trello.com/c/2i6i7CFY)

[2020-06-16 15:31] lourdesvera opened #176 "Script to convert toxic compounds from ug/m3 to ppb"
* [x] Create spreadsheet of pollutants and their molecular weights.
* [x] create script or function based on this equation https://www2.dmu.dk/AtmosphericEnvironment/Expost/database/docs/PPM_conversion.pdf
* [x] create input for temperature.

┆Issue is synchronized with this [Trello card](https://trello.com/c/tiqtnHUe)

[2020-06-16 15:50] ericnost commented on #169
@Frijol

I agree and the outline is basically already set up that way.

@saraannwylie

I agree completely but am very worried about how to implement this in a reasonable timeframe. For technical reasons, there will be a bit more legwork to show e.g. non-compliance by all MA CDs or all MA counties and to do so for 2001- . This is different than what we do now (show non-compliance by ONE MA CD or ON

[2020-06-16 16:33] Frijol opened #177 "Be a reviewer on three things"
* [x] https://github.com/edgi-govdata-archiving/ECHO-COVID19/pull/36
* [x] https://github.com/edgi-govdata-archiving/ECHO-COVID19/pull/38#pullrequestreview-437965311
* [x] https://github.com/edgi-govdata-archiving/EEW_Planning/issues/194

┆Issue is synchronized with this [Trello card](https://trello.com/c/YU6jWzAv)

[2020-06-16 16:55] crgreenleaf commented on #169
Awesome, Eric! Thanks for putting this together 💯

**Comments**
I personally think keeping with this moment and maintaining focus on the health impacts and demographics will be the best course. I don't know how much pulling up businesses is our scope? That could just as well be a pre-programmed part of the research and contextualization track.

p.s. @saraannwylie I started a doc at my other job fi

[2020-06-16 17:00] crgreenleaf commented on #157
I have the graphic design outline pretty much done - is there anything we need it for coming up?
https://www.canva.com/design/DAD-967HmM0/share/preview?token=n0i2UeZRJuUvVe8mdfPuLA&role=EDITOR&utm_content=DAD-967HmM0&utm_campaign=designshare&utm_medium=link&utm_source=sharebutton

[2020-06-16 17:40] ericnost commented on #154
Maybe missed the boat?

[2020-06-16 18:33] #127 closed

[2020-06-16 18:33] crgreenleaf opened #178 "Tailor primers for Sunrise event"
┆Issue is synchronized with this [Trello card](https://trello.com/c/510LSKMh)

[2020-06-16 18:46] saraannwylie commented on #121
@mraisle though this could be great for you to work on with @crgreenleaf?

[2020-06-16 18:48] saraannwylie commented on #178
@lesliealanis think this is something you can work on with @crgreenleaf

[2020-06-16 18:52] ericnost commented on #178
We have so many primers! I am worried about the time this will take.

In addition, we have so many moving pieces. The Sunrise notebook isn't even drafted, so it may be hard to tailor some primers? That said, I think tailoring like the research primer towards the targets we have discussed can be started and would be super helpful.

[2020-06-16 19:00] lourdesvera opened #181 "here is a note"
it is now an issue

┆Issue is synchronized with this [Trello card](https://trello.com/c/3qfYmPVe)

[2020-06-16 19:01] saraannwylie opened #182 "Make EJ groups focused outreach plan and email first contact"
We decided our next priority for outreach is EJ groups, so want to create a specific plan for that and begin outreach.

┆Issue is synchronized with this [Trello card](https://trello.com/c/hb4waVcu)

[2020-06-16 19:17] mraisle commented on #121
Unsure on exact outcome we're looking for on this but I'll talk with @crgreenleaf about it!

[2020-06-16 19:51] crgreenleaf opened #184 "Create questions for Storytelling Mural Board"
- Choose a place (city/town/neighborhood) that matters to you like your hometown, current home, vacation area, place you've traveled to (Choose 1 and post a photo of it)
- List 3 three topographical landmarks that you remember or stick out about that place
- Do you have a memory you associate with those landmarks? (Write a blurb about a particular memory from this place in a sticky note)
- Has thi

[2020-06-16 20:08] crgreenleaf commented on #184
- Choose a place (city/town/neighborhood) that matters to you like your hometown, current home, vacation area, place you've traveled to (Choose 1 and post a photo of it)
- List 3 three topographical landmarks that you remember or stick out about that place
- Do you have a memory you associate with those landmarks? (Write a blurb about a particular memory from this place in a sticky note)
- Has thi

[2020-06-16 20:13] crgreenleaf commented on #182
Shall we chat tomorrow about this?

[2020-06-16 20:15] crgreenleaf commented on #184
@lesliealanis @calderEDJ Let me know if you have thoughts on these? I'm unsure how many of these would fit into an hour and I think we will definitely need to have a practice session to see

[2020-06-16 23:10] ericnost commented on #169
@crgreenleaf Is this something we should go ahead and send to Sunrise / invite them to look at and to be a part of the Github repo? It is a bit in the weeds with some technical details, but I'd love any general feedback. We could also just build this, demo it, and go from there...

[2020-06-17 07:30] lesliealanis commented on #184
Hi! @crgreenleaf @calderEDJ
I added some to these questions:

- Choose a place (city/town/neighborhood) that matters to you like your hometown, current home, vacation area, place you've traveled to, **place of your favorite childhood memories** (Choose 1 and post a photo of it)

- What were your schools like?  **Do you feel they encouraged a learning environment? Do you feel that these schools had

[2020-06-17 07:35] lesliealanis commented on #17
Hi @Frijol I keep getting an error with the Trello card, I'm not sure if it's shared to my lesliealaniscazares@gmail.com

[2020-06-17 14:07] lesliealanis opened #185 "Thinking of how questions would flow in a storytelling mural /sample murals"
Making an agenda w/ sample murals 2hrs? How long will notebooks session take?

┆Issue is synchronized with this [Trello card](https://trello.com/c/TYfcnVd4)

[2020-06-17 14:38] crgreenleaf opened #186 "Make Storytelling deck for track"
┆Issue is synchronized with this [Trello card](https://trello.com/c/7ljqOQe4)

[2020-06-17 15:01] #166 closed

[2020-06-17 15:02] lourdesvera commented on #147
@maalvikabhat @lesliealanis @mraisle this is a good first issue! Can you comment when you're done?

[2020-06-17 15:12] lourdesvera opened #187 "Google Drive organization meeting"
* [x] create google drive organization chart and put it in coordination powerpoint
* [x] schedule a 30-minute meeting about how google drive folders are organized
* [x] hold meeting

┆Issue is synchronized with this [Trello card](https://trello.com/c/9Ax0mUF3)

[2020-06-17 15:16] lourdesvera opened #188 "EEW Tracker and Event flow meeting"
Meeting about the event flow and integration of tracks with one another. Overview of the EEW Tracker and discussion of how we will use it.

* [x] schedule meeting
* [x] hold one hour meeting

Related to issue #117 and #172

┆Issue is synchronized with this [Trello card](https://trello.com/c/KB6g2YKX)

[2020-06-17 15:18] crgreenleaf commented on #169
@ericnost I think they would be open to that! I think if nothing else it would be good to send them this list! What would be the best way to invite them to look at the repo?

[2020-06-17 15:23] ericnost commented on #169
@crgreenleaf Anyone can view the repo and the outline specifically by going to this link: https://github.com/edgi-govdata-archiving/ECHO-Sunrise#outline-of-the-notebook To be able to edit the outline, I think they'd need to create GH accounts.

[2020-06-17 15:25] lourdesvera commented on #187
Link for when2meet: https://www.when2meet.com/?9260085-mZtll

[2020-06-17 15:40] crgreenleaf commented on #186
https://docs.google.com/presentation/d/1h-xdL1BVM90yxvPplCumFcfZsqbOWbCAbCgSOAd2KpY/edit#slide=id.g8a6a8961be_0_63

[2020-06-17 15:48] ericnost opened #189 "Practice integrating Slack and Github"
Make a comment on slack, and use the integration tool to copy it here.

┆Issue is synchronized with this [Trello card](https://trello.com/c/kuYaj3fF)

[2020-06-17 15:48] ericnost commented on #189
<sub>[View in Slack](https://edgi.slack.com/archives/C014PBR66BH/p1592407288017500)</sub>

[2020-06-17 15:48] ericnost commented on #189
<sub>[View in Slack](https://edgi.slack.com/archives/C014PBR66BH/p1592407511017700)</sub>

[2020-06-17 16:22] mraisle commented on #147
@lourdesvera I'm still only seeing "busy" appear on the EEW Planning and Personnel Calendar . . .that is, I can't see any specific details, who's busy, etc.? could you invite me to this caendar?

[2020-06-17 18:27] calderEDJ commented on #136
Registration is complete!

[2020-06-17 18:27] #136 closed

[2020-06-17 18:45] ericnost commented on #11
Should we update this to reflect the fact that we now have one main notebook ("Cross-Program") that allows people to look at different geographies and different programs? We could keep it focused on Congressional Districts, but update some of the details to reflect changes to the notebook. We could ask @maalvikabhat to help out!

[2020-06-17 18:48] maalvikabhat commented on #147
I'm having the same problem as @mraisle  -- is there something I'm missing?

[2020-06-17 18:48] #181 closed

[2020-06-17 19:01] maalvikabhat commented on #11
I could definitely suggest changes to this document to reflect that!

[2020-06-17 20:39] crgreenleaf commented on #169
I'm going to send this along to the group. A couple of them are familiar
with GitHub and the earlier we can get input the better, in my opinion!

On Wed, Jun 17, 2020 at 12:14 PM Eric Nost <notifications@github.com> wrote:

--
*Casey Greenleaf **(she/hers)*
B.A. Cultural Anthropology - Northeastern University
ELM Action Fund <https://www.elmaction.org/> Fellow
Environmental Enforcement Watch
<http

[2020-06-17 20:45] ericnost commented on #169
@crgreenleaf 💯

[2020-06-17 23:00] shansen5 commented on #11
Here's some thought I've been having along these lines:

A weakness of the notebooks is that they only give one step-by-step path through the analysis.  In the Cross Programs notebook we now have many data sets that can be requested for 4 different geographical areas.  This has a lot of value for the breadth of analyses that can be done in a single notebook.  A logical next step for a user would b

[2020-06-18 00:50] lesliealanis commented on #147
Hi @lourdesvera I'm also having the same issues, I can access the calendar and see when people are busy but I can't see who is busy and I can't add my busy days to the calendar.

[2020-06-18 14:17] ericnost commented on #11
I like these ideas @shansen5.

I agree that we really can't add any more code blocks to Cross-Program! However, I do think there are ways we can allow drilling deeper without adding too much more code. For instance, ranking facilities may not be that hard (?) as I have some code in the covid notebook for aggregating the selected data type by facility: https://github.com/edgi-govdata-archiving/ECHO

[2020-06-18 15:22] lesliealanis commented on #185
Hi, @crgreenleaf here is a link to a sample mural, it's kind of rough since I'm still getting the hang of mural. Let me know what you think. https://app.mural.co/invitation/mural/managementworkshops7524/1592458717003?sender=lesliealaniscazares6748&key=b9cef49f-c70b-4987-8615-e4a381263d82

[2020-06-18 15:28] calderEDJ commented on #6
hey, sorry I missed this. I'm free now if you are

[2020-06-18 16:28] lourdesvera commented on #155
So, the plan now is to extend all-ECHO by 15 minutes and have the sprint meeting at 2:00-2:15 then ECHO 2:15-3:15. Please respond on Slack if you have any other ideas!

[2020-06-18 16:52] ericnost opened #192 "Finalize COVID-19 notebook, analysis, and blog post"
We are at the point where we can look at April's trends, and there seems to be growing interest in this kind of work, so I think we should try to get it across the finish line.

- [x] Notebook: https://colab.research.google.com/github/edgi-govdata-archiving/ECHO-COVID19/blob/master/ECHO-COVID19.ipynb#scrollTo=Eslan-5wbt43
- [x] Blog post: https://docs.google.com/document/d/109zOmJlaXxmLcpyi8Q_tm5E

[2020-06-18 17:52] lourdesvera commented on #187
Scheduled for June 24th at 11:30am

[2020-06-18 17:53] lourdesvera commented on #188
Scheduled for June 24th at 2:00pm

[2020-06-18 18:23] lourdesvera commented on #147
has everyone added? @mraisle @maalvikabhat

[2020-06-18 18:27] Frijol commented on #148
Was thinking it might be important for there to be some intern-only space too. @crgreenleaf what do you think?

[2020-06-18 18:28] mraisle commented on #147
hey @lourdesvera still having the issue that I only see "busy" on the calendar . . .seems like I haven't been invited to edit still? Sorry for the delay!

[2020-06-18 19:05] Frijol opened #193 "Practice sharing issues with lots of people assigned to them"
Sometimes we'll have an issue where *everybody* needs to do something. We've decided that a good workflow when this is the case is to make the issue and assign everybody who needs to do it.

Assignees should:
1. Read the issue and take any actions required
2. When complete, comment indicating that you've finished and unassign yourself
3. If you are last, close the issue

Try it out with this issue

[2020-06-18 19:19] ericnost commented on #193
Completed

[2020-06-19 14:18] mraisle commented on #173
related to the Issue #121

[2020-06-19 14:59] crgreenleaf commented on #148
I'd love to schedule a bi-weekly intern hang or something. @calderEDJ @maalvikabhat @lesliealanis @gabrielletrudo @mraisle what do you all think? Feel free to just thumbs up react if this sounds ok?

[2020-06-19 15:00] crgreenleaf commented on #193
Completed

[2020-06-19 15:58] ericnost commented on #154
Or not! I have responded to the organizers, and I think we will be signed up. Closing this issue for now. Will re-open for a discussion of how to prepare.

[2020-06-19 15:58] #154 closed

[2020-06-19 18:06] crgreenleaf commented on #184
Another idea is adding a module where we look at the EPA EJ screen tool in relation to where we are running the notebooks and see what people's impressions are with that.

[2020-06-19 18:09] crgreenleaf opened #194 "EEW Promo Video"
Create promo video with a short notebook demo (zoom recorded with explanation from one of us) and use the [EEW outreach deck](https://drive.google.com/file/d/1nlHFaosaeugCvHTXI29HW0XLShFHtazO/view?usp=sharing) to create visualization of event structure

┆Issue is synchronized with this [Trello card](https://trello.com/c/EpqsXA7R)

[2020-06-20 15:19] crgreenleaf commented on #169
Feedback from Sarah Pardo: "Just went over the readme. Looks fantastic! I think Eva mentioned that rather than just seeing the top 3 worst offenders, we'd rather have a list of all offenders for each category because some may be easier targets than others."

[2020-06-20 15:25] ericnost commented on #169
Makes complete sense! We can just sort the entire list of offenders...

[2020-06-22 11:52] ericnost opened #195 "Switch database meeting link?"
@lourdesvera  - It looks like I'll be coordinating the Tuesday 1pm database meetings. I think we might as well go ahead and switch to using the same link as the 2pm sprint meetings, and ask the sprint team to jump on at 1:45/1:50 so we can overlap. That's the idea right?

The problem is that while I can change the info on the google calendar, I don't know how to update the Slackbot / if I have acc

[2020-06-22 16:45] mraisle commented on #147
@lourdesvera I still don't seem to have anything other than view access to this EEW personnel calendar.

[2020-06-22 17:06] mraisle commented on #193
Completed

[2020-06-22 17:17] mraisle commented on #173
Seeking clarification from @Frijol, @crgreenleaf and/or @lourdesvera  . . . is this different than issue #18 , the Research and Contextualization Primer? By that I mean would the answers to these questions by put into the primer?

[2020-06-22 18:17] lesliealanis commented on #193
Completed

[2020-06-22 18:19] calderEDJ commented on #193
Completed

[2020-06-22 18:23] maalvikabhat commented on #193
Complete

[2020-06-22 18:23] lesliealanis opened #196 "sample issue for integrating slack and github"

[2020-06-22 18:33] #196 closed

[2020-06-22 18:36] gabrielletrudo commented on #193
Completed

[2020-06-22 21:40] lourdesvera commented on #6
@calderEDJ Sorry if I dropped off, what's holding us back on this?

[2020-06-22 21:47] lourdesvera commented on #6
@Frijol @crgreenleaf Can you review this landing page so we can get the go-ahead to send it to folks?

[2020-06-23 17:28] crgreenleaf commented on #194
View draft of video here: https://www.canva.com/design/DAD_5lPdzSc/3aX186A3-L2kDS5AP3AnZQ/view?utm_content=DAD_5lPdzSc&utm_campaign=designshare&utm_medium=link&utm_source=sharebutton

[2020-06-23 17:35] crgreenleaf commented on #67
I added a screen grab video demo of the congressional report into the promo video #194

[2020-06-23 17:53] Frijol commented on #126
Might be a few components!
* They're doing an intro post together, could do an outro reflections post? (Might be nice for each to do their own that they could later ref)
* Would be really nice to have a celebration meeting
* Probably use Kevin's contractor offboarding session too

[2020-06-23 18:05] Frijol commented on #17
@lourdesvera can you take a look at the Trello sync? ^ (I'm not really up on that)

[2020-06-23 18:11] #169 closed

[2020-06-23 18:12] Frijol commented on #173
Good question! Yes, this is different – the primer is about *how* to do the research & contextualization track, this issue is a place we're putting specific questions that would be helpful for the track to answer.

You're probably the right person to ask @mraisle – what would be a better way to surface & keep track of questions that come up such that the research & context track might answer them?

[2020-06-23 18:18] ericnost commented on #112
@calderEDJ Can we start a short Slides deck summarizing these results?

cc: @saraannwylie

[2020-06-23 18:43] Frijol opened #197 "Develop a QA process for notebooks"
Draft a process that should take place before each event for every notebook, ensuring that notebooks work, are clear to use, and are not misleading

┆Issue is synchronized with this [Trello card](https://trello.com/c/crMgri8n)

[2020-06-23 18:44] Frijol commented on #197
cc @ericnost @maalvikabhat @shansen5

[2020-06-23 19:04] crgreenleaf commented on #6
I have some small comments!

- there is a typo space at the end of the first sentence (_"We want clean air..."_)
- For the following text, Could this be its own box? I think the description of "Environmental Enforcement Watch" should be its own thing: _"We want clean air, clean water, and an end to environmental racism and injustice . Strong environmental regulation is important, but it’s only as

[2020-06-23 19:07] mraisle opened #198 "IRB for Exit Survey"
┆Issue is synchronized with this [Trello card](https://trello.com/c/WSg5Y3NQ)

[2020-06-23 19:07] mraisle commented on #198
@saraannwylie and @ericnost would you like to be assigned to this?

[2020-06-23 19:08] mraisle opened #199 "ESIP Demo Video"
┆Issue is synchronized with this [Trello card](https://trello.com/c/3p2wzEdh)

[2020-06-23 19:08] mraisle commented on #199
@gabrielletrudo  do you want to assign yourself to this?

[2020-06-23 19:09] mraisle opened #200 "Tracking of Event Data"

[2020-06-23 19:10] mraisle opened #201 "Figure out how to Bridge the Tracks"
┆Issue is synchronized with this [Trello card](https://trello.com/c/X2DzT9dt)

[2020-06-23 19:10] mraisle commented on #201
@calderEDJ would you like to also be assigned to this?

[2020-06-23 19:11] mraisle opened #202 "Review Visuals for accuracy and ~elegance"
┆Issue is synchronized with this [Trello card](https://trello.com/c/0pK0cmWr)

[2020-06-23 19:15] mraisle commented on #155
Can we close this issue? @lourdesvera

[2020-06-23 19:19] mraisle opened #203 "Notebook Validation Process"
┆Issue is synchronized with this [Trello card](https://trello.com/c/X1Eaiatv)

[2020-06-23 19:20] mraisle commented on #203
@Frijol and @ericnost would you like to be assigned to this?

[2020-06-23 19:21] mraisle opened #204 "Participant Registration for Sunrise Event"
┆Issue is synchronized with this [Trello card](https://trello.com/c/b8S4BKFo)

[2020-06-23 19:21] mraisle commented on #204
@calderEDJ @crgreenleaf @gabrielletrudo would you like to be assigned to this?

[2020-06-23 19:22] mraisle opened #205 "Content for promotion and sharing of EEW"
* [x] powerpoint template about EEW
* [x] promo video
* [x] drafted tweets
* [x] drafted facebook posts
* [x] e-mail templates

┆Issue is synchronized with this [Trello card](https://trello.com/c/tN5Swyyg)

[2020-06-23 19:22] mraisle commented on #205
@crgreenleaf @gabrielletrudo would you like to be assigned to this?

[2020-06-23 19:23] mraisle opened #206 "Add ability to export data from Sunrise Notebook"

[2020-06-23 19:24] mraisle opened #207 "Add remaining geographies"

[2020-06-23 19:27] mraisle opened #208 "Everyone clear on their role at event?"
Perhaps we all write in our own words what we think our role is at the event as a comment on this message and then unassign ourselves, and then everyone can be reassigned to review once it moves to the "Review" column?

┆Issue is synchronized with this [Trello card](https://trello.com/c/P4Sqo3Op)

[2020-06-23 19:28] mraisle opened #209 "Confirm event date with Sunrise Partners"
┆Issue is synchronized with this [Trello card](https://trello.com/c/DHtxQuar)

[2020-06-23 19:28] mraisle commented on #209
@crgreenleaf would you like to be assigned to this?

[2020-06-23 19:55] lourdesvera commented on #101
Same as #17

[2020-06-23 19:55] #101 closed

[2020-06-23 20:00] lourdesvera commented on #6
What needs to be done to circulate vs. what needs to be done to be a full landing page.

Funders - NULab, EDGI, Packard (?) Doris Duke (?)
Partners - need a conversation with Sunrise, Stonybrook folks

[2020-06-23 20:08] lourdesvera commented on #84
@crgreenleaf what should the timeline for this be?

[2020-06-23 20:14] ericnost commented on #192
Deadline: Share for review on June 29th or thereabouts.

[2020-06-23 20:30] ericnost commented on #155
Can't close yet because there's still "Establish leadership schedule (everyone leads once)". Are we doing that?

[2020-06-23 20:43] ericnost commented on #201
This is also #117 ?

[2020-06-23 20:57] lourdesvera opened #210 "Start outreach protocol + Meet with NRDC"
Meeting to start outreach protocol and guidelines for EEW then outline the materials and messaging we want for the NRDC meeting.

* [x] Fill out when2meet for meeting https://www.when2meet.com/?9295068-kusTn
* [x] Hold meeting
* [x] Create 1-2 page outreach guidelines

┆Issue is synchronized with this [Trello card](https://trello.com/c/7lyE5I3C)

[2020-06-23 20:57] lourdesvera opened #211 "Social media plan"
┆Issue is synchronized with this [Trello card](https://trello.com/c/HiKh6PsV)

[2020-06-23 21:10] calderEDJ commented on #147
done! does anyone else still have to add their availability or can I close the issue?

[2020-06-23 21:10] lourdesvera commented on #195
@ericnost sorry I was silent on this. It's done! I'm closing the issue.

[2020-06-23 21:12] maalvikabhat commented on #147
completed! i can close the issue up

[2020-06-23 21:13] #147 closed

[2020-06-23 21:44] ericnost commented on #197
Same as #203

[2020-06-23 21:45] ericnost commented on #202
I think the focus here is on the notebook visuals, including charts and maps.

See also #153

[2020-06-23 21:47] maalvikabhat commented on #153
I've used and love seaborn if we want to make the sunrise notebook graphs a different color, etc

[2020-06-23 21:50] ericnost commented on #198
In the 🦥  spirit, one thing we did for this related paper (where we hosted a design challenge event around EPA hazardous waste data) was to conduct follow-up interviews with participants ~ 1 year _after_ the event. There are obviously methodological issues there, and the EEW events do not have quite the same goal, but I could see it working in one way or another and being a valuable contribution.

[2020-06-23 21:59] ericnost commented on #153
@maalvikabhat Oh, awesome! That would be fantastic - I'll create an issue in the Sunrise repo.

[2020-06-24 15:28] lesliealanis commented on #208
My roles for the event:
- help write a clear, organized and cohesive storytelling track primer
- Event structure:
     - Work with the event agenda and include a storytelling plan or agenda within the event
          - Creating a mural/ PowerPoint or both to use during the storytelling part of the event
- Ask/create questions which encourage storytelling and participation
- Facilitate and encourag

[2020-06-24 16:36] crgreenleaf commented on #208
- Mainline the outreach to Sunrise Boston (including setting dates, inviting them to planning meetings, making sure their feedback is given on Sunrise notebook)
- Create and make sure they have all materials they need to successfully promote the event internally
- Coordinate Zoom registration
- Ensure the main primer is ready to go
- Presenting during event, being on call during event to answer qu

[2020-06-24 17:54] calderEDJ commented on #112
@ericnost I'll get started on those slides later today

[2020-06-24 19:37] mraisle commented on #194
Casey, the video is awesome! yay canva! Here are my comments:
- [] 0:51 where it says "EDGI members have come together and developed . . ." feels wordy to me. Room for more improvement, but here's a start at shortening: "EDGI members have developed a structure to teach anyone how to monitor their environmental data" - by saying plural "members" its clear it was done together and by saying "anyone"

[2020-06-24 21:08] mraisle opened #212 "Google Drive How-tos and Protocol"
Based on the 6/24 meeting on the ECHO_Investigations google drive, I drafted this document with some protocols and how tos: https://docs.google.com/document/d/1HtQEzH5LXfJjAReMz7O40roaLsIlAlciBx2o_zql6PA/edit?usp=sharing

┆Issue is synchronized with this [Trello card](https://trello.com/c/CljSW3xG)

[2020-06-25 01:25] Frijol commented on #203
this is a duplicate of https://github.com/edgi-govdata-archiving/EEW_Planning/issues/197, closing

[2020-06-25 01:25] #203 closed

[2020-06-25 01:26] Frijol commented on #195
@ericnost were you able to update the slackbot reminders?

[2020-06-25 01:28] Frijol commented on #202
Should this be: develop process to review notebook visuals? If so, I think this is a part of #197
We also need a process to review visuals in final reports

[2020-06-25 01:29] Frijol commented on #153
@maalvikabhat yay I'm excited to see what that looks like! Do you think we should adopt seaborn across the notebooks generally?

[2020-06-25 01:35] maalvikabhat commented on #153
I think that would be a good idea! From a communications perspective, we can make the color palettes match the EDGI brand for social media/the website, etc.
seaborn also generally allows for more interesting and dynamic visualizations! I could help with adopting it across notebooks if we deem that important :)

[2020-06-25 01:36] Frijol commented on #208
Great idea @mraisle !

My role:
* Support role at event, on hand to facilitate a breakout or present a slide or answer tech questions as called upon
* Event coordinators, feel free to ask me to fill some specific role per event

[2020-06-25 01:39] Frijol commented on #153
Cool! Here are the EDGI brand guidelines in case you need them: https://drive.google.com/file/d/0B9ycoIVdlgMFeFRIM0Z3WEZaNVU/view?usp=sharing

[2020-06-25 02:04] saraannwylie commented on #208
+1 to this being a great idea.

- Not 100% sure what role I would personally play at the Sunrise event, I would be happy to support @mraisle in coordinating the research and contextualization track and @crgreenleaf in preparing for the beginning presentation and wrap up presentation.
- I would be happy to be on call to answer questions or work to document what's happening
- I am cautious that EDGI

[2020-06-25 02:05] ericnost commented on #195
@Frijol No, I couldn't for the life of me figure out. Slackbot wouldn't understand me when I tried to create a new reminder.

[2020-06-25 02:13] Frijol commented on #195
oh damn, I can take a look

[2020-06-25 17:23] lourdesvera commented on #155
I don't think we have officially settled on a structure yet.  Here's a link to the message in slack: https://edgi.slack.com/archives/CKN6FMX42/p1593105738222800

Please respond!

And let's make a rotating facilitator schedule in the google calendar.

[2020-06-25 17:30] lourdesvera commented on #193
completed

[2020-06-25 17:32] #188 closed

[2020-06-25 17:33] lourdesvera commented on #6
@ericnost can you ask stonybrook folks if they'd like to be listed on the partners part of "about"?
@crgreenleaf can you ask sunrise if they'd be okay being listed?

[2020-06-25 17:34] #117 closed

[2020-06-25 17:34] #187 closed

[2020-06-25 17:36] lourdesvera commented on #195
@Frijol do you want me to do it?

[2020-06-25 17:36] lourdesvera commented on #193
@saraannwylie I think you are the remaining assignee!

[2020-06-25 17:39] lourdesvera opened #213 "Talk to funders and partners about putting info on website"
* [ ] Sunrise
* [x] Stonybrook
* [x] NULab

Should we include:
* [x] Packard
* [ ] Doris Duke

┆Issue is synchronized with this [Trello card](https://trello.com/c/itdpvIk0)

[2020-06-25 17:45] lourdesvera commented on #6
Closing this issue and transitioning it to #213

[2020-06-25 17:45] #6 closed

[2020-06-25 17:45] lourdesvera commented on #213
@ericnost can you ask stonybrook folks if they'd like to be listed on the partners part of "about"?
@crgreenleaf can you ask sunrise if they'd be okay being listed?

[2020-06-25 17:55] lourdesvera opened #214 "sunrise version of congressional reportcard"
┆Issue is synchronized with this [Trello card](https://trello.com/c/DhQ53FmG)

[2020-06-25 17:55] lourdesvera opened #215 "test sunrise notebook"
┆Issue is synchronized with this [Trello card](https://trello.com/c/mrWxi6vh)

[2020-06-25 17:59] lourdesvera commented on #208
My role at this event would be to:
* facilitate the data visualization track (if there is one?)
* Make sure everyone is tracking their outputs
* Serve as support for people trying to navigate the primers, google drive, notebooks.

[2020-06-25 18:02] lourdesvera commented on #84
@calderEDJ is this done?

[2020-06-25 18:05] Frijol commented on #195
sure!

[2020-06-25 18:06] lesliealanis commented on #184
Great idea, that way tits related to the notebooks.

[2020-06-25 18:08] lourdesvera commented on #186
let's tag reviewers @crgreenleaf

[2020-06-25 18:15] ericnost commented on #215
Not sure what we mean, but here is a draft: https://colab.research.google.com/drive/1PQjT5Y4k8rPG5HqwZ5cR5nRi8Yi7DIg7#scrollTo=1B8cUhYWQDqf

This one may or may not be run-able. I'll share that shortly. Been experiencing some issues.

[2020-06-25 18:17] ericnost commented on #209
Is this #215?

[2020-06-25 18:22] lourdesvera commented on #182
@lesliealanis is taking lead on this issue. She will draw from the list of potential partners and draft an e-mail template to them for us to review.

* [ ] spreadsheet of partner
* [ ] e-mail outreach template
* [ ] review
* [ ] send e-mail to one partner

[2020-06-25 18:26] lourdesvera commented on #161
@lesliealanis will take a pass through, @lourdesvera will review, and close the issue

[2020-06-25 18:29] lourdesvera commented on #182
this is linked with #205

[2020-06-25 18:29] lourdesvera commented on #205
linked with #182

[2020-06-25 18:47] lourdesvera commented on #213
➤ lourdesvera commented:

ericnost can you ask stonybrook folks if they'd like to be listed on the partners part of "about"?
crgreenleaf can you ask sunrise if they'd be okay being listed?

[2020-06-25 19:17] lourdesvera commented on #161
➤ lourdesvera commented:

lesliealanis will take a pass through, lourdesvera will review, and close the issue

[2020-06-25 21:37] lourdesvera commented on #213
➤ lourdesvera commented:

ericnost can you ask stonybrook folks if they'd like to be listed on the partners part of "about"?
crgreenleaf can you ask sunrise if they'd be okay being listed?

[2020-06-25 21:45] lourdesvera commented on #161
➤ lourdesvera commented:

lesliealanis will take a pass through, lourdesvera will review, and close the issue

[2020-06-25 21:45] lourdesvera commented on #182
➤ lourdesvera commented:

lesliealanis is taking lead on this issue. She will draw from the list of potential partners and draft an e-mail template to them for us to review.

  * spreadsheet of partner
  * e-mail outreach template where we link to the landing page environmentalenforcementwatch.org and put in our e-mail address info@environmentalenforcementwatch.org
  * review
  * send e-mail to on

[2020-06-26 01:55] Frijol commented on #189
I'm getting an oauth error trying to finish my GH/Slack integration :( `Error: OAuth State mismatch, please try again.`

[2020-06-26 02:00] ericnost commented on #189
<sub>[View in Slack](https://edgi.slack.com/archives/C015DK0LKPS/p1593136420031600)</sub>

[2020-06-26 02:01] ericnost commented on #189
Hmm! I'm not sure what that would mean.

[2020-06-26 14:54] lourdesvera commented on #84
Archiving this issue because other issues have taken its place

[2020-06-26 14:54] #84 closed

[2020-06-29 00:09] lesliealanis commented on #155
![](https://github.trello.services/images/mini-trello-icon.png) [5678](https://trello.com/c/IDGe28fM/62-5678)

[2020-06-29 00:11] lesliealanis commented on #185
![](https://github.trello.services/images/mini-trello-icon.png) [Create questions for Storytelling Mural Board #184](https://trello.com/c/8sFf8SxS/60-create-questions-for-storytelling-mural-board-184)

[2020-06-29 00:11] lesliealanis commented on #155
![](https://github.trello.services/images/mini-trello-icon.png) [edits to welcome to eew https://github.com/edgi-govdata-archiving/EEW_Planning/issues/161](https://trello.com/c/jDm3h6y2/54-edits-to-welcome-to-eew-https-githubcom-edgi-govdata-archiving-eewplanning-issues-161)

[2020-06-29 00:12] lesliealanis commented on #161
![](https://github.trello.services/images/mini-trello-icon.png) [edits to welcome to eew](https://trello.com/c/jDm3h6y2/54-edits-to-welcome-to-eew)

[2020-06-29 00:13] lesliealanis commented on #157
![](https://github.trello.services/images/mini-trello-icon.png) [issue 157](https://trello.com/c/tXsmBWDD/55-issue-157)

[2020-06-29 00:13] lesliealanis commented on #205
![](https://github.trello.services/images/mini-trello-icon.png) [https://github.com/edgi-govdata-archiving/EEW_Planning/issues/205](https://trello.com/c/5nb2EZkP/56-https-githubcom-edgi-govdata-archiving-eewplanning-issues-205)

[2020-06-29 00:16] lesliealanis commented on #161
![](https://github.trello.services/images/mini-trello-icon.png) [Complete edits to Start Here Primer #161](https://trello.com/c/O6XKfvgu/43-complete-edits-to-start-here-primer-161)

[2020-06-29 00:19] lesliealanis commented on #182
![](https://github.trello.services/images/mini-trello-icon.png) [Make EJ groups focused outreach plan and email first contact #182](https://trello.com/c/ACbRwpXJ/63-make-ej-groups-focused-outreach-plan-and-email-first-contact-182)

[2020-06-29 13:52] mraisle commented on #212
Hey @lourdesvera @gabrielletrudo wanted to flag this for y'all to give a quick skim over this week. This is the google drive protocols write up based on our google drive meeting last week.

[2020-06-29 19:09] lesliealanis commented on #161
Hi @lourdesvera , I think this is ready for review

[2020-06-29 19:25] crgreenleaf commented on #209
@ericnost no, this one is confirming event date

[2020-06-29 19:26] crgreenleaf commented on #209
Sunrise has proposed Saturday July 18th as the date for this event.

[2020-06-29 19:27] crgreenleaf commented on #215
@ericnost are you looking for final feedback before we send this over?

[2020-06-29 19:37] ericnost commented on #215
@crgreenleaf Hmm...I'm not sure what you mean by send it over? It would be best to clarify the partnership process first...I ran this with Sarah P on Thursday and got good feedback - I think we need more on our end (and Sunrise's too) before a second and/or final version. https://github.com/edgi-govdata-archiving/ECHO-Sunrise/issues/7 Unfortunately, there are some serious bugs to work that limit o

[2020-06-29 19:43] lesliealanis commented on #155
@lourdesvera I made a google doc so that everyone can add their name next to the slot they can facilitate and agree on a time in the slack message, then we can add it to the calendar.
https://docs.google.com/document/d/1sEGEmU2xpP-jycRubWjRLLXfRUldKh6BLqdy9lshOoE/edit?usp=sharing

[2020-06-29 20:25] Frijol commented on #197
Beginning to outline what needs to be tested:

## Checklist

### Basic function
* Does it run all the way through as a Colab notebook when you are signed in as someone with no special EDGI access?
* Does it create the outputs it is supposed to create (graphs, data exports, ?)?

### Usability
* Are the instructions sensible to a non-coder?

### Completeness & accuracy
* Do all code blocks do what c

[2020-06-29 20:26] Frijol commented on #197
@maalvikabhat would you be a good person to take a first look at the above checklist? Anything that would be confusing to a reviewer, anything else we should be checking for?

[2020-06-29 20:54] Frijol commented on #194
This is super cool! Would we have someone read it aloud for the final video?
It also might be helpful to put highlighting behind the words on many (all?) of the slides just to help them stand out better (see https://www.instagram.com/p/B79BStzDqqe/ for example). I had a hard time reading some of them.

[2020-06-29 20:58] Frijol commented on #194
and back with something from the Free Music Archive, like maybe "Beyond Dreams" from this search: https://www.freemusicarchive.org/search?adv=1&quicksearch=inspiring&&

[2020-06-29 21:00] #177 closed

[2020-06-29 21:09] Frijol commented on #195
Done! @ericnost here's the text I used:

[code]

[2020-06-29 21:09] #195 closed

[2020-06-29 21:10] Frijol commented on #208
Ping on this issue! This one is low-hanging fruit to close by the end of our sprint tomorrow.

[2020-06-29 21:13] Frijol commented on #27
Does this issue still make sense? I suspect we will have several different events to announce, maybe we should close this issue & open one as it becomes relevant?

[2020-06-29 21:14] Frijol commented on #42
@crgreenleaf I feel like I saw you working on this recently, is that accurate? I'm combing through issues & want to make sure we don't have duplicates & abandoned issues

[2020-06-29 21:15] Frijol commented on #42
related: https://github.com/edgi-govdata-archiving/EEW_Planning/issues/45

[2020-06-29 21:16] Frijol commented on #67
would this be a good thing for @maalvikabhat to do?

[2020-06-29 21:23] ericnost commented on #67
I think we should go through the validation process first #203, but yes!

[2020-06-29 21:25] ericnost commented on #195
Ah thanks @Frijol - the tooltip that recommends how to write a remind command includes square brackets around each part that I took literally.

[2020-06-29 21:35] Frijol commented on #174
is this planned to be the same video as https://github.com/edgi-govdata-archiving/EEW_Planning/issues/194?

[2020-06-29 21:35] maalvikabhat commented on #197
I can definitely do this!

Was wondering if we wanted more comments? Or something to explain what cells/functions are doing as to not intimidate non-coders?

[2020-06-29 21:36] Frijol commented on #173
Should this now all go into the EEW Tracker?

[2020-06-29 21:36] maalvikabhat commented on #67
I can do this next week then?

[2020-06-29 21:36] Frijol commented on #172
@ericnost did this already happen?

[2020-06-29 21:37] Frijol commented on #164
@lourdesvera is this issue still relevant?

[2020-06-29 21:46] Frijol commented on #165
[Call for Proposals](https://2020.pycon.org.au/speak/) is open until July 12th! This is a well-respected international conference on Python, including related topics on community & open source. New speakers are explicitly welcome to apply.

I think this would be an excellent fit to showcase our EEW work, and a really good way for the presenter to get their name out into the professional developer

[2020-06-29 21:48] Frijol commented on #126
Should we close this issue and open a few for end of summer?

[2020-06-29 21:52] ericnost commented on #172
It happened enough! With the COVID nb event we did last week. Closing.

[2020-06-29 21:52] #172 closed

[2020-06-29 21:53] ericnost commented on #67
Yea, let's do it after we review/validate the notebook, which may require changes that should be reflected in a demo...

[2020-06-29 21:53] Frijol commented on #193
Don't forget to unassign yourself after completing! But I think this is good enough, closing the issue

[2020-06-29 21:53] #193 closed

[2020-06-29 21:54] Frijol commented on #199
this issue is a duplicate of https://github.com/edgi-govdata-archiving/EEW_Planning/issues/174, please pick which one is most useful & close the other

[2020-06-29 22:05] maalvikabhat commented on #165
I'm interested! I think something along the lines of making environmental justice analysis readily available/accessible with Jupyter Notebooks is fascinating. I could help write the proposal, create the presentation, or anything else we would need! Let me know

[2020-06-30 00:24] lesliealanis commented on #185
Final version: https://app.mural.co/invitation/mural/managementworkshops7524/1593052252947?sender=lesliealaniscazares6748&key=46482aea-ec4c-4f34-8099-b15517292a65

[2020-06-30 00:31] lesliealanis commented on #184
![](https://github.trello.services/images/mini-trello-icon.png) [Create questions for Storytelling Mural Board #184](https://trello.com/c/e7Lcru0k/79-create-questions-for-storytelling-mural-board-184)

[2020-06-30 12:36] ericnost commented on #195
I tried entering the exact same info as you did @Frijol and @Slackbot says "I’m sorry! I can’t find that channel." I give up.

[2020-06-30 13:40] saraannwylie commented on #121
@crgreenleaf and @mraisle could you make the slide deck editable so I can add comments? Also is it in the EDGI google drive, if not can you move it there? To the sunrise event folder--assuming we have one?

[2020-06-30 16:09] #212 closed

[2020-06-30 16:13] #112 closed

[2020-06-30 16:16] lourdesvera commented on #205
We need to break this issue down into smaller, more concrete steps. @gabrielletrudo @lesliealanis can you help?

[2020-06-30 16:18] lourdesvera commented on #17
@lesliealanis sent you the invite if you want to work from the trello. I haven't been up with it, but it's all yours if you'd like

[2020-06-30 16:22] lourdesvera commented on #184
<sub>[View in Slack](https://edgi.slack.com/archives/C015DK0LKPS/p1593534108002100)</sub>

[2020-06-30 16:25] lourdesvera opened #216 "Edit storytelling deck for track"
* [ ] Get feedback
* [ ] edit according to feeback
https://docs.google.com/presentation/d/1h-xdL1BVM90yxvPplCumFcfZsqbOWbCAbCgSOAd2KpY/edit#slide=id.g8a6a8961be_0_63

┆Issue is synchronized with this [Trello card](https://trello.com/c/7TRl2LHR)

[2020-06-30 16:28] lourdesvera commented on #157
@crgreenleaf @lesliealanis can we turn this into a powerpoint and then review it? It'd be good to close this issue and have the powerpoint on hand for whenever we need it

[2020-06-30 16:35] mraisle commented on #215
Made my notes a google doc b/c github was not pleased with copy/paste: https://docs.google.com/document/d/1gc6Hv8x30VUhKiURS2L-LXoMRL8UtmRD8IJ0QhtTGOg/edit?usp=sharing

[2020-06-30 16:44] gabrielletrudo commented on #208
My role at the event would be largely to take notes, pictures (read: screenshots), and craft after-workshop content for social media. I would also be happy to explain the data privacy bit of the Partnership Agreement--that by joining the Zoom they are agreeing to having their picture taken and shared, but they can reach out to me via the EEW email to have their individual photos blurred/obscured.

[2020-06-30 16:46] maalvikabhat commented on #208
My role at this event is to:
Serve as tech support for people working with the notebooks & primers

[2020-06-30 16:49] gabrielletrudo commented on #211
We have a rough social media plan that Kelly put together a few weeks ago in the Google Drive under Media_EEW > Social Media/Outreach Plans_EEW > Social Media Messaging/Strategies. I am happy to discuss with anyone in greater detail. I am going to start drafting tweets this week.

[2020-06-30 16:50] #161 closed

[2020-06-30 17:01] gabrielletrudo commented on #205
I am drafting some tweets that will help introduce the EEW project (wouldn't be a bad idea to write up an EDGI blog post so we can circulate that, I can talk to Kelly on Thursday in our Comms meeting about this we're going over publishing more generally), and I think once we start posting we should start to build our base (follow, ~50 people a day?) and reach out to Sunrise when we get closer to t

[2020-06-30 17:02] gabrielletrudo commented on #205
I can go through the Social Media Plan and add more concrete steps with due dates to keep us on track for the Sunrise workshop on the 18th.

[2020-06-30 17:03] gabrielletrudo commented on #204
General question: Would we do the registration or would Sunrise? Do we know exactly what registration entails (contact info for each person or just a general head count of how many people are attending?)

[2020-06-30 17:08] gabrielletrudo commented on #155
I have added my name to the schedule so I am unassigning myself. If I've done this prematurely, apologies--still consider myself a GitHub novice! Just re-assign me if I am needed on this for further planning.

[2020-06-30 17:14] lourdesvera commented on #184
Closing because it's moved on to the primer

[2020-06-30 17:14] #184 closed

[2020-06-30 17:31] #185 closed

[2020-06-30 17:35] Frijol commented on #165
I'm happy to be a resource at any point along this process

[2020-06-30 17:38] lesliealanis opened #217 "Integrating storytelling questions from #184 into storytelling primer"
Integrating storytelling questions from #184 into storytelling primer so we can close #184
Primer: https://docs.google.com/document/d/1mnoOV7DGq5DBCxTaf3h8MMG8lGhOCFXkmoeVK-2ZkSU/edit#heading=h.n6h5st5yipeh

┆Issue is synchronized with this [Trello card](https://trello.com/c/4Pnm2WyQ)

[2020-06-30 17:38] lesliealanis commented on #217
![](https://github.trello.services/images/mini-trello-icon.png) [Integrating storytelling questions from #184 into storytelling primer #217](https://trello.com/c/qY0plh6r/83-integrating-storytelling-questions-from-184-into-storytelling-primer-217)

[2020-06-30 17:39] Frijol commented on #197
In general yes! @lourdesvera did some of this a while ago and it's very helpful – also opens it up for more people to check through the notebooks when we're doing validation.

Do you have a good metric in mind we might add to this list for commenting, or do we want it more as a general principle while we work on them?

[2020-06-30 17:39] maalvikabhat commented on #165
thank you so much, Kelsey!

[2020-06-30 17:41] maalvikabhat commented on #197
Just a general principle, probably.  Also, some text contextualizing the data could be helpful. (Where we're getting the data from, how it's calculated, over what time periods, etc)

[2020-06-30 17:45] lesliealanis commented on #216
![](https://github.trello.services/images/mini-trello-icon.png) [Edit storytelling deck for track #216](https://trello.com/c/htYbfqE9/82-edit-storytelling-deck-for-track-216)

[2020-06-30 17:48] gabrielletrudo opened #218 "Intro Intern Blog Post"
Interns Answer 3 Qs by July 8th! https://docs.google.com/document/d/1SxPC560VkAptTBXWSLdjOaEG0o4y2kbQMjaSTpXYgDs/edit

┆Issue is synchronized with this [Trello card](https://trello.com/c/QDo4vTs3)

[2020-06-30 17:52] #81 closed

[2020-06-30 17:52] #80 closed

[2020-06-30 17:53] lesliealanis commented on #218
![](https://github.trello.services/images/mini-trello-icon.png) [Intro Intern Blog Post #218](https://trello.com/c/cg24Fnl8/84-intro-intern-blog-post-218)

[2020-06-30 17:58] Frijol commented on #195
oh yeah for some reason you have to backspace the end of it and let it autocomplete (?)

[2020-06-30 18:11] crgreenleaf commented on #174
@Frijol It's an offshoot!

[2020-06-30 18:11] saraannwylie commented on #186
Is this different from the Mural? @lesliealanis could you link the mural in here if it's not?

[2020-06-30 18:11] ericnost commented on #208
My roles at the event:

- Support for working with notebooks
- Support for explaining environmental law/how EPA programs are structured

[2020-06-30 18:11] saraannwylie commented on #157
I can review this if needed?

[2020-06-30 18:13] crgreenleaf commented on #215
@ericnost I got confused, makes sense!

[2020-06-30 18:14] ericnost commented on #215
Here's a run-able version! https://colab.research.google.com/github/edgi-govdata-archiving/ECHO-Sunrise/blob/master/ECHO-Sunrise.ipynb

[2020-06-30 18:14] crgreenleaf commented on #210
Any further movement on this?

[2020-06-30 18:15] mraisle commented on #83
@calderEDJ is there a place where the text is? Only link I see here is canva

[2020-06-30 18:28] ericnost commented on #176
The Combined Air Emissions table we have is structured as follows, for each facility, for each year, for each pollutant, pounds emitted. So, I'm wondering if we need to do conversions? The full Discharge Monitoring Reports for Water are a bit more detailed and sometimes measured in ug/m3. But there are real obstacles in accessing the full DMRs.

[2020-06-30 18:29] ericnost commented on #15
Held up. I think we are in a good spot with this, but it's unclear whether / how this could be a general primer vs one for a specific partnership/event.

[2020-06-30 18:41] #174 closed

[2020-06-30 18:41] saraannwylie opened #219 "Onboarding materials for Alex"
Next week Alex starts as our webdeveloper, we need to organize on boarding materials and get the spec together for the EEW website.

┆Issue is synchronized with this [Trello card](https://trello.com/c/7lk4XuMb)

[2020-06-30 18:42] Frijol commented on #199
Video: https://files.slack.com/files-pri/T32U2HQG1-F015QDLECS2/download/eew_promo_video.mp4

[2020-06-30 19:42] lesliealanis commented on #186
@saraannwylie here it is: https://app.mural.co/invitation/mural/managementworkshops7524/1593052252947?sender=lesliealaniscazares6748&key=46482aea-ec4c-4f34-8099-b15517292a65

[2020-06-30 20:50] lesliealanis commented on #157
I downloaded the canva version made a google PowerPoint version: https://docs.google.com/presentation/d/1F4BLhCnl229D2VFGKyuvgY7Rv1zDrdmM39vsY5oK9o0/edit?usp=sharing

[2020-06-30 21:27] lesliealanis commented on #211
![](https://github.trello.services/images/mini-trello-icon.png) [Social media plan #211](https://trello.com/c/Q7KzOcmK/85-social-media-plan-211)

[2020-07-01 01:24] lesliealanis commented on #205
@lourdesvera @gabrielletrudo  I can help with the tweets,  let me know what I can help with!

[2020-07-01 13:30] #215 closed

[2020-07-01 13:57] saraannwylie commented on #197
We should spot check specific facility reports against the online ECHO data?

[2020-07-01 13:58] saraannwylie commented on #197
Is there or should we add something assuring the provenance of the data in the stonybrook database from ECHO--like some kind of metadata tag saying the time/date of the download to stonybrook?

[2020-07-01 14:20] mraisle opened #220 "EPA Acronym Glossary"
Draft of a hopefully comprehensive EPA acronym glossary + important names someone might come across. I'm working on this for the interviewing + policy monitoring working group, but thought it might be helpful for people in EEW, also. Feel free to add to it and/or give it a look over!
https://docs.google.com/document/d/1UMYjIKBfwIfGsm7EixKRh9FDgT8GuNKC1_BKZrFaMos/edit?usp=sharing

┆Issue is synchro

[2020-07-01 14:20] mraisle commented on #220
@gabrielletrudo let me know if you have a chance to look it over

[2020-07-01 14:40] gabrielletrudo opened #221 "Partnership Agreement"
Polish Up the Partnership Agreement: https://www.canva.com/design/DAEAkhhIy9I/share/preview?token=Px4xLFA0BcgiF8xEUBKfkQ&role=EDITOR&utm_content=DAEAkhhIy9I&utm_campaign=designshare&utm_medium=link&utm_source=sharebutton

┆Issue is synchronized with this [Trello card](https://trello.com/c/Za11MDzw)

[2020-07-01 14:50] crgreenleaf commented on #218
Completed 👍

[2020-07-01 14:58] crgreenleaf commented on #42
@Frijol  This is now linked with #182 so we can close this!

[2020-07-01 14:59] #42 closed

[2020-07-01 15:44] #209 closed

[2020-07-01 15:44] #157 closed

[2020-07-01 16:17] crgreenleaf commented on #121
@Wylie, Sara <s.wylie@northeastern.edu> it should be in the 7.18.20 event
folder now!

On Tue, Jun 30, 2020 at 9:41 AM Sara Ann Wylie <notifications@github.com>
wrote:

--
*Casey Greenleaf **(she/hers)*
B.A. Cultural Anthropology - Northeastern University
ELM Action Fund <https://www.elmaction.org/> Fellow
Environmental Enforcement Watch
<https://www.environmentalenforcementwatch.org/>Outreach & O

[2020-07-01 16:18] crgreenleaf commented on #204
I think we would? We might want to set up a zoom event and registration
form. Not sure if we can do that just for a general meeting but we could
make it a webinar and do it that way through the EDGI Zoom

On Tue, Jun 30, 2020 at 1:04 PM gabrielletrudo <notifications@github.com>
wrote:

--
*Casey Greenleaf **(she/hers)*
B.A. Cultural Anthropology - Northeastern University
ELM Action Fund <https://w

[2020-07-01 16:20] crgreenleaf commented on #155
It seems like all the slots are full 🤔 if anyone feels that they don't
need to/want to go I'd be happy to in their place but not sure what to do
otherwise༈

On Tue, Jun 30, 2020 at 1:08 PM gabrielletrudo <notifications@github.com>
wrote:

--
*Casey Greenleaf **(she/hers)*
B.A. Cultural Anthropology - Northeastern University
ELM Action Fund <https://www.elmaction.org/> Fellow
Environmental Enforcem

[2020-07-01 16:40] lesliealanis commented on #182
Here is the email template, I feel like its too wordy so please feel free to look at it and make suggestions:
https://docs.google.com/document/d/1jzUdA8-6IhJY0BYdOn8ll4q9wiINJDQMJvsL86k0aN4/edit?usp=sharing

[2020-07-01 16:43] lesliealanis commented on #155
@lourdesvera is it ok if I close this issue?

[2020-07-01 18:02] lourdesvera commented on #153
@Frijol are we closing this?

[2020-07-01 18:04] #155 closed

[2020-07-01 18:07] #15 closed

[2020-07-01 18:08] lourdesvera commented on #83
We decided to make this into a sample report to post on our blog and give to potential partner organizations.

It might be a good idea to send this report to communities in Louisiana.

[2020-07-01 18:13] lourdesvera commented on #186
@lesliealanis @saraannwylie @crgreenleaf we did want to make the mural an optional breakout room, so it'll be good to have the intro and conclusion slides to guide the track as a whole

[2020-07-01 21:06] calderEDJ commented on #208
- Working with Megan and to develop a canva report template for the event and with @crgreenleaf (?) to get feedback from Sunrise folks the template structure/content
- Facilitating the incorporation of findings from research&contextualization tracks into the canva report, maybe helping to facilitate one of these tracks
- Help organize tracking of event data/outputs in google drive during and after

[2020-07-01 21:38] mraisle commented on #208
- Facilitate the Research and Contextualization track
- Potentially be on hand to help with any questions around the notebook
- Be involved in follow-up with Sunrise as they figure out what further research/reporting they'd like to do.

[2020-07-01 21:39] #208 closed

[2020-07-01 21:58] Frijol commented on #153
Sure, I think so!

[2020-07-01 21:58] #153 closed

[2020-07-01 22:01] Frijol commented on #155
@crgreenleaf take my spot!

[2020-07-01 22:22] Frijol commented on #199
@calderEDJ is that file ^ still the right link?

Feedback:
* Timestamp 1:49 I think the accidental text "ate" is in the middle of the page?
* Recommend highlighting behind text, it's hard to read on top of the videos
* Would be useful to compare with existing EPA site? Talk about user feedback maybe?
* Show/go into results for an area a bit? A lot of time is spent on the notebook itself but it mig

[2020-07-01 22:36] saraannwylie commented on #83
I can send this to Healthy Gulf in Lousiana @lourdesvera and @calderEDJ ? I'd like to get it ready for that. @calderEDJ could you put this in a draft or comment-able mode in Canva so it's easier to share feedback?

[2020-07-01 22:41] Frijol commented on #219
@EDGI-Comms has an initial draft onboarding doc!

[2020-07-02 01:57] saraannwylie commented on #83
@calderEDJ @crgreenleaf can we build an EDGI team on Canva so we can co-edit documents?

[2020-07-02 02:12] saraannwylie commented on #83
Notes:

Text: "This willful, calculated harm is especially insidious because it represents an attitude of racial
superiority that cannot be tolerated." Not sure we can prove "willful and calculated" also "attitude of racial superiority that cannot be tolerated" seems awkward better to name racism or white supremacy directly? Suggest revise to "the failure to abide by or enforcement environmental r

[2020-07-02 02:34] saraannwylie commented on #83
- Seems like the RCRA materials could be compressed into one page?

- Perhaps along with the Map of permitted facilities, there should be some key facts about this district? Louisiana 2nd district is a center for US chemical and fertilizer production as well as petroleum refining. Black communities have lead battles for Environmental Justice through out "cancer alley". Cancer rates a X's. Per capi

[2020-07-02 16:51] lesliealanis commented on #217
Hi @lourdesvera @crgreenleaf does the formating look all right so far? any suggestions?

[2020-07-02 16:54] lesliealanis commented on #186
@lourdesvera I changed it a little to include the same questions from the mural but in a more conversational format but i saved a copy of the original that @crgreenleaf made

[2020-07-03 14:18] mraisle commented on #218
Done! Thanks Gabby :)

[2020-07-03 15:41] mraisle commented on #220
Completed: https://docs.google.com/document/d/1UMYjIKBfwIfGsm7EixKRh9FDgT8GuNKC1_BKZrFaMos/edit?usp=sharing

[2020-07-03 15:41] #220 closed

[2020-07-03 15:45] lesliealanis commented on #211
@gabrielletrudo I am happy to help with social media, let me know what I can help with! I'll start by looking at the Social Media Messaging/strategies doc

[2020-07-03 15:50] lesliealanis opened #222 "Tweaking a copy of the storytelling primer for sunrise event"
This is the copy: https://docs.google.com/document/d/1oxRp-BgZ8re2B16OJa3yzoTWbcqxn2bjxJX7ogSuxpc/edit#

┆Issue is synchronized with this [Trello card](https://trello.com/c/VKN9I9SQ)

[2020-07-03 17:55] mraisle commented on #197
@saraannwylie Yep I can help with that in the next draft.
Also, @maalvikabhat @Frijol, added a few things to your original list and tried to incorporate the comments here. here's what I've got:

## Checklist

### Basic function
* Does it run all the way through as a Colab notebook when you are signed in as someone with no special EDGI access?
* Does it create the outputs it is supposed to create (

[2020-07-04 16:37] gabrielletrudo commented on #221
New Partnership Agreements:
Black/White (https://www.canva.com/design/DAEBCCGibS8/rAq3VxQtq7AQtQMtDKS43g/edit)
Green/Orange (https://www.canva.com/design/DAEAzPdLCeA/share/preview?token=zILlPyo8EXsUJnV-23C7Og&role=EDITOR&utm_content=DAEAzPdLCeA&utm_campaign=designshare&utm_medium=link&utm_source=sharebutton)

New Workshop Guidelines:
Rectangle with Minimal Design: (https://www.canva.com/design/DAE

[2020-07-06 16:33] gabrielletrudo commented on #211
(More Specific) Social Media plan with deadlines might help us (read: me) stay on track for Sunrise Workshop promo: https://docs.google.com/document/d/1MmfSZrexkstz49-eyPzocWIP_6BQflIC_XwnbppqP3k/edit

[2020-07-06 18:24] #219 closed

[2020-07-06 20:07] mraisle opened #223 "Spreadsheet for Enforcement Report"
Here's the start of a spreadsheet where we can flag senators, companies, and watersheds of interest as we run various notebooks that might be worthwhile to include in EDGI's enforcement report:
https://docs.google.com/spreadsheets/d/1AfHhKtcMaEU5fPMLx41IWYdZTc15tnkKE0jaql8hJp8/edit#gid=0

Please look over the current organization of the spreadsheet and suggest or make any edits and then start cont

[2020-07-06 20:14] mraisle opened #224 "Compiling 2018 Enforcement Statistics"
This week I'm going to create a document using the EPA 2018 enforcement report as well as The Sheep in the Closet report so we have some good baseline comparison metrics. I'll add more assignees once it's ready for review!
Link to EPA 2018 Enforcement report - https://www.epa.gov/sites/production/files/2020-02/documents/fy19-enforcement-annual-results-data-graphs.pdf

┆Issue is synchronized with t

[2020-07-07 00:31] #217 closed

[2020-07-07 02:24] lesliealanis opened #225 "Create Mural for (Sunrise?) Storytelling Event"
this is just a place to put the mural for review

┆Issue is synchronized with this [Trello card](https://trello.com/c/WiYoK5AV)

[2020-07-07 02:29] lesliealanis commented on #216
https://docs.google.com/presentation/d/1h-xdL1BVM90yxvPplCumFcfZsqbOWbCAbCgSOAd2KpY/edit#slide=id.g8a6a8961be_0_63

[2020-07-07 02:29] #186 closed

[2020-07-07 02:33] lesliealanis commented on #225
linked with issue #216 since #216 is the non-mural version of the storytelling event, #216 is more of a conversational format than an interactive format

[2020-07-07 13:35] ericnost commented on #165
I am looking for one more reviewer on a proposal @maalvikabhat has put together to present about the notebooks at PyCon Australia: https://docs.google.com/document/d/1WFSssLN-7pAjeezKDLt1vu3TdlwXRM0-8v-GusEKTdI/edit (we'd also submit this or something similar to JupyterCon) Kelsey and I have weighed in already but, as in academic peer review, it would be good to get a third perspective! @saraannwy

[2020-07-07 16:11] mraisle commented on #214
Here's a draft outline and some questions Cole and I are thinking about: https://docs.google.com/document/d/1PZ6baK92dU3WMWRbUl5HoHdAuPPHYmUUGIE_NTV_AD8/edit?usp=sharing
Please provide comments in this document :)

[2020-07-07 16:12] mraisle commented on #214
@saraannwylie @crgreenleaf Will you review the above document?

[2020-07-07 16:21] lourdesvera commented on #199
Did it! Thank you @calderEDJ and @crgreenleaf

[2020-07-07 16:21] #199 closed

[2020-07-07 16:22] #213 closed

[2020-07-07 16:22] mraisle opened #226 "News Search for Enforcement Report"
For @leiffredrickson - look through of the news to bring up ideas for the enforcement report.
Maybe add a google doc link here when finished!

┆Issue is synchronized with this [Trello card](https://trello.com/c/jY3DwcKr)

[2020-07-07 16:23] lourdesvera commented on #83
Who else should we assign to this. @mraisle it seems your hands are full? @maalvikabhat? I can work on it too

[2020-07-07 16:25] lourdesvera commented on #202
Closing and combining with #197

[2020-07-07 16:25] #202 closed

[2020-07-07 16:27] lourdesvera commented on #198
@ericnost Can I assign you to this? What do we think the next steps are?

[2020-07-07 16:29] mraisle commented on #83
Hey @lourdesvera thanks for flagging! @calderEDJ and I met about this and then haven't spent time addressing Sara's comments. Addressing these would help us in thinking through the Sunrise report that we're a bit stuck on at the moment, also.

[2020-07-07 16:31] mraisle commented on #83
Question for @lourdesvera  and @saraannwylie, after our conversation last week about our hesitation in including EJ metrics in the Sunrise notebook, do we have similar hesitations in expanding the EJ emphasis in a template report? Or should we pursue that?

[2020-07-07 16:41] maalvikabhat commented on #83
I can work on this!

[2020-07-07 16:49] lourdesvera commented on #211
Let's finish this social media plan and drop it in the EEW planning folder, posting it for review

[2020-07-07 18:23] ericnost commented on #198
My feeling is that I don't think we can move forward on this until we have a meeting dedicated solely to discussing the academic orientation of EEW: What do we want to get out of this? What capacity do we have? I don't think we would be able to pull off an IRB in the short-term given everything else we have to do to set up events.

[2020-07-07 18:29] crgreenleaf opened #227 "Event registration google sheet"
┆Issue is synchronized with this [Trello card](https://trello.com/c/zQMq65Yv)

[2020-07-07 18:30] crgreenleaf opened #228 "Compile run of show document"
┆Issue is synchronized with this [Trello card](https://trello.com/c/j9i7G1bH)

[2020-07-07 18:31] saraannwylie commented on #198
I agree, I think we should draft an exit survey to figure out what we need for EEW/EDGI, I don't think we should think about this is a research project per say, we didn't for data rescue and wrote a lot about it.

[2020-07-07 18:31] #221 closed

[2020-07-07 18:31] #198 closed

[2020-07-07 18:33] crgreenleaf opened #229 "Publicize EEW event in Sunrise Slack/channels"
┆Issue is synchronized with this [Trello card](https://trello.com/c/MEG40r0l)

[2020-07-07 18:34] crgreenleaf opened #230 "Send out pre-event email to registrants"
- [ ] Draft/review email
- [ ] Collect emails from registration
- [ ] Send email night before
- [ ] Rename & create Sunrise Slack channel in EDJ slack

┆Issue is synchronized with this [Trello card](https://trello.com/c/yaNGun75)

[2020-07-07 18:35] Frijol commented on #106
Purchased!

[2020-07-07 18:36] mraisle commented on #214
Let's meet with Sarah Pardo and circle back to this

[2020-07-07 19:12] ericnost commented on #178
to do [potentially incomplete list]
- [ ] Create Sunrise-specific version of Data Science primer https://docs.google.com/document/d/1U5dXweG-YBBzz1FYpOJzLvh6YZWJLivTb7BuaIIFe_o/edit
- [ ] Create Sunrise-specific version of Congressional District primer https://docs.google.com/document/d/17fBEiAVdTJvPmO7ZRC86vfGKkfHMVMHkQnyMJOHqMjw/edit
- [ ] Add examples/example workflow to Data Viz primer https:/

[2020-07-08 13:30] crgreenleaf commented on #227
https://forms.gle/BkJg4DPBZZbW4q3E6

[2020-07-08 15:09] calderEDJ opened #231 "EEW landing page edits"
* [x] home page, link hyperlink needs fixing (What is a Jupyter notebook [hyperlink]).
* [x] about page Green Roots is GreenRoots
* [x] It doesn't look like this document about juypter notebooks ready to share (linked on about page) "https://docs.google.com/document/d/1fAWoUbsISSV-tFZvASbTDE6KRl6Hkeu4p-N2jpQFmt0/edit". suggest substituting with a link to https://jupyter.org/
* [x] don't know if we

[2020-07-08 16:33] saraannwylie commented on #231
Should we add something that credits @calderEDJ with the video music and @crgreenleaf with the video production? Should we add a line that credits those who designed the website @lourdesvera in particular?

[2020-07-08 16:48] ericnost commented on #231
+100

[2020-07-08 16:53] ericnost commented on #197
I am closing this and adding this set of questions to the Cross-Program (and eventually, Sunrise) notebooks repos.

[2020-07-08 16:54] #197 closed

[2020-07-08 18:19] lourdesvera commented on #231
in the youtube description we need to credit Casey too

[2020-07-09 14:55] #229 closed

[2020-07-09 14:56] #227 closed

[2020-07-09 14:57] #204 closed

[2020-07-09 14:57] #194 closed

[2020-07-09 14:58] #86 closed

[2020-07-09 14:58] #129 closed

[2020-07-09 14:59] #145 closed

[2020-07-09 15:28] lesliealanis commented on #205
The tweet drafts are at the bottom of this doc https://docs.google.com/document/d/1MmfSZrexkstz49-eyPzocWIP_6BQflIC_XwnbppqP3k/edit

[2020-07-09 15:30] #216 closed

[2020-07-09 15:32] lesliealanis commented on #211
draft tweets at the bottom of https://docs.google.com/document/d/1MmfSZrexkstz49-eyPzocWIP_6BQflIC_XwnbppqP3k/edit

[2020-07-09 17:43] saraannwylie commented on #231
Hey all Kelly just shared some thoughts on the EEW landing page:

- [ ] The EDGI logo is blurry,

- [ ] the social icons aren’t the same size,

- [ ] there’s spaces between the words in one of our hashtags, and

- [ ] there’s a few layout things too, but most importantly I think it would be better to have a better layout for the tracks. The way the icons and text is organized is a bit disorderly.

[2020-07-09 18:28] lourdesvera commented on #225
@crgreenleaf can we have a meeting next week to work on storytelling with @lesliealanis?

[2020-07-09 18:29] lesliealanis commented on #225
link to mural:
https://app.mural.co/invitation/mural/managementworkshops7524/1593052252947?sender=lesliealaniscazares6748&key=46482aea-ec4c-4f34-8099-b15517292a65

[2020-07-09 19:16] Frijol opened #232 "List 5 EEW goals on EEW website"
Goals are here: https://app.mural.co/t/managementworkshops7524/m/managementworkshops7524/1590629229746/f4980a794a1ec62cc327df36e31578881e5441c6

┆Issue is synchronized with this [Trello card](https://trello.com/c/TFHH8jIp)

[2020-07-09 19:17] Frijol opened #233 "Write blog post that introduces EEW and includes 5 goals"
Goals are here: https://app.mural.co/t/managementworkshops7524/m/managementworkshops7524/1590629229746/f4980a794a1ec62cc327df36e31578881e5441c6

@gabrielletrudo is this a duplicate of an existing issue to make an EEW intro blog post?

┆Issue is synchronized with this [Trello card](https://trello.com/c/Wh0LUXRx)

[2020-07-09 19:17] Frijol opened #234 "Put the 5 EEW goals into slack reminders"
Goals are here: https://app.mural.co/t/managementworkshops7524/m/managementworkshops7524/1590629229746/f4980a794a1ec62cc327df36e31578881e5441c6

┆Issue is synchronized with this [Trello card](https://trello.com/c/ElAc0O58)

[2020-07-09 19:54] lourdesvera commented on #231
maybe we need to just find new social media icons. The ones we have are hard to re-size and make the same size since they all come in different dimensions.

[2020-07-09 20:18] lourdesvera commented on #231
The reason the tracks aren't laid out like that are because this is what it looks like on a tablet:
![image](https://user-images.githubusercontent.com/23300449/87086539-c1c5ac00-c1ff-11ea-88da-e2f7a5877d58.png)

[2020-07-09 22:45] Frijol commented on #234
Pulling in the goals from the Mural, any final edits on their proposed phrasing?

1. Draw large-scale public attention to lack of environmental enforcement
2. Work with partner organizations, especially marginalized communities, to build data efficacy through mutually beneficial relationships
3. Inform EPA visions of alternative forms of public engagement—a Green New Deal for environmental data
4.

[2020-07-09 22:48] Frijol commented on #232
@calderEDJ should this issue belong to you?

[2020-07-09 22:48] Frijol commented on #232
discussing specific text of goals in https://github.com/edgi-govdata-archiving/EEW_Planning/issues/234

[2020-07-09 22:49] Frijol commented on #233
Working on wording for goals here https://github.com/edgi-govdata-archiving/EEW_Planning/issues/234

[2020-07-09 22:51] Frijol commented on #234
also asked on Slack: https://edgi.slack.com/archives/CKN6FMX42/p1594334800164100

[2020-07-13 20:27] #224 closed

[2020-07-14 15:40] #231 closed

[2020-07-14 17:36] #234 closed

[2020-07-14 18:12] saraannwylie commented on #228
https://docs.google.com/document/d/1kg7L2Glx7M140CaTcwx3pzVT0DUwfb7C9L7apQoIXew/edit#

See here

[2020-07-14 18:14] Frijol commented on #165
@maalvikabhat this got submitted, right?

[2020-07-14 18:14] #164 closed

[2020-07-14 18:15] maalvikabhat commented on #165
Yes :) So has the JupyterCon proposal

[2020-07-14 18:15] #165 closed

[2020-07-14 18:18] Frijol commented on #7
@ozzmotic adding you to this issue in case helpful, not sure how relevant the checklist still is

[2020-07-14 18:24] Frijol commented on #22
Do we still want this? I don't think it really suits our current vision for the data science track

[2020-07-14 18:24] Frijol commented on #21
I think we've achieved at least a basic version of this via description in the notebooks. We also have the repo of scripts: https://github.com/edgi-govdata-archiving/ECHOEPA-to-SQL which has some description

[2020-07-14 18:24] #21 closed

[2020-07-14 18:27] Frijol commented on #45
@crgreenleaf should this issue be assigned to you?

[2020-07-14 18:27] Frijol commented on #21
related: https://github.com/edgi-govdata-archiving/EEW_Planning/issues/94

[2020-07-14 18:28] Frijol commented on #94
Repo has been transferred to EDGI ownership: https://github.com/edgi-govdata-archiving/ECHOEPA-to-SQL

[2020-07-14 18:29] Frijol commented on #87
Did we apply for free Canva for nonprofits?

[2020-07-14 18:30] Frijol commented on #95
This was done! https://github.com/edgi-govdata-archiving/ECHOEPA-to-SQL

[2020-07-14 18:30] #95 closed

[2020-07-14 18:32] Frijol commented on #96
cc @mraisle @leiffredrickson that this collection of data errors exists. There's also this document [Principles for Open Environmental Data](https://docs.google.com/document/d/1T1fKYxSqGOCyCFK2jgl2X_Oj7TpqfzAVTU8Noals7hw/edit#) and I think some things are tracked in the [EEW Tracker](https://docs.google.com/spreadsheets/d/1Z2rBoGqb_SXW6oAu12A6TCWEJGV1pk0YxL13P_Z5Wlw/edit#gid=1601968109)

[2020-07-14 18:33] #102 closed

[2020-07-14 18:35] Frijol commented on #121
Is the Sunrise notebook now the best place for this?

[2020-07-14 18:36] #189 closed

[2020-07-14 18:39] Frijol opened #235 "Set up EDJ Slack"
From Sunrise Event [Main Doc](https://docs.google.com/document/d/1kg7L2Glx7M140CaTcwx3pzVT0DUwfb7C9L7apQoIXew/edit?ts=5f089884#)

Set up EDJ Slack
		Rename?
Should we make an EEW channel to the EDJ
Amend title to EDJ@EEW
		Make Sunrise channel?
		Invite participants
			When?
			Friday/Thursday?
		Check people actually join?

Also relevant: https://www.google.com/url?q=https://github.com/edgi-govda

[2020-07-14 18:44] Frijol opened #236 "Test breakout room chats for Sunrise EEW Event"
on Thursday

[2020-07-14 18:45] Frijol commented on #230
From [Sunrise Event Planning Doc](https://docs.google.com/document/d/1kg7L2Glx7M140CaTcwx3pzVT0DUwfb7C9L7apQoIXew/edit?ts=5f089884#)

Send onboarding email to registrants with:
Slack invitation
Start here primer to look over
Request that they
Read code of conduct prior to attending
Join the Slack prior to attending
Introduce themselves in the Slack prior to attending
Anything they might want to br

[2020-07-14 18:47] Frijol opened #237 "Tweet about Sunrise EEW event"
From [Sunrise Event Planning Doc](https://docs.google.com/document/d/1kg7L2Glx7M140CaTcwx3pzVT0DUwfb7C9L7apQoIXew/edit?ts=5f089884#)

Tweet about event
When
Who
What should we say?
Sarah Pardo from Sunrise can review any tweets before they’re sent.

[2020-07-14 18:50] Frijol opened #238 "Ensure Sunrise <> EDGI partnership agreement is good to go"
Especially Page 3.
In Tuesday meeting it sounded like Sara P was fine with it, Sara S had sent it to someone else at Sunrise to take a look at who we hadn't heard back from yet

[2020-07-14 18:56] Frijol opened #239 "Make intro presentation for EEW Sunrise event"
From [Sunrise Event planning doc](https://docs.google.com/document/d/1kg7L2Glx7M140CaTcwx3pzVT0DUwfb7C9L7apQoIXew/edit?ts=5f089884#)

Make intro presentation--Sara/Casey
Make sure code of conduct is integrated
Make sure caution about not sharing data too soon is integrated.
Integrate sign up for breakouts

[2020-07-15 02:14] saraannwylie opened #240 "Make Breakout session 1 slide decks for each program"
These google slide decks will be used in each program break out session in the first half of the workshop.

I drafted a full template here with space for reports for 1 program for 3 congressional districts:
https://docs.google.com/presentation/d/1Qf3_j8hwjc5TXgWaX_uzpCgRtLbDmJr6SdMZK-LEGKw/edit#slide=id.g8d8e06c901_0_98

[2020-07-15 02:18] saraannwylie opened #241 "Make congressional report slide decks for the Sunrise event that will contain the results from the breakout groups"
Once the breakout are complete we'll compile their results into congressional report deck for districts 4, 7 and 8 in Ma. These need to be linked to the breakout session slides ahead of time. see issue #240

[2020-07-15 02:19] saraannwylie commented on #241
I've not started this as I'm not sure if @mraisle is already working on it.

[2020-07-15 02:56] saraannwylie commented on #240
- [ ] Template needs a review by breakout leads @mraisle @crgreenleaf @calderEDJ

- Once reviewed template needs to be copied and customized to each program breakout group to add the program name throughout and district number, link to notebook and link to google drive data folder.

- [ ] CWA customized,

- [ ] CAA customized

- [ ] RCRA customized

- [ ] Once customization is complete breakout gr

[2020-07-15 13:20] ericnost commented on #240
This is quite impressive. Seeing it laid out like this, however, makes me wonder if we're asking too much of each breakout. But, if they only get 1 district, that's ok. Perhaps we could customize a version with example output so people know what they're aiming for?

[2020-07-15 14:21] saraannwylie commented on #240
Agreed I think it's probably too much to hope for folks to work through more than 2 districts.

[2020-07-15 17:58] mraisle commented on #241
Link to current draft: https://docs.google.com/presentation/d/1516-Iki_2TB-P0ifXmhpfYMsbITIaGpoTjbSkLX33TA/edit?usp=sharing

[2020-07-15 18:00] mraisle commented on #241
^ after folks have edited and reviewed this, we can start linking slides to the appropriate Breakout 1 Program slides

[2020-07-15 18:18] #27 closed

[2020-07-15 18:21] crgreenleaf commented on #238
I'm comfortable with it!

[2020-07-15 18:36] crgreenleaf commented on #235
Slack made! I plan to invite participants to join at the end of today (Wednesday) to leave time for troubleshooting

[2020-07-15 20:01] saraannwylie commented on #241
Great start @mraisle I gave the template a thorough read.

[2020-07-15 20:10] saraannwylie commented on #228
To do list for this doc:

- [ ] Add feedback table for after breakout 1 (sara w to draft)
- [ ] Add/check links to Data Vis materials (@lourdesvera
- [ ] Add/check links to Story telling materials @lesliealanis
- [ ] Add/check links to Notebook @ericnost
- [ ] Add/check links to breakout group slide decks (Sara)
- [ ] Add/check links to congressional district report @mraisle
- [ ] Add/check links

[2020-07-15 20:16] saraannwylie commented on #228
List for activities in run of show:

- [ ] Check if we can make multiple zoom hosts
- [ ] Test break out group sign up
- [ ] Test green house gas demo and data gathering

- [ ] Test moving into break out rooms
- [ ] Test chatting in break out rooms -do we use zoom or slack?
- [ ] Test running notebooks at same time
- [ ] Test moving findings to the working group slide deck
- [ ] Try saving data in

[2020-07-16 03:25] mraisle commented on #240
Here are the customized links for each program. They still need the link to the notebook, link to google drive data folder, and an example slide for GHGRP:
CAA - https://docs.google.com/presentation/d/1nZv5t-M3fKBi5RlGkblDT2qt5iX7TCJw0NHvC0h8yKI/edit?usp=sharing
CWA - https://docs.google.com/presentation/d/1UgAZ7EZBBNiuAw4p7eQtH7jRmScpQsw9w_4CTGE1hgM/edit?usp=sharing
RCRA - https://docs.google.com

[2020-07-16 15:02] #235 closed

[2020-07-16 15:03] #230 closed

[2020-07-16 16:25] mraisle commented on #241
District 4 Slide Deck: https://docs.google.com/presentation/d/14wJod7YY_tHQnxH7ykh8fgMhDQvd3RqT5QsYucsqxUk/edit?usp=sharing

District 8 Slide Deck: https://docs.google.com/presentation/d/1_ahugjy24yp3D1DHaf1CxgDoplkFePAz8Sg9Y-Ls974/edit?usp=sharing

[2020-07-16 16:26] mraisle commented on #241
Cole and I are working on linking slides now

[2020-07-16 18:21] mraisle commented on #241
Final Slide Decks:
District 4 Slide Deck: https://docs.google.com/presentation/d/14wJod7YY_tHQnxH7ykh8fgMhDQvd3RqT5QsYucsqxUk/edit?usp=sharing

District 8 Slide Deck: https://docs.google.com/presentation/d/1_ahugjy24yp3D1DHaf1CxgDoplkFePAz8Sg9Y-Ls974/edit?usp=sharing

closing this issue!

[2020-07-16 18:21] #241 closed

[2020-07-16 18:21] mraisle commented on #240
^link above are most final version, all that's needed it link to data folder

[2020-07-17 13:51] saraannwylie commented on #228
Great work going through the rehearsal yesterday here's my list of remaining to dos based on the feedback throughout--Things to add here? Or assignments to change? Hope this list isn't overbearing!!

**[Intro](https://docs.google.com/presentation/d/1dTli9mghTIhFOFLVHDp1m84pGlLXckg3/edit#slide=id.g8c23d18a2d_1_0)**
- [ ] Revise and update Intro @crgreenleaf and @saraannwylie

- Make the goal of mak

[2020-07-17 15:29] gabrielletrudo commented on #237
https://twitter.com/EEW_Network/status/1284131637756866561

[2020-07-17 15:29] #237 closed

[2020-07-17 15:32] gabrielletrudo commented on #211
Updated SM Plan (certain parts still in progress): https://docs.google.com/document/d/1MmfSZrexkstz49-eyPzocWIP_6BQflIC_XwnbppqP3k/edit#

[2020-07-17 15:32] #211 closed

[2020-07-17 22:00] saraannwylie commented on #228
@calderEDJ @mraisle How does this sound for clearer direction on what's happens in the first breakout?

@Cole @Megan R How does this sound for clearer steps for the breakout sessions? To divide up the work?
Step 1: Working as a group run the notebook for District 4 and fill out slides 4 and 5 together.
Step 2: Divide up slides 6-10 and fill them in (add your name to slide you worked on).
Step 3: R

[2020-07-18 14:53] saraannwylie commented on #228
@mraisle and @calderEDJ just made the above change to all the program breakout slides

[2020-07-21 16:36] #238 closed

[2020-07-21 16:36] #225 closed

[2020-07-21 16:37] #210 closed

[2020-07-21 16:37] #214 closed

[2020-07-21 16:37] #228 closed

[2020-07-21 16:37] #205 closed

[2020-07-21 16:38] lourdesvera commented on #218
@gabrielletrudo how is this going?